@charset "UTF-8";
/*------------------------------------*\
    FUNCTION
\*------------------------------------*/
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
/*------------------------------------*\
    $COLORS
\*------------------------------------*/
/*------------------------------------*\
    $SPACES
\*------------------------------------*/
/*------------------------------------*\
    $SHADOWS
\*------------------------------------*/
/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
    $FONTS
\*------------------------------------*/
h1 {
  font-size: clamp(2.5rem, -0.875rem + 8.333vw, 4.3rem);
}

h2 {
  font-size: clamp(2.2rem, -0.875rem + 8.333vw, 3.8rem);
}

h3 {
  font-size: clamp(1.9rem, -0.875rem + 8.333vw, 2.75rem);
}

h4 {
  font-size: clamp(1.7rem, -0.875rem + 8.333vw, 1.8rem);
}

span {
  font-size: 1rem;
}

.text-large {
  font-size: clamp(1.6rem, -0.875rem + 8.333vw, 1.56rem);
}
.text-large__garamond {
  font-family: "EB Garamond", serif;
  font-size: clamp(3.4rem, -0.875rem + 8.333vw, 3.4rem);
  font-weight: 800;
  line-height: 3.6rem;
}
.text-medium {
  font-size: clamp(1.3rem, -0.875rem + 8.333vw, 1.4rem);
}
.text-medium__garamond {
  font-family: "EB Garamond", serif;
  font-size: clamp(2.2rem, -0.875rem + 8.333vw, 2.2rem);
  font-weight: 800;
  line-height: 2.5rem;
}
.text-small {
  font-size: clamp(1.1rem, -0.875rem + 8.333vw, 1.2rem);
}
.text-small__garamond {
  font-family: "EB Garamond", serif;
  font-size: clamp(1.7rem, -0.875rem + 8.333vw, 1.7rem);
  font-weight: 800;
  line-height: 2rem;
}

.x-small {
  font-size: clamp(0.9rem, -0.875rem + 8.333vw, 1rem);
}
.x-small__garamond {
  font-size: clamp(1.5rem, -0.875rem + 8.333vw, 1.5rem);
  font-weight: 800;
  line-height: 1.7rem;
}

.primaryfont__bold {
  line-height: 1.1;
  font-weight: 700;
}

h1, h2, h3, h4, a, p, label {
  line-height: 1.3;
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

/*------------------------------------*\
    MIXINS
\*------------------------------------*/
/*------------------------------------*\
    BREAKPOINT
\*------------------------------------*/
/*------------------------------------*\
    UTILITIES
\*------------------------------------*/
.display__mobile {
  display: block;
}
@media (min-width: 1024px) {
  .display__mobile {
    display: none;
  }
}
.display__desktop {
  display: none;
}
@media (min-width: 1024px) {
  .display__desktop {
    display: block;
  }
}
.display__none {
  display: none;
}
@media (min-width: 1024px) {
  .display__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.display__one {
  display: none;
}

.vertical-line__big {
  width: 3px;
  background-color: #83390B;
  height: 100%;
  float: left;
}

.content__max {
  max-width: calc(1450px - 24px);
}
.content__center {
  margin-left: auto;
  margin-right: auto;
}
.content__text {
  text-align: center;
}

.gap {
  gap: 32px;
}

hr {
  height: 1px;
  border: 0;
  width: 100%;
  background-color: #26201B;
}

/*------------------------------------*\
    COLOR GRADIENT
\*------------------------------------*/
.gradient, .section__innovation, .section__home, .gradient__innovation, .gradient__home {
  padding: 7px 24px;
}
.gradient__home {
  background: linear-gradient(274.9deg, #EAAC30 3.95%, #83390B 96.05%);
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
  background-size: 400% 400%;
}
.gradient__innovation {
  background: linear-gradient(274.9deg, #47596F 3.95%, #9CB5BC 96.05%);
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
  background-size: 400% 400%;
}
@media (min-width: 1024px) {
  .gradient, .section__innovation, .section__home, .gradient__innovation, .gradient__home {
    padding: 13.5px 24px;
  }
}
.gradient__text {
  color: #F4F3EF;
}
.gradient__text a {
  color: #F4F3EF;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.accordion {
  width: 100%;
  border: none;
  background-color: rgba(89, 113, 140, 0.1);
  color: #444;
  padding: 16px;
  cursor: pointer;
  outline: none;
  text-align: left;
  text-transform: uppercase;
  font-size: clamp(1.1rem, -0.875rem + 8.333vw, 1.2rem);
  border-radius: 4px;
  font-family: "League Spartan", sans-serif;
}
.accordion::after {
  content: url("../../src/iconos/location.svg");
  float: right;
}
.accordion__item {
  margin-bottom: 24px;
}

.active.accordion {
  border-radius: 4px 4px 0 0;
}
.active::after {
  content: url("../../src/iconos/accordion-closed.svg");
  float: right;
}

.panel {
  padding: 0 16px;
  background-color: rgba(89, 113, 140, 0.1);
  color: #52483B;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 0 0 4px 4px;
  text-align: justify;
}

/*------------------------------------*\
    BOX
\*------------------------------------*/
.box, .box__principal {
  border-bottom: 1px solid #26201B;
}
@media (min-width: 1024px) {
  .box, .box__principal {
    border-bottom: 0;
  }
}
.box__background {
  background-color: #F4F3EF;
}
.box__background--innovation {
  background-color: rgba(89, 113, 140, 0.1);
}
.box__icon, .box__icon--date, .box__icon--tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.box__icon--tag {
  margin-top: 24px;
}
.box__icon--date {
  padding-right: 16px;
}
.box__icon--date-innovation {
  color: #59718c;
  padding-right: 8px;
}
.box__icon--date-home {
  color: #B36206;
  padding-right: 8px;
}
.box__bloque {
  padding-bottom: 20px;
  gap: 30px;
}
@media (min-width: 1024px) {
  .box__bloque {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.box__principal {
  gap: 24px;
}
@media (min-width: 1024px) {
  .box__principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 48px;
  }
}
.box__principal--margin {
  padding-bottom: 24px;
}
@media (min-width: 1024px) {
  .box__principal--margin {
    margin-bottom: 64px;
  }
}
.box__title {
  padding: 10px 0;
}
@media (min-width: 1024px) {
  .box__title {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.box__title--date {
  margin: 16px 0 8px 0;
}
.box__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.box__date--space {
  padding-right: 16px;
}
.box__date--width {
  width: 100%;
}
.box__description {
  margin: 0 0 24px 0;
}
.box__description--date {
  margin: 8px 0;
}
.box__tag {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -4px;
  margin-top: -4px;
  color: #FFE6B0;
}
@media (min-width: 1024px) {
  .box__tag {
    margin-left: -8px;
    margin-top: -8px;
  }
}
.box__tag--bloq2 {
  display: inline;
  margin: 20px 0 0 0;
}
@media (min-width: 1024px) {
  .box__tag--bloq2 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -8px;
    margin-top: -8px;
  }
}
.box__tag--space {
  margin-right: 10px;
  margin-bottom: 8px;
}
.box__img, .box__img--border {
  width: 100%;
  padding-bottom: 8px;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.box__img--bloq2 {
  border-radius: 16px 16px 0 0;
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.box__img--border {
  border-radius: 16px 16px 0 0;
  padding-bottom: 0;
  border-bottom: 5px solid #D5903C;
}
@media (min-width: 1024px) {
  .box__link {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 1024px) {
  .box__content {
    width: 35%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.box__color-home {
  color: #B36206;
}

/*------------------------------------*\
    BUTTONS
\*------------------------------------*/
.btn, .btn__modal, .btn__primary, .btn__primary--small-nocolor-innovation, .btn__primary--small-nocolor, .btn__primary--small-color, .btn__primary--medium-nocolor, .btn__primary--medium-color, .btn__primary--large-nocolor, .btn__primary--large-nocolor-width, .btn__primary--large-color-menu, .btn__primary--large-color, .btn__primary--large-color-width {
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: center;
  width: 100%;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  cursor: pointer;
}
.btn__primary, .btn__primary--small-nocolor-innovation, .btn__primary--small-nocolor, .btn__primary--small-color, .btn__primary--medium-nocolor, .btn__primary--medium-color, .btn__primary--large-nocolor, .btn__primary--large-nocolor-width, .btn__primary--large-color-menu, .btn__primary--large-color, .btn__primary--large-color-width {
  border-radius: 4px;
}
.btn__primary--large-color, .btn__primary--large-color-width {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.3px;
  padding: 20px 32px;
  font-size: clamp(.94rem, -0.875rem + 8.333vw, .94rem);
  font-family: "League Spartan", sans-serif;
  letter-spacing: -0.3px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 1rem;
}
.btn__primary--large-color:link, .btn__primary--large-color-width:link {
  background-color: #B36206;
  border: 2px solid #B36206;
}
.btn__primary--large-color:visited, .btn__primary--large-color-width:visited {
  background-color: #26201B;
  border: 2px solid #26201B;
}
.btn__primary--large-color:hover, .btn__primary--large-color-width:hover {
  background-color: #83390B;
  border: 2px solid #83390B;
}
.btn__primary--large-color:disabled, .btn__primary--large-color-width:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgba(179, 98, 6, 0.5);
  border: 2px solid rgba(179, 98, 6, 0);
}
.btn__primary--large-color-menu {
  padding: 20.5px 35.5px;
  color: #F4F3EF;
  background-color: #756A5B;
}
.btn__primary--large-color-width {
  width: auto;
}
.btn__primary--large-nocolor, .btn__primary--large-nocolor-width {
  color: #B36206;
  background-color: #ffffff;
  border: 2px solid #B36206;
  font-size: 18px;
  letter-spacing: -0.3px;
  padding: 20px 32px;
  font-size: clamp(.94rem, -0.875rem + 8.333vw, .94rem);
  font-family: "League Spartan", sans-serif;
  letter-spacing: -0.3px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 1rem;
  font-weight: 400;
}
.btn__primary--large-nocolor:link, .btn__primary--large-nocolor-width:link {
  background-color: #ffffff;
  color: #B36206;
  border: 2px solid #B36206;
}
.btn__primary--large-nocolor:visited, .btn__primary--large-nocolor-width:visited {
  background-color: #ffffff;
  color: #26201B;
  border: 2px solid #26201B;
}
.btn__primary--large-nocolor:hover, .btn__primary--large-nocolor-width:hover {
  background-color: #ffffff;
  color: #83390B;
  border: 2px solid #83390B;
}
.btn__primary--large-nocolor:disabled, .btn__primary--large-nocolor-width:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #ffffff;
  color: rgba(179, 98, 6, 0.5);
  border: 2px solid rgba(179, 98, 6, 0.5);
}
.btn__primary--large-nocolor-width {
  width: auto;
}
.btn__primary--medium-color {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: -0.3px;
  padding: 16px 24px;
  font-size: clamp(.94rem, -0.875rem + 8.333vw, .94rem);
  font-family: "League Spartan", sans-serif;
  letter-spacing: -0.3px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 1rem;
}
.btn__primary--medium-color:link {
  background-color: #B36206;
  border: 2px solid #B36206;
}
.btn__primary--medium-color:visited {
  background-color: #26201B;
  border: 2px solid #26201B;
}
.btn__primary--medium-color:hover {
  background-color: #83390B;
  border: 2px solid #83390B;
}
.btn__primary--medium-color:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgba(179, 98, 6, 0.5);
  border: 2px solid rgba(179, 98, 6, 0);
}
.btn__primary--medium-nocolor {
  color: #B36206;
  background-color: #ffffff;
  border: 2px solid #B36206;
  font-size: 15px;
  letter-spacing: -0.3px;
  padding: 16px 24px;
  font-size: clamp(.94rem, -0.875rem + 8.333vw, .94rem);
  font-family: "League Spartan", sans-serif;
  letter-spacing: -0.3px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 1rem;
}
.btn__primary--medium-nocolor:link {
  background-color: #ffffff;
  color: #B36206;
  border: 2px solid #B36206;
}
.btn__primary--medium-nocolor:visited {
  background-color: #ffffff;
  color: #26201B;
  border: 2px solid #26201B;
}
.btn__primary--medium-nocolor:hover {
  background-color: #ffffff;
  color: #83390B;
  border: 2px solid #83390B;
}
.btn__primary--medium-nocolor:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #ffffff;
  color: rgba(179, 98, 6, 0.5);
  border: 2px solid rgba(179, 98, 6, 0.5);
}
.btn__primary--small-color {
  color: #ffffff;
  font-size: 13px;
  letter-spacing: -0.2px;
  padding: 9px 22px;
  font-size: clamp(.8rem, -0.875rem + 8.333vw, .8rem);
  font-family: "League Spartan", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 1rem;
  font-weight: 400;
}
.btn__primary--small-color:link {
  background-color: #B36206;
  border: 2px solid #B36206;
}
.btn__primary--small-color:visited {
  background-color: #26201B;
  border: 2px solid #26201B;
}
.btn__primary--small-color:hover {
  background-color: #83390B;
  border: 2px solid #83390B;
}
.btn__primary--small-color:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgba(179, 98, 6, 0.5);
  border: 2px solid rgba(179, 98, 6, 0);
}
.btn__primary--small-nocolor {
  color: #B36206;
  background-color: #ffffff;
  border: 2px solid #B36206;
  font-size: 13px;
  letter-spacing: -0.2px;
  padding: 9px 22px;
  font-size: clamp(.8rem, -0.875rem + 8.333vw, .8rem);
  font-family: "League Spartan", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 1rem;
  font-weight: 400;
}
.btn__primary--small-nocolor:link {
  background-color: #ffffff;
  color: #B36206;
  border: 2px solid #B36206;
}
.btn__primary--small-nocolor:visited {
  background-color: #ffffff;
  color: #26201B;
  border: 2px solid #26201B;
}
.btn__primary--small-nocolor:hover {
  background-color: #ffffff;
  color: #83390B;
  border: 2px solid #83390B;
}
.btn__primary--small-nocolor:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #ffffff;
  color: rgba(179, 98, 6, 0.5);
  border: 2px solid rgba(179, 98, 6, 0.5);
}
.btn__primary--small-nocolor-innovation {
  color: #59718c;
  background-color: #ffffff;
  border: 2px solid #59718c;
  font-size: 13px;
  letter-spacing: -0.2px;
  padding: 9px 22px;
  font-size: clamp(.8rem, -0.875rem + 8.333vw, .8rem);
  font-family: "League Spartan", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 1rem;
  font-weight: 400;
}
.btn__primary--small-nocolor-innovation:link {
  color: #59718c;
  border: 2px solid #59718c;
}
.btn__primary--small-nocolor-innovation:visited {
  color: #59718c;
  border: 2px solid #59718c;
}
.btn__primary--small-nocolor-innovation:hover {
  color: #59718c;
  border: 2px solid #59718c;
}
.btn__primary--small-nocolor-innovation:disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: #59718c;
  border: 2px solid #59718c;
}
.btn__modal {
  border-radius: 48px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  color: #ffffff;
  background-color: #B36206;
  border: 2px solid #B36206;
  font-size: 18px;
  letter-spacing: -0.3px;
  padding: 20px 32px;
  font-size: clamp(.94rem, -0.875rem + 8.333vw, .94rem);
  font-family: "League Spartan", sans-serif;
  letter-spacing: -0.3px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 1rem;
}
.btn__modal:link {
  background-color: #B36206;
  border: 2px solid #B36206;
}
.btn__modal:visited {
  background-color: #26201B;
  border: 2px solid #26201B;
}
.btn__modal:hover {
  background-color: #83390B;
  border: 2px solid #83390B;
}
.btn__modal:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgba(179, 98, 6, 0.5);
  border: 2px solid rgba 179, 98, 6, 0.5;
}

/*------------------------------------*\
    CARD
\*------------------------------------*/
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.card__img, .card__img--border {
  max-width: 25%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card__img--border {
  border-right: 5px solid #83390B;
  height: 100%;
}
.card__img--border-grado {
  border-right: 5px solid #5D4976;
}
.card__img--border-master {
  border-right: 5px solid #A7706C;
}
.card__img--border-doctorado {
  border-right: 5px solid #E19F40;
}
.card__img--border-cursos {
  border-right: 5px solid #1E60BF;
}
.card__img--border-entusiastas {
  border-right: 5px solid #989A2B;
}
.card__img--border-formacion {
  border-right: 5px solid #b9ac99;
}
.card__color {
  background-color: #F4F3EF;
}
.card__border {
  border: 1px solid #756A5B;
}
@media (min-width: 1024px) {
  .card__border {
    border: none;
  }
}
@media (min-width: 1024px) {
  .card__line {
    border-left: 3px solid #83390B;
    height: 100%;
    padding: 0;
  }
}
.card__description {
  margin-bottom: 16px;
}
.card__title {
  text-transform: none;
}
.card__title--color {
  color: #83390B;
  padding: 10px 0;
}
@media (min-width: 1024px) {
  .card__title--color {
    padding-top: 0;
    padding-bottom: 32px;
  }
}
.card__details, .card__details-investigacion, .card__details-producto, .card__details-formacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 700px) {
  .card__details--margin {
    padding-left: 16px;
  }
}
.card__details-formacion {
  color: #26201B;
  margin-left: 20px;
}
.card__details-investigacion, .card__details-producto {
  color: #383126;
  background-color: #DFDAD3;
}
@media (min-width: 700px) {
  .card__details-investigacion, .card__details-producto {
    background-color: #F4F3EF;
  }
}
.card__details h3, .card__details-formacion h3, .card__details-investigacion h3, .card__details-producto h3 {
  -webkit-margin-after: 0.09rem;
          margin-block-end: 0.09rem;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  text-transform: uppercase;
}
.card__details-producto {
  -webkit-margin-before: 0.9rem;
          margin-block-start: 0.9rem;
  display: inline-block;
  padding-top: 0.7rem;
}
.card__details-producto h3 {
  padding: 0;
}

/*------------------------------------*\
    CHECKBOX
\*------------------------------------*/
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark, .checkmark__radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #CBBDAA;
}
.checkmark__radio {
  border-radius: 200px;
}

.container:hover input ~ .checkmark, .container:hover input ~ .checkmark__radio {
  background-color: #B36206;
}
.container:hover input ~ .checkmark:hover, .container:hover input ~ .checkmark__radio:hover {
  background-color: #B36206;
}

.container input:checked ~ .checkmark, .container input:checked ~ .checkmark__radio {
  background-color: #B36206;
}
.container input:checked ~ .checkmark:hover, .container input:checked ~ .checkmark__radio:hover {
  background-color: #B36206;
}

.checkmark:after, .checkmark__radio:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after, .container input:checked ~ .checkmark__radio:after {
  display: block;
}

.container .checkmark:after, .container .checkmark__radio:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #F4F3EF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*------------------------------------*\
    COLUMN
\*------------------------------------*/
.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 48px;
}
@media (min-width: 1024px) {
  .column {
    padding-bottom: 0;
  }
}
.column__icon {
  width: 47px;
  margin-right: 20px;
}
.column__title {
  padding-bottom: 10px;
}
.column__text {
  padding-bottom: 48px;
}
.column__text--icon {
  color: #83390B;
}
@media (min-width: 1024px) {
  .column__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
}

/*------------------------------------*\
    FILTER
\*------------------------------------*/
.filter {
  padding: calc(24px - 8px);
}
.filter__text {
  padding: 16px 8px;
}
.filter__tag {
  gap: 30px;
}
.filter__tag--item {
  margin: 8px;
}

.form-floating {
  position: relative;
  margin-bottom: 16px;
}
.form-floating > .form-control,
.form-floating > .form-select {
  height: 55px;
  padding: 1rem 1rem;
}
.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  height: 100%;
  padding: 1rem 1rem;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
}
.form-floating > .form-control::-webkit-input-placeholder {
  color: transparent;
}
.form-floating > .form-control::-moz-placeholder {
  color: transparent;
}
.form-floating > .form-control:-ms-input-placeholder {
  color: transparent;
}
.form-floating > .form-control::-ms-input-placeholder {
  color: transparent;
}
.form-floating > .form-control::placeholder {
  color: transparent;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) {
  padding-top: 1.6rem;
  padding-bottom: 0.6rem;
}
.form-floating > .form-control:not(:-ms-input-placeholder) {
  padding-top: 1.6rem;
  padding-bottom: 0.6rem;
}
.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1.6rem;
  padding-bottom: 0.6rem;
}
.form-floating > .form-control:-webkit-autofill {
  padding-top: 1.6rem;
  padding-bottom: 0.6rem;
}
.form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 0.6;
  transform: scale(0.75) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:not(:-ms-input-placeholder) ~ label {
  opacity: 0.6;
  transform: scale(0.75) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  opacity: 0.6;
  -webkit-transform: scale(0.75) translateY(-0.5rem) translateX(0.15rem);
          transform: scale(0.75) translateY(-0.5rem) translateX(0.15rem);
}
.form-floating > .form-control:-webkit-autofill ~ label {
  opacity: 0.6;
  -webkit-transform: scale(0.75) translateY(-0.5rem) translateX(0.15rem);
          transform: scale(0.75) translateY(-0.5rem) translateX(0.15rem);
}

.form-control {
  display: block;
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2rem;
  color: #26201B;
  width: 100%;
  padding: 0px;
  background-color: #D5CCC1;
  border: 2px solid #D5CCC1;
  border-radius: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: border-color 0.25s ease-in-out;
  transition: border-color 0.25s ease-in-out;
}
.form-control:hover, .form-control:active, .form-control:focus {
  color: #26201B;
  background-color: #F4F3EF;
  border-color: 2px solid #26201B;
  outline: none;
}

.is-invalid {
  border-color: red;
}

em {
  display: block;
  font-size: 15px;
  font-weight: 700;
  margin-top: 30px;
}
em.error {
  color: red;
}

/*------------------------------------*\
    LINKS
\*------------------------------------*/
.link {
  text-transform: uppercase;
  text-decoration: none;
  color: #83390B;
}
.link:link, .link:active {
  color: #83390B;
}
.link:hover {
  color: #B36206;
}
.link:focus {
  color: #83390B;
}

/*------------------------------------*\
    MENÚ SECCIÓN COLOR GRADIENT
\*------------------------------------*/
.section {
  padding: 7px 24px;
}
.section__innovation {
  background-color: #59718c;
}
@media (min-width: 1024px) {
  .section {
    padding: 13.5px 24px;
  }
}
.section__text {
  color: #F4F3EF;
}
.section__text a {
  color: #F4F3EF;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*------------------------------------*\
    MENÚ PRINCIPAL
\*------------------------------------*/
.menu {
  border-bottom: 1px solid grey;
  background-color: #ffffff;
}
.menu__toggle {
  cursor: pointer;
  position: absolute;
  margin: 0rem 1rem;
  right: 0;
}
@media (min-width: 1024px) {
  .menu__toggle {
    top: 30%;
    display: none;
  }
}
.menu__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin: 1rem;
  padding-left: 0;
}
.menu__menu--link {
  color: #26201B;
  text-transform: uppercase;
}
.menu__menu a {
  text-decoration: none;
  font-size: 13px;
}
@media (min-width: 1024px) {
  .menu__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.menu__logo {
  max-width: 65px;
}
@media (min-width: 1024px) {
  .menu__logo {
    max-width: 137px;
  }
}
.menu__item {
  list-style: none;
  display: none;
}
@media (min-width: 1024px) {
  .menu__item {
    display: block;
  }
}

.close,
input[type=checkbox] {
  display: none;
}

.hamburger {
  margin-top: 0.2rem;
}

.menu__item:first-child {
  margin-right: auto;
  display: block;
}

#menu__checkbox:checked ~ ul.menu__menu .menu__item {
  display: block;
}

#menu__checkbox:checked ~ label.menu__toggle .hamburger {
  display: none;
}

#menu__checkbox:checked ~ label.menu__toggle .close {
  display: block;
}

/*------------------------------------*\
    SVG ICON
\*------------------------------------*/
.svg__icon, .svg__icon--margin, .svg__icon--date, .svg__icon--left, .svg__icon--right {
  position: relative;
  top: 0.1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  fill: currentColor;
}
.svg__icon--right {
  margin-left: 16px;
}
.svg__icon--left {
  margin-right: 16px;
  float: left;
}
.svg__icon--date {
  width: 27px;
}
.svg__icon--margin {
  margin-right: 8px;
  margin-bottom: 0.1rem;
}

.swiper {
  width: 600px;
  height: 300px;
}

/*------------------------------------*\
    SWITCH
\*------------------------------------*/
.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #DFDAD3;
  cursor: pointer;
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider::before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 4px;
  height: 26px;
  width: 26px;
  background-color: #FCFCFC;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #B36206;
}
input:checked + .slider:hover {
  background-color: #83390B;
}
input:checked + .slider:disabled {
  background-color: rgba(179, 98, 6, 0.5);
}
input:checked + .slider::before {
  -webkit-transform: translatex(30px);
          transform: translatex(30px);
  background-color: #FCFCFC;
}

.tabs__link {
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 48px;
}
.tabs__active {
  border-bottom: solid 2px #B36206;
  color: #B36206;
}

/*------------------------------------*\
    CARD
\*------------------------------------*/
.tag, .tag__card--border, .tag__card--grey, .tag__salud, .tag__primary, .tag__innovation, .tag__entusiastas, .tag__profesionales, .tag__doctorado, .tag__master, .tag__grado {
  padding: 3px 8px;
  text-align: center;
  color: #F4F3EF;
  letter-spacing: -0.23px;
  border-radius: 8px;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  font-family: "League Spartan", sans-serif;
  display: inline;
}
.tag__grado {
  background-color: #5D4976;
  border: 2px solid #5D4976;
}
.tag__master {
  background-color: #A7706C;
  border: 2px solid #A7706C;
}
.tag__doctorado {
  background-color: #E19F40;
  border: 2px solid #E19F40;
}
.tag__profesionales {
  background-color: #1E60BF;
  border: 2px solid #1E60BF;
}
.tag__entusiastas {
  background-color: #989A2B;
  border: 2px solid #989A2B;
}
.tag__innovation {
  background-color: #59718c;
  border: 2px solid #59718c;
}
.tag__primary {
  background-color: #D5903C;
  border: 2px solid #D5903C;
  color: #83390B;
}
.tag__salud {
  color: #26201B;
  background-color: #DFDAD3;
  border: 2px solid #DFDAD3;
}
.tag__salud:hover, .tag__salud:active {
  background-color: #b9ac99;
  border: 2px solid #b9ac99;
}
.tag__card--grey {
  color: #26201B;
  border: 2px solid #DFDAD3;
  background-color: #DFDAD3;
}
.tag__card--border {
  color: #008A00;
  border: 2px solid #008A00;
  background-color: #ffffff;
}

.topbar, .topbar__list, .topbar__list--item, .topbar__list--item--link {
  background-color: #F4F3EF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.topbar__list, .topbar__list--item, .topbar__list--item--link {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topbar__list--item, .topbar__list--item--link {
  position: relative;
  float: left;
  color: white;
  padding: 8px 32px;
}
.topbar__list--item:hover > ul, .topbar__list--item--link:hover > ul {
  display: block;
}
.topbar__list--item--link {
  display: block;
  color: #52483B;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}
.topbar__list--submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #52483B;
  padding: 10px;
}
.topbar__list--submenu--item {
  float: none;
  width: 150px .topbar__list--submenu--item --link;
  width-color: white;
  width-line-height: 120%;
  width-padding: 10px 15px;
}
.topbar__list--submenu {
  width: 300px;
}
.topbar__list--submenu--item {
  list-style: none;
  padding: 16px 10px;
}
.topbar__list--submenu--item--link {
  color: white;
  line-height: 120%;
  padding: 10px 15px;
}

p, h4 {
  margin-top: 0;
  display: block;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.footer {
  width: 100%;
  gap: 30px;
  padding: 24px;
}
@media (min-width: 1024px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__info {
  text-align: left;
}
.footer__logo {
  max-width: 117px;
}
@media (min-width: 1024px) {
  .footer__logo {
    max-width: 165px;
  }
}
@media (min-width: 1024px) {
  .footer__column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__list {
  list-style: none;
  width: 100%;
  padding: 0;
}
@media (min-width: 1024px) {
  .footer__list {
    padding-bottom: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
  }
}
.footer__item {
  text-decoration: none;
  color: #26201B;
}
.footer__copyright {
  text-align: center;
}
.footer__copyright--text {
  padding-bottom: 24px;
}

/*------------------------------------*\
    GRID
\*------------------------------------*/
@media (min-width: 1024px) {
  .grid__c2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 32px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    grid-auto-rows: minmax(100px, auto);
  }
  .grid__c3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 32px 1fr 32px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    grid-auto-rows: minmax(100px, auto);
  }
  .grid__c5 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 32px 1fr 32px 1fr 32px 1fr 32px 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 32px;
    grid-auto-rows: minmax(100px, auto);
  }
}

/*------------------------------------*\
    SITE
\*------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  height: 100%;
  position: relative;
}

img {
  max-width: 100%;
}

/*------------------------------------*\
    SPACE ELEMENTS
\*------------------------------------*/
.title__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1024px) {
  .title__link {
    margin-bottom: 0;
  }
}
.title__link a {
  padding-bottom: 16px;
}

.padding {
  padding: 0 24px;
}
.padding__bottom-regular {
  padding-bottom: 24px;
}
.padding__bottom-x-regular {
  padding-bottom: 20px;
}
.padding__bottom-gap {
  padding-bottom: 40px;
}
.padding__bottom-large {
  padding-bottom: 32px;
}
.padding__bottom-x-large {
  padding-bottom: 48px;
}
.padding__bottom-xx-large {
  padding-bottom: 64px;
}
.padding__top-regular {
  padding-top: 24px;
}
.padding__top-x-regular {
  padding-top: 20px;
}
.padding__top-gap {
  padding-top: 40px;
}
.padding__top-x-large {
  padding-top: 48px;
}
.padding__top-xx-large {
  padding-top: 64px;
}
.padding__topbottom-large {
  padding: 32px 0;
}
.padding__topbottom-x-large {
  padding: 48px 0;
}

h1 {
  padding-bottom: 20px;
}
@media (min-width: 1024px) {
  h1 {
    padding-bottom: 32px;
  }
}

h3 {
  padding-bottom: 20px;
}
@media (min-width: 1024px) {
  h3 {
    padding-bottom: 32px;
  }
}