/*------------------------------------*\
$FONTS
\*------------------------------------*/
/*------------------------------------*\
$LAYOUT
\*------------------------------------*/
/*------------------------------------*\
$COLORS
\*------------------------------------*/
/*------------------------------------*\
$SPACES
\*------------------------------------*/
/*------------------------------------*\
$SHADOWS
\*------------------------------------*/
/*------------------------------------*\
$BREAKPOINTS
\*------------------------------------*/
/*------------------------------------*\
$FONTS
\*------------------------------------*/
h1 {
  font-size: clamp(2rem, -0.875rem + 8.333vw, 3.5rem);
  padding-bottom: 32px;
}

h2 {
  font-size: clamp(1.8rem, -0.875rem + 8.333vw, 3rem);
  letter-spacing: -0.25px;
}

h3 {
  font-size: clamp(1.5rem, -0.875rem + 8.333vw, 2.25rem);
  letter-spacing: -0.3px;
}

h4 {
  font-size: clamp(1.25rem, -0.875rem + 8.333vw, 1.5rem);
  letter-spacing: -0.4px;
}

p {
  font-size: 16px;
  font-family: 100;
}

span {
  font-family: 100;
  font-size: clamp(.8rem, -0.875rem + 8.333vw, .8rem);
  letter-spacing: -0.23px;
}

.text-large {
  font-size: clamp(1.25rem, -0.875rem + 8.333vw, 1.25rem);
}
.text-large__garamond {
  font-family: "EB Garamond", serif;
  font-size: clamp(3.4rem, -0.875rem + 8.333vw, 3.4rem);
  font-weight: 800;
  line-height: 3.6rem;
}
.text-medium {
  font-size: clamp(1.1rem, -0.875rem + 8.333vw, 1.1rem);
}
.text-medium__garamond {
  font-family: "EB Garamond", serif;
  font-size: clamp(2.2rem, -0.875rem + 8.333vw, 2.2rem);
  font-weight: 800;
  line-height: 2.5rem;
}
.text-small {
  font-size: clamp(.94rem, -0.875rem + 8.333vw, .91rem);
  letter-spacing: -0.25px;
  font-weight: 400;
}
.text-small__garamond {
  font-family: "EB Garamond", serif;
  font-size: clamp(1.7rem, -0.875rem + 8.333vw, 1.7rem);
  font-weight: 800;
  line-height: 2rem;
}

.x-small {
  font-size: clamp(.8rem, -0.875rem + 8.333vw, .8rem);
  letter-spacing: -0.1px;
}
.x-small__garamond {
  font-size: clamp(1.5rem, -0.875rem + 8.333vw, 1.5rem);
  font-weight: 800;
  line-height: 1.7rem;
}

h1, h2, h3, h4, .text-large, .text-medium, .text-small, .x-small, a {
  line-height: 1.3;
  font-family: "League Spartan", sans-serif;
}

h1, h2, h3, h4, p {
  font-family: 100;
  font-weight: 100;
  line-height: 1.2;
}

.primaryfont__bold {
  line-height: 1.2;
}
.primaryfont__bold--400 {
  font-weight: 400;
}
.primaryfont__bold--600 {
  font-weight: 600;
}
.primaryfont__bold--700 {
  font-weight: 600;
}
.primaryfont__bold--800 {
  font-weight: 600;
}

h1, h2, h3 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

/*------------------------------------*\
    BUTTONS
\*------------------------------------*/
/*------------------------------------*\
    BREAKPOINT
\*------------------------------------*/
.display__mobile {
  display: block;
}
@media (min-width: 1024px) {
  .display__mobile {
    display: none;
  }
}
.display__desktop {
  display: none;
}
@media (min-width: 1024px) {
  .display__desktop {
    display: block;
  }
}

.vertical-line__big {
  width: 3px;
  background-color: #83390B;
  height: 100%;
  float: left;
}

.gradient, .gradient__home {
  padding: 7px 24px;
}
.gradient__home {
  background: linear-gradient(274.9deg, #EAAC30 3.95%, #83390B 96.05%);
  -webkit-animation: gradient 5s ease infinite;
          animation: gradient 5s ease infinite;
  background-size: 400% 400%;
}
@media (min-width: 1024px) {
  .gradient, .gradient__home {
    padding: 13.5px 24px;
  }
}
.gradient__text {
  color: #F4F3EF;
}
.gradient__text a {
  color: #F4F3EF;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.box, .box__principal {
  border-bottom: 1px solid #26201B;
}
@media (min-width: 1024px) {
  .box, .box__principal {
    border-bottom: 0;
  }
}
.box__background {
  background-color: #F4F3EF;
  padding: 24px;
  margin-bottom: 24px;
}
.box__icon, .box__icon--date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.box__icon--date {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 16px;
  margin-bottom: 0.3rem;
}
.box__icon--date-color {
  color: #83390B;
  padding-right: 8px;
}
.box__bloque {
  gap: 30px;
}
@media (min-width: 1024px) {
  .box__bloque {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.box__principal {
  gap: 24px;
}
@media (min-width: 1024px) {
  .box__principal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 48px;
  }
}
.box__principal--margin {
  padding-bottom: 24px;
}
@media (min-width: 1024px) {
  .box__principal--margin {
    margin-bottom: 64px;
  }
}
.box__title {
  margin: 8px 0;
}
@media (min-width: 1024px) {
  .box__title {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.box__title--date {
  margin: 16px 0 8px 0;
}
.box__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.box__date--space {
  padding-right: 16px;
}
.box__description {
  margin: 8px 0;
}
.box__description--date {
  margin: 8px 0;
}
.box__tag {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -4px;
  margin-top: -4px;
  color: #FFE6B0;
}
@media (min-width: 1024px) {
  .box__tag {
    margin-left: -8px;
    margin-top: -8px;
  }
}
.box__tag--bloq2 {
  display: inline;
  margin: 16px 0 0 0;
}
@media (min-width: 1024px) {
  .box__tag--bloq2 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -8px;
    margin-top: -8px;
  }
}
.box__tag--space {
  margin-right: 10px;
}
.box__img {
  border-radius: 20px;
  width: 100%;
}
.box__img--bloq2 {
  border-radius: 20px 20px 0 0;
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 16px;
}
.box__img--bloq2-border {
  border-radius: 8px;
}
@media (min-width: 1024px) {
  .box__link {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media (min-width: 1024px) {
  .box__content {
    width: 35%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

/*------------------------------------*\
    BOTONES
\*------------------------------------*/
.btn, .btn__modal, .btn__primary, .btn__primary--small-nocolor, .btn__primary--small-color, .btn__primary--medium-nocolor, .btn__primary--medium-color, .btn__primary--large-nocolor, .btn__primary--large-color-menu, .btn__primary--large-color {
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: center;
  width: 100%;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  cursor: pointer;
}
.btn__primary, .btn__primary--small-nocolor, .btn__primary--small-color, .btn__primary--medium-nocolor, .btn__primary--medium-color, .btn__primary--large-nocolor, .btn__primary--large-color-menu, .btn__primary--large-color {
  border-radius: 4px;
}
.btn__primary--large-color {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: -0.3px;
  padding: 20px 32px;
  font-size: clamp(.94rem, -0.875rem + 8.333vw, .94rem);
  font-family: "League Spartan", sans-serif;
  letter-spacing: -0.3px;
  font-weight: 100;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 1rem;
}
.btn__primary--large-color:link {
  background-color: #B36206;
  border: 2px solid #B36206;
}
.btn__primary--large-color:visited {
  background-color: #26201B;
  border: 2px solid #26201B;
}
.btn__primary--large-color:hover {
  background-color: #83390B;
  border: 2px solid #83390B;
}
.btn__primary--large-color:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgba(179, 98, 6, 0.5);
  border: 2px solid rgba(179, 98, 6, 0);
}
.btn__primary--large-color-menu {
  padding: 20.5px 35.5px;
  color: #F4F3EF;
  background-color: #756A5B;
}
.btn__primary--large-nocolor {
  color: #B36206;
  background-color: #ffffff;
  border: 2px solid #B36206;
  font-size: 18px;
  letter-spacing: -0.3px;
  padding: 20px 32px;
  font-size: clamp(.94rem, -0.875rem + 8.333vw, .94rem);
  font-family: "League Spartan", sans-serif;
  letter-spacing: -0.3px;
  font-weight: 100;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 1rem;
  font-weight: 400;
}
.btn__primary--large-nocolor:link {
  color: #B36206;
  border: 2px solid #B36206;
}
.btn__primary--large-nocolor:visited {
  color: #26201B;
  border: 2px solid #26201B;
}
.btn__primary--large-nocolor:hover {
  color: #83390B;
  border: 2px solid #83390B;
}
.btn__primary--large-nocolor:disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: rgba(179, 98, 6, 0.5);
  border: 2px solid rgba(179, 98, 6, 0.5);
}
.btn__primary--medium-color {
  color: #ffffff;
  font-size: 15px;
  letter-spacing: -0.3px;
  padding: 16px 24px;
  font-size: clamp(.94rem, -0.875rem + 8.333vw, .94rem);
  font-family: "League Spartan", sans-serif;
  letter-spacing: -0.3px;
  font-weight: 100;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 1rem;
}
.btn__primary--medium-color:link {
  background-color: #B36206;
  border: 2px solid #B36206;
}
.btn__primary--medium-color:visited {
  background-color: #26201B;
  border: 2px solid #26201B;
}
.btn__primary--medium-color:hover {
  background-color: #83390B;
  border: 2px solid #83390B;
}
.btn__primary--medium-color:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgba(179, 98, 6, 0.5);
  border: 2px solid rgba(179, 98, 6, 0);
}
.btn__primary--medium-nocolor {
  color: #B36206;
  background-color: #ffffff;
  border: 2px solid #B36206;
  font-size: 15px;
  letter-spacing: -0.3px;
  padding: 16px 24px;
  font-size: clamp(.94rem, -0.875rem + 8.333vw, .94rem);
  font-family: "League Spartan", sans-serif;
  letter-spacing: -0.3px;
  font-weight: 100;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 1rem;
}
.btn__primary--medium-nocolor:link {
  color: #B36206;
  border: 2px solid #B36206;
}
.btn__primary--medium-nocolor:visited {
  color: #26201B;
  border: 2px solid #26201B;
}
.btn__primary--medium-nocolor:hover {
  color: #83390B;
  border: 2px solid #83390B;
}
.btn__primary--medium-nocolor:disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: rgba(179, 98, 6, 0.5);
  border: 2px solid rgba(179, 98, 6, 0.5);
}
.btn__primary--small-color {
  color: #ffffff;
  font-size: 13px;
  letter-spacing: -0.2px;
  padding: 9px 22px;
  font-size: clamp(.8rem, -0.875rem + 8.333vw, .8rem);
  font-family: "League Spartan", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 100;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 1rem;
  font-weight: 400;
}
.btn__primary--small-color:link {
  background-color: #B36206;
  border: 2px solid #B36206;
}
.btn__primary--small-color:visited {
  background-color: #26201B;
  border: 2px solid #26201B;
}
.btn__primary--small-color:hover {
  background-color: #83390B;
  border: 2px solid #83390B;
}
.btn__primary--small-color:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgba(179, 98, 6, 0.5);
  border: 2px solid rgba(179, 98, 6, 0);
}
.btn__primary--small-nocolor {
  color: #B36206;
  background-color: #ffffff;
  border: 2px solid #B36206;
  font-size: 13px;
  letter-spacing: -0.2px;
  padding: 9px 22px;
  font-size: clamp(.8rem, -0.875rem + 8.333vw, .8rem);
  font-family: "League Spartan", sans-serif;
  letter-spacing: -0.2px;
  font-weight: 100;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 1rem;
  font-weight: 400;
}
.btn__primary--small-nocolor:link {
  color: #B36206;
  border: 2px solid #B36206;
}
.btn__primary--small-nocolor:visited {
  color: #26201B;
  border: 2px solid #26201B;
}
.btn__primary--small-nocolor:hover {
  color: #83390B;
  border: 2px solid #83390B;
}
.btn__primary--small-nocolor:disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: rgba(179, 98, 6, 0.5);
  border: 2px solid rgba(179, 98, 6, 0.5);
}
.btn__modal {
  border-radius: 48px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  color: #ffffff;
  background-color: #B36206;
  border: 2px solid #B36206;
  font-size: 18px;
  letter-spacing: -0.3px;
  padding: 20px 32px;
  font-size: clamp(.94rem, -0.875rem + 8.333vw, .94rem);
  font-family: "League Spartan", sans-serif;
  letter-spacing: -0.3px;
  font-weight: 100;
  text-transform: uppercase;
  display: inline;
  margin-bottom: 1rem;
}
.btn__modal:link {
  background-color: #B36206;
  border: 2px solid #B36206;
}
.btn__modal:visited {
  background-color: #26201B;
  border: 2px solid #26201B;
}
.btn__modal:hover {
  background-color: #83390B;
  border: 2px solid #83390B;
}
.btn__modal:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: rgba(179, 98, 6, 0.5);
  border: 2px solid rgba 179, 98, 6, 0.5;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}
@media (min-width: 700px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.card__img {
  max-width: 35%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 700px) {
  .card__img {
    max-width: 100%;
    border-radius: 10px;
  }
}
.card__border {
  border: 1px solid #756A5B;
  background-color: #DFDAD3;
}
@media (min-width: 700px) {
  .card__border {
    border: none;
    background-color: #ffffff;
  }
}
.card__line {
  border-left: 3px solid #83390B;
  height: 180px;
  right: 16px;
}
.card__description {
  -webkit-margin-before: 1.5rem;
          margin-block-start: 1.5rem;
  margin-bottom: 16px;
}
.card__title {
  text-transform: uppercase;
}
.card__details, .card__details-margin, .card__details-investigacion, .card__details-producto, .card__details-investigacion-title, .card__details-formacion {
  padding: 0 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 700px) {
  .card__details, .card__details-margin, .card__details-investigacion, .card__details-producto, .card__details-investigacion-title, .card__details-formacion {
    padding: 0;
  }
}
.card__details-formacion {
  color: #F4F3EF;
}
.card__details-investigacion, .card__details-producto, .card__details-investigacion-title {
  color: #383126;
  background-color: #DFDAD3;
}
@media (min-width: 700px) {
  .card__details-investigacion, .card__details-producto, .card__details-investigacion-title {
    background-color: #ffffff;
  }
}
.card__details-margin {
  margin-left: 16px;
}
.card__details h3, .card__details-formacion h3, .card__details-investigacion h3, .card__details-producto h3, .card__details-investigacion-title h3, .card__details-margin h3 {
  -webkit-margin-after: 0.09rem;
          margin-block-end: 0.09rem;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  text-transform: uppercase;
}
.card__details p, .card__details-formacion p, .card__details-investigacion p, .card__details-producto p, .card__details-investigacion-title p, .card__details-margin p {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
}
.card__details-producto {
  -webkit-margin-before: 0.9rem;
          margin-block-start: 0.9rem;
  display: inline-block;
  padding-top: 0.7rem;
}
.card__details-producto h3 {
  padding: 0;
}
.card__color-grado {
  background-color: #5D4976;
}
.card__color-master {
  background-color: #A7706C;
}
.card__color-doctorado {
  background-color: #E19F40;
}
.card__color-cursos {
  background-color: #1E60BF;
}
.card__color-entusiastas {
  background-color: #989A2B;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* EScondemos el checkbox del navegador */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Custom checkbox */
.checkmark, .checkmark__radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #CBBDAA;
}
.checkmark__radio {
  border-radius: 200px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark, .container:hover input ~ .checkmark__radio {
  background-color: #B36206;
}
.container:hover input ~ .checkmark:hover, .container:hover input ~ .checkmark__radio:hover {
  background-color: #B36206;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark, .container input:checked ~ .checkmark__radio {
  background-color: #B36206;
}
.container input:checked ~ .checkmark:hover, .container input:checked ~ .checkmark__radio:hover {
  background-color: #B36206;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after, .checkmark__radio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after, .container input:checked ~ .checkmark__radio:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after, .container .checkmark__radio:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #F4F3EF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 48px;
}
@media (min-width: 1024px) {
  .column {
    padding-bottom: 0;
  }
}
.column__icon {
  width: 47px;
  margin-right: 20px;
}
.column__title {
  padding-bottom: 4px;
}
.column__text {
  padding-bottom: 48px;
}
.column__text--icon {
  color: #83390B;
}
@media (min-width: 1024px) {
  .column__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
}

/*------------------------------------*\
    LINKS
\*------------------------------------*/
.link {
  text-transform: uppercase;
  text-decoration: none;
  color: #83390B;
}
.link:link, .link:active {
  color: #83390B;
}
.link:hover {
  color: #B36206;
}
.link:focus {
  color: #83390B;
}

.svg__icon, .svg__icon--margin, .svg__icon--date, .svg__icon--left, .svg__icon--right {
  position: relative;
  top: 0.1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  fill: currentColor;
}
.svg__icon--right {
  margin-left: 16px;
}
.svg__icon--left {
  margin-right: 16px;
  float: left;
}
.svg__icon--date {
  width: 27px;
}
.svg__icon--margin {
  margin-right: 8px;
  margin-bottom: 0.1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #DFDAD3;
  cursor: pointer;
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider::before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 4px;
  height: 26px;
  width: 26px;
  background-color: #FCFCFC;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #B36206;
}
input:checked + .slider:hover {
  background-color: #83390B;
}
input:checked + .slider:disabled {
  background-color: rgba(179, 98, 6, 0.5);
}
input:checked + .slider::before {
  -webkit-transform: translatex(30px);
          transform: translatex(30px);
  background-color: #FCFCFC;
}

.tag, .tag__card--border, .tag__card--grey, .tag__salud, .tag__entusiastas, .tag__profesionales, .tag__doctorado, .tag__master, .tag__grado {
  padding: 3px 8px;
  text-align: center;
  color: #F4F3EF;
  letter-spacing: -0.23px;
  border-radius: 8px;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  font-family: "League Spartan", sans-serif;
}
.tag__grado {
  background-color: #5D4976;
  border: 2px solid #5D4976;
}
.tag__master {
  background-color: #A7706C;
  border: 2px solid #A7706C;
}
.tag__doctorado {
  background-color: #E19F40;
  border: 2px solid #E19F40;
}
.tag__profesionales {
  background-color: #1E60BF;
  border: 2px solid #1E60BF;
}
.tag__entusiastas {
  background-color: #989A2B;
  border: 2px solid #989A2B;
}
.tag__salud {
  background-color: #0B2173;
  border: 2px solid #0B2173;
}
.tag__card--grey {
  color: #26201B;
  border: 2px solid #DFDAD3;
  background-color: #DFDAD3;
}
.tag__card--border {
  color: #008A00;
  border: 2px solid #008A00;
  background-color: #ffffff;
}

.topbar__submenu--link {
  color: #000;
  text-decoration: none;
}

.topbar__submenu--list {
  list-style: none;
}

.submenu__container {
  height: 50px;
  width: 100%;
  background: #CE852A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  color: #fff;
}

.open, .close {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.topbar {
  height: 100%;
  width: 60%;
  background: #CE852A;
}

.topbar ul {
  height: 100%;
  width: 100%;
  background: #CE852A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.topbar ul li {
  height: 100%;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  cursor: pointer;
}

.topbar ul li:hover {
  background: rgba(0, 0, 0, 0.3);
}

.topbar ul li a {
  color: #fff;
}

.topbar__submenu {
  position: relative;
}

.topbar__submenu a {
  padding-left: 5px;
}

.topbar__submenu i {
  font-size: 1.2rem;
}

.topbar__submenu > ul {
  height: 200px;
  width: 100%;
  background: #CE852A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transform: translateY(125px) scale(1, 0);
          transform: translateY(125px) scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.2s linear 0.5s;
  transition: -webkit-transform 0.2s linear 0.5s;
  transition: transform 0.2s linear 0.5s;
  transition: transform 0.2s linear 0.5s, -webkit-transform 0.2s linear 0.5s;
}

.topbar__submenu:hover > ul {
  -webkit-transform: translateY(125px) scale(1, 1);
          transform: translateY(125px) scale(1, 1);
}

.topbar__submenu > ul li {
  height: 100%;
  width: 100%;
}

p, h4 {
  margin-top: 0;
  display: block;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.footer {
  width: 100%;
  gap: 30px;
  padding: 24px;
}
@media (min-width: 1024px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer__logo {
  max-width: 117px;
}
@media (min-width: 1024px) {
  .footer__logo {
    max-width: 165px;
  }
}
@media (min-width: 1024px) {
  .footer__column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__list {
  list-style: none;
  width: 100%;
  padding: 0;
}
@media (min-width: 1024px) {
  .footer__list {
    padding-bottom: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 100px;
  }
}
.footer__item {
  color: #26201B;
  text-decoration: none;
}
.footer__copyright {
  text-align: center;
}
.footer__copyright--text {
  padding-bottom: 24px;
}

hr {
  height: 1px;
  border: 0;
  width: 100%;
  background-color: #26201B;
}

@media (min-width: 1024px) {
  .grid__c3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    grid-auto-rows: minmax(100px, auto);
  }
  .grid__c5 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 24px;
    grid-auto-rows: minmax(100px, auto);
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  height: 100%;
  position: relative;
}

img {
  max-width: 100%;
}

main {
  padding: 24px;
}
@media (min-width: 1024px) {
  main {
    padding: 11.5px;
  }
}

.title__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 32px;
}
.title__link a {
  padding-bottom: 16px;
}

h3 {
  padding-bottom: 32px;
}