
<section class="tabs">
  <div class="media__margin padding content__center content__max tabs__container"> 
    <div class="tabs__slider"><a class="tabs__link">Grado </a><a class="tabs__link">Máster</a><a class="tabs__link">Cursos</a><a class="tabs__link">Doctorado</a><a class="tabs__link">Cursos para entusiastas</a><a class="tabs__link">Formación a medida</a></div>
    <div class="tabs__content">
      <div class="padding__top-large grid__c2">
        <div><img class="box__img display__desktop img__50" src="../../src/images/foto.jpg" alt=""/></div>
        <div><span class="tag__grado display__desktop">Grado en Gastronomía y Artes Culinarias</span>
          <h3 class="padding__topbottom-large primaryfont__bold display__desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="padding__bottom-x-regular text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla.</p>
          <p class="padding__bottom-xx-large text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat</p>
          <div><a class="btn__primary--medium-color-width" href="www">Acceder a la sección</a></div>
        </div>
      </div>
    </div>
    <div class="tabs__content">
      <div class="padding__top-large grid__c2">
        <div><img class="box__img display__desktop img__50" src="../../src/images/foto.jpg" alt=""/></div>
        <div><span class="tag__master display__desktop">Máster</span>
          <h3 class="padding__topbottom-large primaryfont__bold display__desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="padding__bottom-x-regular text-medium">Fórmate con los mejores profesionales en nuestra Facultad de Gastronomía pionera a nivel internacional.</p>
          <p class="padding__bottom-xx-large text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat</p>
          <div><a class="btn__primary--medium-color-width" href="www">Acceder a la sección</a></div>
        </div>
      </div>
    </div>
    <div class="tabs__content">
      <div class="padding__top-large grid__c2">
        <div><img class="box__img display__desktop img__50" src="../../src/images/foto.jpg" alt=""/></div>
        <div><span class="tag__grado display__desktop">Cursos</span>
          <h3 class="padding__topbottom-large primaryfont__bold display__desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="padding__bottom-x-regular text-medium">Fórmate con los mejores profesionales en nuestra Facultad de Gastronomía pionera a nivel internacional.</p>
          <p class="padding__bottom-xx-large text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat</p>
          <div><a class="btn__primary--medium-color-width" href="www">Acceder a la sección</a></div>
        </div>
      </div>
    </div>
    <div class="tabs__content">
      <div class="padding__top-large grid__c2">
        <div><img class="box__img display__desktop img__50" src="../../src/images/foto.jpg" alt=""/></div>
        <div><span class="tag__doctorado display__desktop">Doctorado</span>
          <h3 class="padding__topbottom-large primaryfont__bold display__desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="padding__bottom-x-regular text-medium">Fórmate con los mejores profesionales en nuestra Facultad de Gastronomía pionera a nivel internacional.</p>
          <p class="padding__bottom-xx-large text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat</p>
          <div><a class="btn__primary--medium-color-width" href="www">Acceder a la sección</a></div>
        </div>
      </div>
    </div>
    <div class="tabs__content">
      <div class="padding__top-large grid__c2">
        <div><img class="box__img display__desktop img__50" src="../../src/images/foto.jpg" alt=""/></div>
        <div><span class="tag__entusiastas display__desktop">Cursos para entusiastas</span>
          <h3 class="padding__topbottom-large primaryfont__bold display__desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="padding__bottom-x-regular text-medium">Fórmate con los mejores profesionales en nuestra Facultad de Gastronomía pionera a nivel internacional.</p>
          <p class="padding__bottom-xx-large text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat</p>
          <div><a class="btn__primary--medium-color-width" href="www">Acceder a la sección</a></div>
        </div>
      </div>
    </div>
    <div class="tabs__content">
      <di class="padding__top-large grid__c2">
        <div><img class="box__img display__desktop img__50" src="../../src/images/foto.jpg" alt=""/></div>
        <div><span class="tag__grado display__desktop">Formación a medida</span>
          <h3 class="padding__topbottom-large primaryfont__bold display__desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="padding__bottom-x-regular text-medium">Fórmate con los mejores profesionales en nuestra Facultad de Gastronomía pionera a nivel internacional.</p>
          <p class="padding__bottom-xx-large text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat</p>
          <div><a class="btn__primary--medium-color-width" href="www">Acceder a la sección</a></div>
        </div>
      </di>
    </div>
  </div>
</section>