include ../head/head.pug
    main
        section.padding
            div.padding__top-x-large
                p.text-large Formación
                h1.primaryfont__bold--800 Impulsa tu futuro

            div.padding__bottom-x-regular.grid__c2
                div
                    img(class="box__img display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                div
                    span.tag__grado.display__desktop Grado en Gastronomía y Artes Culinarias
                    h3.primaryfont__bold--600.display__desktop Tus primeros pasos en el mundo de la gastronomía y la restauración.
                    p.text-medium Fórmate con los mejores profesionales en nuestra Facultad de Gastronomía pionera a nivel internacional.
                    p.text-medium El modelo educativo de Basque Culinary Center te ayudará a desarrollar las capacidades que te ayuden a dar respuesta a los retos del futuro de un sector estratégico y en constante evolución, a través de talleres, proyectos reales y prácticas en empresas.
                    div.display__desktop
                        a.btn__primary--large-nocolor-width(href="#")
                            p.text-small Acceder a innovación