<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <link link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600&amp;family=League+Spartan:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
  </head>
  <body> 
    <main>
      <section class="padding">
        <div class="padding__top-x-large">
          <p class="text-large">Formación</p>
          <h1 class="primaryfont__bold--800">Impulsa tu futuro</h1>
        </div>
        <div class="grid__c2">
          <div><img class="box__img display__desktop" src="../../src/images/img-noticias.jpg" alt=""></div>
          <div><span class="tag__grado display__desktop">Grado en Gastronomía y Artes Culinarias</span>
            <h3 class="primaryfont__bold--600 display__desktop">Tus primeros pasos en el mundo de la gastronomía y la restauración.</h3>
            <p class="text-medium">Fórmate con los mejores profesionales en nuestra Facultad de Gastronomía pionera a nivel internacional.</p>
            <p class="text-medium">El modelo educativo de Basque Culinary Center te ayudará a desarrollar las capacidades que te ayuden a dar respuesta a los retos del futuro de un sector estratégico y en constante evolución, a través de talleres, proyectos reales y prácticas en empresas.</p>
            <div class="display__desktop"><a class="btn__primary--large-nocolor-width" href="#">
                <p class="text-small">Acceder a innovación</p></a></div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>