section.tabs
    div.media__margin.padding.content__center.content__max.tabs__container 
        div.tabs__slider
            a(class="tabs__link tabs__active") Grado 
            a.tabs__link Máster
            a.tabs__link Cursos
            a.tabs__link Doctorado
            a.tabs__link Cursos para entusiastas
            a.tabs__link Formación a medida

            //- Grado
        div.tabs__content.tabs__content__active
            div.padding__top-large.grid__c2
                div
                    img(class="border__radius-small display__desktop img__50" src="../../src/images/foto.jpg", alt="")
                div
                    span.tag__grado.display__desktop Grado en Gastronomía y Artes Culinarias
                    h3.padding__topbottom-large.primaryfont__bold.display__desktop Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    p.padding__bottom-x-regular.text-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla.
                    p.padding__bottom-xx-large.text-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat
                    div
                        a.btn__primary--medium-color-width(href="www") Acceder a la sección
        //- Máster
        div.tabs__content
            div.padding__top-large.grid__c2
                div
                    img(class="border__radius-small display__desktop img__50" src="../../src/images/foto.jpg", alt="")
                div
                    span.tag__master.display__desktop Máster
                    h3.padding__topbottom-large.primaryfont__bold.display__desktop Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    p.padding__bottom-x-regular.text-medium Fórmate con los mejores profesionales en nuestra Facultad de Gastronomía pionera a nivel internacional.
                    p.padding__bottom-xx-large.text-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat
                    div
                        a.btn__primary--medium-color-width(href="www") Acceder a la sección
        //- Cursos
        div.tabs__content
            div.padding__top-large.grid__c2
                div
                    img(class="border__radius-small display__desktop img__50" src="../../src/images/foto.jpg", alt="")
                div
                    span.tag__grado.display__desktop Cursos
                    h3.padding__topbottom-large.primaryfont__bold.display__desktop Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    p.padding__bottom-x-regular.text-medium Fórmate con los mejores profesionales en nuestra Facultad de Gastronomía pionera a nivel internacional.
                    p.padding__bottom-xx-large.text-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat
                    div
                        a.btn__primary--medium-color-width(href="www") Acceder a la sección
        
        //- Doctorado
        div.tabs__content
            div.padding__top-large.grid__c2
                div
                    img(class="border__radius-small display__desktop img__50" src="../../src/images/foto.jpg", alt="")
                div
                    span.tag__doctorado.display__desktop Doctorado
                    h3.padding__topbottom-large.primaryfont__bold.display__desktop Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    p.padding__bottom-x-regular.text-medium Fórmate con los mejores profesionales en nuestra Facultad de Gastronomía pionera a nivel internacional.
                    p.padding__bottom-xx-large.text-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat
                    div
                        a.btn__primary--medium-color-width(href="www") Acceder a la sección

        //- Cursos para entusiastas
        div.tabs__content
            div.padding__top-large.grid__c2
                div
                    img(class="border__radius-small display__desktop img__50" src="../../src/images/foto.jpg", alt="")
                div
                    span.tag__entusiastas.display__desktop Cursos para entusiastas
                    h3.padding__topbottom-large.primaryfont__bold.display__desktop Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    p.padding__bottom-x-regular.text-medium Fórmate con los mejores profesionales en nuestra Facultad de Gastronomía pionera a nivel internacional.
                    p.padding__bottom-xx-large.text-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat
                    div
                        a.btn__primary--medium-color-width(href="www") Acceder a la sección
        //- Formación a medida
        div.tabs__content
            di.padding__top-large.grid__c2
                div
                    img(class="border__radius-small display__desktop img__50" src="../../src/images/foto.jpg", alt="")
                div
                    span.tag__grado.display__desktop Formación a medida
                    h3.padding__topbottom-large.primaryfont__bold.display__desktop Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    p.padding__bottom-x-regular.text-medium Fórmate con los mejores profesionales en nuestra Facultad de Gastronomía pionera a nivel internacional.
                    p.padding__bottom-xx-large.text-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat
                    div
                        a.btn__primary--medium-color-width(href="www") Acceder a la sección