//lib
@import "lib/functions";
@import "lib/settings";
@import "lib/mixins";
@import "lib/utilities";


//base
@import "base/buttons";
@import "base/card-mobile";
@import "base/chekbox";
@import "base/etiqueta";
@import "base/forms";
@import "base/images";
@import "base/links";
@import "base/menu";
@import "base/noticias";
@import "base/svg-icon";
@import "base/switch";
@import "base/typography";

//layout
@import "layout/footer";
@import "layout/header";



//site
@import "site/site";


