include ../components/layout/filter-agenda.pug
include ../components/layout/bullet.pug
include ../components/column/component-target-garamond-agenda.pug
include ../components/column/component-target-garamond-complete-actualidad.pug
include ../components/layout/footer.pug
include ../components/menu/menu-gradient.pug
include ../components/menu/menu-section.pug
include ../components/menu/menu.pug
include ../components/menu/menu-index.pug
include ../components/layout/head.pug
    block content
        main 
            header
                // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> COMPONENTES MENÚS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                div
                    // menu gradient componente "menu-gradient"
                    +menu-gradient("gradient__innovation")
                    // menu topbar componente "topbar"
                    include ../components/menu/topbar.pug
                    // menu main componente "menu"
                    +menu("display__none")
                    // migas de pan componente  "menu-section"
                    +menu-section("migas__neutral", "migas__neutral", "migas__text-neutral")
                    //- +menu-index()
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CABECERA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section.media__margin.padding.padding__top-xx-large.content__center.content__max 
                h3.padding__bottom-large.primaryfont__bold Evento destacado
            section.padding__topbottom-x-large.box__background
                div.media__margin.padding.content__center.content__max
                    // component-target-garamond-complete-actualidad
                    +component-target-garamond-complete-actualidad("btn__primary--medium-nocolor-width", "grid__c7-c5", "tag__primary", "box__icon--date-home", "", "display__mobile", "display__none", "")
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FILTROS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section.media__margin.padding__regular.padding__top-x-large.content__center.content__max
                h2.primaryfont__bold Agenda
            section.box__background
                // componente filter-agenda
                +filter-agenda("tag__empresas", "tag__empresas-dark")
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> EVENTOS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section.media__margin.padding.padding__top-x-large.content__center.content__max 
                h3.primaryfont__bold Todos los eventos
                p.padding__bottom-large.text-small 70 eventos
            //target
            section.padding__bottom-desktop-small
                div.media__margin.padding__topbottom-desktop.padding.content__center.content__max
                    // component-target-garamond-agenda
                    +component-target-garamond-agenda("btn__primary--medium-nocolor-width", "grid__c4-c8", "tag__primary", "box__icon--date-home", "display__desktop", "display__mobile", "display__none", "")
            //target
            section.box__background
                div.media__margin.padding__topbottom-desktop.padding.content__center.content__max
                    // component-target-garamond-agenda
                    +component-target-garamond-agenda("btn__primary--medium-nocolor-width", "grid__c4-c8", "tag__primary", "box__icon--date-home", "display__desktop", "display__mobile", "display__none", "")
            //target
            section.padding__bottom-desktop-small
                div.media__margin.padding__topbottom-desktop.padding.content__center.content__max
                    // component-target-garamond-agenda
                    +component-target-garamond-agenda("btn__primary--medium-nocolor-width", "grid__c4-c8", "tag__primary", "box__icon--date-home", "display__desktop", "display__mobile", "display__none", "")
            //target
            section.box__background
                div.media__margin.padding__topbottom-desktop.padding.content__center.content__max
                    // component-target-garamond-agenda
                    +component-target-garamond-agenda("btn__primary--medium-nocolor-width", "grid__c4-c8", "tag__primary", "box__icon--date-home", "display__desktop", "display__mobile", "display__none", "")
            //target
            section.padding__bottom-desktop-small
                div.media__margin.padding__topbottom-desktop.padding.content__center.content__max
                    // component-target-garamond-agenda
                    +component-target-garamond-agenda("btn__primary--medium-nocolor-width", "grid__c4-c8", "tag__primary", "box__icon--date-home", "display__desktop", "display__mobile", "display__none", "")
            //target
            section.box__background
                div.media__margin.padding__topbottom-desktop.padding.content__center.content__max
                    // component-target-garamond-agenda
                    +component-target-garamond-agenda("btn__primary--medium-nocolor-width", "grid__c4-c8", "tag__primary", "box__icon--date-home", "display__desktop", "display__mobile", "display__none", "")
            //target
            section.padding__bottom-desktop-small
                div.media__margin.padding__topbottom-desktop.padding.content__center.content__max
                    // component-target-garamond-agenda
                    +component-target-garamond-agenda("btn__primary--medium-nocolor-width", "grid__c4-c8", "tag__primary", "box__icon--date-home", "display__desktop", "display__mobile", "display__none", "")
            //target
            section.box__background
                div.media__margin.padding__topbottom-desktop.padding.content__center.content__max
                    // component-target-garamond-agenda
                    +component-target-garamond-agenda("btn__primary--medium-nocolor-width", "grid__c4-c8", "tag__primary", "box__icon--date-home", "display__desktop", "display__mobile", "display__none", "")
                hr.hr
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> PAGINACIÓN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section.padding__topbottom-xtra-large 
                h3 Falta componente paginación
        
        // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
        +footer()
    script(src="../js/onload.js")
    script(src="../js/menu.js")