<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <main> 
      <header>
        <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> COMPONENTES MENÚS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
        <div>
          <!-- menu gradient componente "menu-gradient"-->
          <div class="gradient__innovation">
            <p class="text-small gradient__text">Conoce los nuevos proyectos de<a class="primaryfont__bold" href="#"> BCC Innovation</a></p>
          </div>
          <!-- menu topbar componente "topbar"-->
          <div> 
            <nav class="topbar">
              <ul class="topbar__list">
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">ACCESOS</a>
                  <ul class="topbar__list--submenu">
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                  </ul>
                </li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">CONTACTO</a></li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">TIENDA BCC</a></li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">SÍGUENOS</a></li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">ES</a>
                  <ul class="topbar__list--submenu">
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">EN</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">FR</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">CA</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <!-- menu main componente "menu"-->
          <div>
            <nav class="menu">
              <input class="menu__checkbox" type="checkbox" id="menu__checkbox"/>
              <label class="menu__toggle" for="menu__checkbox"> <img class="hamburger" src="../../src/images/burger.png"/><img class="close" src="../../src/images/closed.png"/></label>
              <div class="menu__item--logo"><a class="menu__menu" href="#"><img class="menu__logo" src="../../src/images/logo-bcc.png" alt=""/></a></div>
              <ul class="menu__menu">
                <li class="menu__item">  <a class="menu__menu--link primaryfont__bold" href="#">Sobre BCC<img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Formación <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Innovación <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Empresas <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Iniciativas <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Restaurantes <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Actualidad <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item display__desktop"><a class="btn__primary--medium-color-menu display__desktop" href="asdsadsad">Encuentra tu formación</a></li>
              </ul>
            </nav>
          </div>
          <div class="padding padding__top-regular display__mobile display__none"><a class="btn__primary--small-color-menu" href="www" displayNone="display__none">Encuentra tu formación</a></div>
          <!-- migas de pan componente  "menu-section"-->
          <div class="display__desktop migas migas__neutral">
            <ul> 
              <li class="migas__neutral"><a class="text-small migas__text-neutral" href="www">Home</a></li>
              <li class="migas__neutral"><a class="text-small migas__text-neutral" href="www">Innovación</a></li>
              <li class="migas__neutral"><a class="text-small migas__text-neutral" href="www">Líneas de investigación</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FORM NEWSLETTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
      <!-- componente newsletter-form-img-->
      <section class="padding__top-large padding__bottom-xtra-large box__background">
        <div class="media__margin padding content__center content__max padding__bottom-regular">
          <h3 class="padding__bottom-large primaryfont__bold">Suscríbete a nuestra newsletter</h3>
          <div class="content__center content__max grid__c6-c6">    
            <section> 
              <div> 
                <ul class="bullet__none-margin">
                  <li class="bullet__line-home">
                    <h4 class="bullet__title primaryfont__bold">Contenidos exclusivos</h4>
                    <p class="bullet__description text-small">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit aliquam rerum beatae odit vitae perspiciatis.</p>
                  </li>
                  <li class="bullet__line-home">
                    <h4 class="bullet__title primaryfont__bold">Infórmate de lo que está pasando en el BCC</h4>
                    <p class="bullet__description text-small">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit aliquam rerum beatae odit vitae perspiciatis.</p>
                  </li>
                </ul>
              </div>
              <form class="form" name="registration-form" id="registrationForm" method="POST" action="" role="form">
                <div>
                  <p class="text-medium padding__bottom-small"><strong>Déjanos tus datos y tus preferencias.</strong> Nosotros hacemos el resto.</p>
                  <div class="form__inputs gap__form">
                    <div class="form-floating">
                      <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre" required="required"/>
                      <label for="nombre">* Nombre</label>
                    </div>
                    <div class="form-floating">
                      <input class="form-control" type="text" name="apellidos" id="apellidos" placeholder="Apellidos" required="required"/>
                      <label for="apellidos">* Apellidos</label>
                    </div>
                  </div>
                  <div class="form__inputs gap__form">
                    <div class="form-floating">
                      <input class="form-control" type="text" name="pais" id="pais" placeholder="País" required="required"/>
                      <label for="pais">*País</label>
                    </div>
                    <div class="form-floating">
                      <label for="opciones"></label>
                      <select class="form-control" name="opciones"> 
                        <option selected="selected" disabled="disabled">Intereses</option>
                        <option value="opcion 1">Opción 1</option>
                        <option value="opcion 2">Opción 2</option>
                      </select>
                    </div>
                  </div>
                  <p class="text-small padding__top-small padding__bottom-small"><strong>¿Qué información te interesa recibir?</strong> Puedes marcar varias opciones</p>
                  <div class="form-floating">
                    <label for="opciones"></label>
                    <select class="form-control" name="opciones"> 
                      <option selected="selected" disabled="disabled">Intereses</option>
                      <option value="opcion 1">Opción 1</option>
                      <option value="opcion 2">Opción 2</option>
                    </select>
                  </div>
                  <div class="form__policity text-small">
                    <label class="container">
                      <input type="checkbox"/><span class="checkmark__radio"></span>
                    </label>
                    <p class="padding__top-tiny x-small form__policity-text primaryfont__bold">He leído y acepto la <a class="primaryfont__bold" href="www">política de privacidad </a></p>
                    <div class="submit__desktop padding__top-regular display__desktop">
                      <button class="btn__primary--medium-color-width">Enviar datos</button>
                    </div>
                    <div class="submit padding__top-regular display__mobile">
                      <button class="btn__primary--small-color">Enviar datos </button>
                    </div>
                  </div>
                </div>
              </form>
            </section>
            <div> <img class="box__img--bloq2" src="../src/images/img-cabecera.jpg" alt=""/></div>
          </div>
        </div>
      </section>
    </main>
    <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
    <div> 
      <hr class="hr__margin-none"/>
    </div>
    <footer class="padding__bottom-xtra-large footer box__background--white">
      <div class="footer__info"><img class="footer__logo padding__bottom-x-regular" src="../../src/images/logo-BCC-footer.png" alt=""/>
        <p class="x-small display__desktop">Paseo Juan Avelino Barriola, 101, </br>20009 Donostia-San Sebastián (Gipuzkoa) </br>Tel.: +34 943 574 500 </br>email: info@bculinary.com</p>
      </div>
      <div class="footer__column">
        <nav class="footer__menu">
          <ul class="footer__list"> 
            <li>
              <hr class="hr__margin display__mobile"/><a class="footer__item x-small primaryfont__bold" href="#">Área de prensa</a>
              <hr class="hr__margin display__mobile"/>
            </li>
            <li><a class="footer__item x-small primaryfont__bold" href="#">Trabaja con nosotros</a>
              <hr class="hr__margin display__mobile"/>
            </li>
            <li><a class="footer__item x-small primaryfont__bold" href="#">Contacto</a>
              <hr class="hr__margin display__mobile"/>
            </li>
            <li><a class="footer__item x-small primaryfont__bold" href="#">Perfil del contratante</a>
              <hr class="hr__margin display__mobile"/>
            </li>
          </ul>
        </nav>
        <div class="footer__copyright"> 
          <p class="footer__copyright--text x-small">Copyright © 2022 Basque Culinary Center. Todos los derechos reservados.</p>
          <p class="footer__copyright--text x-small">Política de privacidad  I  Uso de cookies  I  Condiciones de uso  I  Ventas y reembolsos  I  Avisos legales  I  Mapa del sitio</p>
        </div>
      </div>
    </footer>
    <script src="../js/accordion.js"> </script>
    <link link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600&amp;family=League+Spartan:wght@300;400;500;700;800&amp;display=swap" rel="stylesheet">
  </head>
  <body></body>
</html>