include ../components/layout/bullet.pug
include ../components/layout/newsletter-form.pug
include ../components/column/component-noticia-target.pug
include ../components/column/component-noticia-target-actualidad.pug
include ../components/column/component-noticia-principal-actualidad.pug
include ../components/layout/footer.pug
include ../components/menu/menu-gradient.pug
include ../components/menu/menu-section.pug
include ../components/menu/menu.pug
include ../components/menu/menu-index.pug
include ../components/layout/head.pug
    block content
        main 
            header
                // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> COMPONENTES MENÚS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                div
                    // menu gradient componente "menu-gradient"
                    +menu-gradient("gradient__innovation")
                    // menu topbar componente "topbar"
                    include ../components/menu/topbar.pug
                    // menu main componente "menu"
                    +menu("display__none")
                    // migas de pan componente  "menu-section"
                    +menu-section("migas__neutral", "migas__text-neutral")
                    //- +menu-index()
            // title
            section.media__margin.padding.padding__top-xx-large.content__center.content__max 
                h2.padding__bottom-large.primaryfont__bold BCC Actualidad
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> NOTICIA PRINCIPAL 1ºNIVEL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            div.padding__bottom-x-large
                // component-noticia-principal-actualidad
                +component-noticia-principal-actualidad("box__content--justify", "link__color-home", "color__text-home", "tag__card--grey", "", "", "display__none", "")
            // líne separadora
            section.padding__bottom-xx-large.media__margin.padding.content__center.content__max.display__desktop     
                hr.hr
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> NOTICIA 2 COLUMNAS 2ºNIVEL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section.media__margin.padding.padding__bottom-large.content__center.content__max.display__flex.gap
                // component-noticia-target-actualidad
                +component-noticia-target-actualidad("link__color-home", "tag__primary", "box__tag--bloq2", "", "display__desktop", "display__mobile", "display__none", "")
                // component-noticia-target-actualidad
                +component-noticia-target-actualidad("link__color-home", "tag__primary", "box__tag--bloq2", "", "display__desktop", "display__mobile", "display__none", "")
            // líne separadora
            section.padding__bottom-xx-large.media__margin.padding.content__center.content__max.display__desktop     
                hr.hr
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> NOTICIA 3 COLUMNAS 3ºNIVEL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section.media__margin.padding.padding.padding__bottom-large.content__center.content__max.display__flex.display__desktop.gap
                    // target
                    div.padding__bottom-large
                        hr.hr__margin-top.hr__margin-bottom.display__mobile
                        span.tag__primary.box__tag--space Etiqueta 01
                        p.padding__topbottom-x-small.text-medium.primaryfont__bold Titular de la noticia que puede ocupar hasta tres líneas como máximo para destacar
                        p.display__mobile.x-small.box__color-home  Redacción BCC
                        p.box__description.text-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non.
                        div.box__link.display__desktop
                            a(class="x-small link__color-home display__desktop" href="#") Leer más
                                img(class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
                    // target
                    div.padding__bottom-large
                        hr.hr__margin-top.hr__margin-bottom.display__mobile
                        span.tag__primary.box__tag--space Etiqueta 01
                        p.padding__topbottom-x-small.text-medium.primaryfont__bold Titular de la noticia que puede ocupar hasta tres líneas como máximo para destacar
                        p.display__mobile.x-small.box__color-home  Redacción BCC
                        p.box__description.text-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non.
                        div.box__link.display__desktop
                            a(class="x-small link__color-home display__desktop" href="#") Leer más
                                img(class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
                    // target
                    div.padding__bottom-large
                        hr.hr__margin-top.hr__margin-bottom.display__mobile
                        span.tag__primary.box__tag--space Etiqueta 01
                        p.padding__topbottom-x-small.text-medium.primaryfont__bold Titular de la noticia que puede ocupar hasta tres líneas como máximo para destacar
                        p.display__mobile.x-small.box__color-home  Redacción BCC
                        p.box__description.text-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non.
                        div.box__link.display__desktop
                            a(class="x-small link__color-home display__desktop" href="#") Leer más
                                img(class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
            // líne separadora
            section.padding__bottom-xx-large.media__margin.padding.content__center.content__max.display__desktop     
                hr.hr
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> NOTICIA 3 COLUMNAS 3ºNIVEL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section.media__margin.padding.padding__bottom-xtra-large.content__center.content__max.display__flex.gap
                    // target
                    div.padding__bottom-large
                        hr.hr__margin-top.hr__margin-bottom.display__mobile
                        span.tag__primary.box__tag--space Etiqueta 01
                        p.padding__topbottom-x-small.text-medium.primaryfont__bold Titular de la noticia que puede ocupar hasta tres líneas como máximo para destacar
                        p.display__mobile.x-small.box__color-home  Redacción BCC
                        p.box__description.text-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non.
                        div.box__link.display__desktop
                            a(class="x-small link__color-home display__desktop" href="#") Leer más
                                img(class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
                    // target
                    div.padding__bottom-large
                        hr.hr__margin-top.hr__margin-bottom.display__mobile
                        span.tag__primary.box__tag--space Etiqueta 01
                        p.padding__topbottom-x-small.text-medium.primaryfont__bold Titular de la noticia que puede ocupar hasta tres líneas como máximo para destacar
                        p.display__mobile.x-small.box__color-home  Redacción BCC
                        p.box__description.text-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non.
                        div.box__link.display__desktop
                            a(class="x-small link__color-home display__desktop" href="#") Leer más
                                img(class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
                    // target
                    div.padding__bottom-large
                        hr.hr__margin-top.hr__margin-bottom.display__mobile
                        span.tag__primary.box__tag--space Etiqueta 01
                        p.padding__topbottom-x-small.text-medium.primaryfont__bold Titular de la noticia que puede ocupar hasta tres líneas como máximo para destacar
                        p.display__mobile.x-small.box__color-home  Redacción BCC
                        p.box__description.text-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non.
                        div.box__link.display__desktop
                            a(class="x-small link__color-home display__desktop" href="#") Leer más
                                img(class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> PAGINACIÓN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section.padding__topbottom-xtra-large 
                h3 Falta componente paginación
            
        // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
        +footer("box__background--white")

    script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js")
    script(src="../js/swiper.js")
    script(src="../js/menu.js")