include ../components/layout/bullet.pug
include ../components/column/component-info-event.pug
include ../components/menu/menu-gradient.pug
include ../components/menu/menu-section.pug
include ../components/menu/menu.pug
include ../components/menu/menu-index.pug
include ../components/layout/footer.pug
include ../components/layout/head.pug
    block content
        main 
            header
                // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> COMPONENTES MENÚS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                div
                    // menu gradient componente "menu-gradient"
                    +menu-gradient("gradient__innovation")
                    // menu topbar componente "topbar"
                    include ../components/menu/topbar.pug
                    // menu main componente "menu"
                    +menu("display__none")
                    // migas de pan componente  "menu-section"
                    +menu-section("migas__neutral", "migas__neutral", "migas__text-neutral")
                    //- +menu-index()

            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> COMPONENTE FIJO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            // componente banner-fixed
            +banner-fixed()
            
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CONTENT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            // link
            section.media__margin.padding.padding__top-xx-large.padding__bottom-xx-large.content__center.content__max
                div 
                    a(class="text-small link__color-home" href="www") Volver a servicios
                        img(class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
            // texto
            section.media__margin.padding__bottom-xx-large.content__center.content__max
                div.padding
                    h2.padding__bottom-regular.primaryfont__bold Servicio 01
                    p.padding__bottom-regular.text-medium <strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</strong> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    img(class="box__img padding__bottom-regular" src="../../src/images/img-noticias.jpg", alt="")
                    // bullets
                    div.padding__bottom-regular
                        +bullet("bullet__none-margin", "bullet__line-home")
            // otros servicios
            section.media__margin.padding.content__center.content__max
                h3.padding__bottom-large.primaryfont__bold Otros servicios
                .padding__bottom-xtra-large.display__flex.gap
                    div.padding__bottom-large
                        hr
                        div.padding__top-small.box__icon
                            span.tag__card--grey.box__tag--space  Salud
                        div
                            h4.box__title.primaryfont__bold Servicio 01
                        p.text-small Un proyecto liderado por el equipo de BCCInnovation, dentro del consorcio formado junto con la empresa Jakion e Ibermática. Este proyecto tiene como objetivo mejorar la calidad nutricional de la oferta de productos alimentarios o elaboraciones gastronómicas del mercado.  
                            a.text-small.color__text-home(href="www") Ver más
                    div.padding__bottom-large
                        hr
                        div.padding__top-small.box__icon
                            span.tag__card--grey.box__tag--space  Salud
                        div
                            h4.box__title.primaryfont__bold Servicio 02
                        p.text-small Este proyecto, desarrollado en colaboración con el Profesor Jose María Ordovás de la Universidad de Tufts, tiene como finalidad evaluar las consecuencias a nivel metabólico del consumo de productos de origen vegetal de temporada, en comparación al efecto que produce su consumo fuera de temporada.  
                            a.text-small.color__text-home(href="www") Ver más
        
        // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
        +footer()
    
    //- script(src="../js/onload.js")
    script(src="../js/menu.js")
