include ../components/layout/innovation-form.pug
include ../components/column/component-target-info-event.pug
include ../components/column/component-noticia-target-actualidad.pug
include ../components/column/component-noticia-target.pug
include ../components/column/component-noticia-principal.pug
include ../components/layout/filter.pug
include ../components/layout/footer.pug
include ../components/menu/menu-gradient.pug
include ../components/menu/menu-section.pug
include ../components/menu/menu.pug
include ../components/menu/menu-index.pug
include ../components/layout/footer.pug
include ../components/layout/head.pug
    block content
        main 
            header
                //- menu
                div
                    +menu-gradient("gradient__innovation")
                    include ../components/menu/topbar.pug
                    +menu("display__none")
                    +menu-section("migas__neutral", "migas__text-neutral")
                    //- +menu-index()
            //- botón banner
            div.banner__fixed.display__mobile 
                a.btn__primary--small-color(href="www") Contactar
            //- noticias principal
            section.padding.padding__top-xx-large 
                h2.padding__bottom-large.primaryfont__bold Actualidad
            div.padding__bottom-x-large
                +component-noticia-principal("box__content--justify", "link__color-home", "color__text-home", "", "tag__card--grey", "", "", "display__innovation", "display__button", "", "")
            //- cabecera
            section.padding.padding__bottom-xtra-large.content__center.content__max
                div.padding__bottom-large.display__flex.gap
                    +component-noticia-target-actualidad("link__color-home", "tag__primary", "box__tag--bloq2", "", "display__desktop", "display__mobile", "display__none", "")
                    +component-noticia-target-actualidad("link__color-home", "tag__primary", "box__tag--bloq2", "", "display__desktop", "display__mobile", "display__none", "")
                    +component-noticia-target-actualidad("link__color-home", "tag__primary", "box__tag--bloq2", "", "display__desktop", "display__mobile", "display__none", "")
                div.display__flex.gap
                    +component-noticia-target-actualidad("link__color-home", "tag__primary", "box__tag--bloq2", "", "display__desktop", "display__mobile", "display__none", "")
                    +component-noticia-target-actualidad("link__color-home", "tag__primary", "box__tag--bloq2", "", "display__desktop", "display__mobile", "display__none", "")
                    +component-noticia-target-actualidad("link__color-home", "tag__primary", "box__tag--bloq2", "", "display__desktop", "display__mobile", "", "display__one")
                
        //- footer
        +footer("box__background--white")