include ../components/layout/filter.pug
include ../components/column/component-target-info-event.pug
include ../components/menu/menu-gradient.pug
include ../components/menu/menu-section.pug
include ../components/menu/menu.pug
include ../components/menu/menu-index.pug
include ../components/layout/footer.pug
include ../components/layout/head.pug
    block content
        main 
            header
                // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> COMPONENTES MENÚS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                div
                    // menu gradient componente "menu-gradient"
                    +menu-gradient("gradient__innovation")
                    // menu topbar componente "topbar"
                    include ../components/menu/topbar.pug
                    // menu main componente "menu"
                    +menu("display__none")
                    // migas de pan componente  "menu-section"
                    +menu-section("migas__neutral", "migas__neutral", "migas__text-neutral")
                    //- +menu-index()
            
            // botón banner
            div.banner__fixed.display__mobile 
                a.btn__primary--small-color(href="www") Contactar
            
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CONTENT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section.media__margin.padding.padding__bottom-x-large.content__center.content__max
                h2.padding__topbottom-regular.primaryfont__bold Formas de colaboración y beneficios
                h3.padding__bottom-small.primaryfont__bold Participa en el proyecto
                p.padding__bottom-small.text-small En Basque Culinary Center tenemos como fin la formación superior, la investigación, innovación y promoción de la gastronomía y la alimentación.
                p.padding__bottom-large.text-small <stgrong>Desde nuestra creación, en septiembre 2011, trabajamos para ser el referente a nivel internacional en esta materia y también para impulsar la gastronomía como palanca de desarrollo socioeconómico</strong> a través de la Facultad de Ciencias Gastronómicas y el Centro de Investigación e innovación. Desarrollamos también numerosas actividades de promoción.
                p.padding__bottom-small.text-small Actualmente contamos con la colaboración de más de 40 empresas del sector de la Alimentación y Bebidas, empresas de diversos perfiles y tamaños, y gracias a las mismas está siendo posible la consecución de los objetivos de nuestra fundación.
                p.text-small Por ello, queremos agradecer públicamente a cada una de estas empresas el importante respaldo proporcionado, ya que sin ellas no sería posible ser lo que hoy día somos. Queremos animar también a nuevas empresas a formar parte del proyecto Basque Culinary Center.
            // logos patronato 
            section.media__margin.padding.content__center.content__max
                h4.primaryfont__bold Patronato
                div.gap__logos
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
            // logos colaboradores
            section.media__margin.padding.padding__bottom-regular.content__center.content__max
                hr.hr__margin-none
                h4.padding__top-regular.primaryfont__bold Colaboradores
                div.gap__logos
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
            // logos patrocinadores
            section.media__margin.padding.padding__bottom-regular.content__center.content__max
                hr.hr__margin-none
                h4.padding__top-regular.primaryfont__bold Patrocinadores
                div.gap__logos
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
            // logos proveedor oficial
            section.media__margin.padding.padding__bottom-xtra-large.content__center.content__max
                hr.hr__margin-none
                h4.padding__top-regular.primaryfont__bold Proveedor oficial
                div.gap__logos
                        img(src="../src/images/logo-hotel-melia.jpg", alt="")
                        
        // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
        +footer()
    
    script(src="../js/menu.js")