include ../components/layout/banner-fixed.pug
include ../components/layout/innovation-form.pug
include ../components/column/component-noticia-target-actualidad.pug
include ../components/column/component-noticia-target.pug
include ../components/column/component-noticia-principal.pug
include ../components/layout/filter.pug
include ../components/layout/footer.pug
include ../components/menu/menu-gradient.pug
include ../components/menu/menu-section.pug
include ../components/menu/menu.pug
include ../components/menu/menu-index.pug
include ../components/layout/footer.pug
include ../components/layout/head.pug
    block content
        main 
            header
                // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> COMPONENTES MENÚS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                div
                    // menu gradient componente "menu-gradient"
                    +menu-gradient("gradient__innovation")
                    // menu topbar componente "topbar"
                    include ../components/menu/topbar.pug
                    // menu main componente "menu"
                    +menu("display__none")
                    // migas de pan componente  "menu-section"
                    +menu-section("migas__neutral", "migas__neutral", "migas__text-neutral")
                    //- +menu-index()
            
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> COMPONENTE FIJO >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            // componente banner-fixed
            +banner-fixed()

            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CONTENT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            // noticias principal
            section.media__margin.padding.padding__top-xx-large.content__center.content__max 
                h2.padding__bottom-large.primaryfont__bold Actualidad
            section.padding__bottom-x-large
                // component-noticia-principal
                +component-noticia-principal("box__content--justify", "link__color-home", "color__text-home", "", "tag__card--grey", "", "", "display__innovation", "display__button", "", "")
            
            section.media__margin.padding.padding__bottom-xtra-large.content__center.content__max
                div.padding__bottom-large.display__flex.gap
                    // component-noticia-target-principal
                    +component-noticia-target-actualidad("link__color-home", "tag__primary", "box__tag--bloq2", "", "display__desktop", "display__mobile", "display__none", "")
                    // component-noticia-target-principal
                    +component-noticia-target-actualidad("link__color-home", "tag__primary", "box__tag--bloq2", "", "display__desktop", "display__mobile", "display__none", "")
                    // component-noticia-target-principal
                    +component-noticia-target-actualidad("link__color-home", "tag__primary", "box__tag--bloq2", "", "display__desktop", "display__mobile", "display__none", "")
                div.display__flex.gap
                    // component-noticia-target-principal
                    +component-noticia-target-actualidad("link__color-home", "tag__primary", "box__tag--bloq2", "", "display__desktop", "display__mobile", "display__none", "")
                    // component-noticia-target-principal
                    +component-noticia-target-actualidad("link__color-home", "tag__primary", "box__tag--bloq2", "", "display__desktop", "display__mobile", "display__none", "")
                    // component-noticia-target-principal
                    +component-noticia-target-actualidad("link__color-home", "tag__primary", "box__tag--bloq2", "", "display__desktop", "display__mobile", "", "display__one")
                
        // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
        +footer()
    
    script(src="../js/onload.js")
    script(src="../js/menu.js")