include ../components/layout/head.pug
    block content
        main
            //- menu-gradient
            include ../components/menu/menu.pug
            include ../components/column/column-icon.pug
            include ../components/column/column-3-eventos.pug
            include ../components/column/noticias-column-2.pug
            include ../components/tabs/tabs.pug
            include ../components/layout/vertical-line-column.pug
            include ../components/column/card-principal.pug
            include ../components/column/card-principal.pug
            include ../components/layout/vertical-line-column.pug
            include ../components/column/noticia-bloq1.pug
            include ../components/column/column-2.pug
            include ../components/layout/footer.pug

    script(src="../components/tabs/tabs.js")  


