include ../components/menu/menu.pug
include ../components/layout/footer.pug
include ../components/column/component-target-info-event.pug
include ../components/column/component-img-left.pug
include ../components/column/component-noticia-principal.pug
include ../components/column/component-mobile-card-img.pug
include ../components/column/component-vertical-line.pug
include ../components/column/component-subtitle.pug
include ../components/column/component-subtitle-link.pug
include ../components/column/component-noticia-target.pug
include ../components/column/component-title-link.pug
include ../components/column/component-target-garamond-complete.pug
include ../components/column/component-column-icon.pug
include ../components/column/component-title.pug
include ../components/menu/menu-gradient.pug
include ../components/layout/head.pug
    block content
        main
            header
                //- menu
                div
                    +menu-gradient("gradient__innovation")
                    include ../components/menu/topbar.pug
                    +menu("display__desktop", "display__mobile")
                    
            //- slide cabecera
            //- div.swiper__fullwidth.swiper2
            //-     div.swiper-wrapper
            //-         .swiper-slide.swiper-slide-board.swiper-slide-background
            //-             h1 1/02
            //-             h3.primaryfont__bold Grado: Gastronomía y Artes culinarias.
            //-             h4 Inscripción abierta para el nuevo curso 2022-2023
            //-             a.btn__primary--large-nocolor-width(href="#") más información
                
            //-     .swiper-button-next
            //-     .swiper-button-prev
            //- column icon
            section.content__center.content__max
                +component-title("", "", "")
                div.display__flex
                    +component-column-icon()
                    +component-column-icon()
                    +component-column-icon()
            //- nuestra agenda slider desktop
            section.padding.padding__bottom-xx-large.box__background.display__desktop
                    +component-title-link("", "")
                    div.swiper.mySwiper.box__swiper
                        div.swiper-wrapper
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                        div.swiper-pagination
            
            //- nuestra agenda mobile
            section.padding.padding__bottom-xx-large.box__background.display__mobile
                +component-title-link("", "")
                div.gap.display__flex.content__center.content__max
                    +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                    +component-target-garamond-complete("box__icon--date-home", "display__desktop", "display__mobile", "display__none", "display__one")
                    +component-target-garamond-complete("box__icon--date-home","display__desktop", "display__mobile", "", "display__one")
            //- últimas noticias, dos columnas
            section.padding.padding__bottom-x-large.box__background
                +component-subtitle-link("", "")
                div.display__flex.gap.content__max.content__center
                    +component-noticia-target("", "box__tag", "", "", "", "", "display__none")
                    +component-noticia-target("", "", "box__tag--bloq2", "", "display__desktop", "display__mobile", "display__none")
                    div.padding__top-x-large.display__mobile
                        a.btn__primary--small-color(href="que tal") Acceder a innovación
            //- tabs .display__desktop
            .content__center.content__max
                include ../components/tabs/tabs.pug
            //- tabs .display__mobile
            +component-title("", "display__mobile", "")
            div.padding.display__mobile
                +component-mobile-card-img("card__img--border-grado")
                +component-mobile-card-img("card__img--border-master")
                +component-mobile-card-img("card__img--border-doctorado")
                +component-mobile-card-img("card__img--border-cursos")
                +component-mobile-card-img("card__img--border-entusiastas")
                +component-mobile-card-img("card__img--border-formacion")
            //- vertical line
            +component-subtitle("")
            section.padding.content__center.content__max.grid__c5.padding__bottom-x-large
                +component-vertical-line("", "display__mobile", "", "", "display__one")
                +component-vertical-line("", "display__mobile", "", "", "display__one")
                +component-vertical-line("", "display__mobile", "", "", "display__one")
                +component-vertical-line("", "display__mobile", "", "", "display__one")
                +component-vertical-line("", "display__mobile", "", "", "display__one")
                hr.display__mobile
                div.padding__top-x-large.display__mobile
                        a.btn__primary--small-color(href="que tal") Acceder a innovación
            //- un motor de cambio
            +component-title("box__background", "", "")
            +component-noticia-principal("box__background", "", "", "", "display__one")

            //- un motor de cambio - slider areas de trabajo
            section.padding__bottom-xx-large.box__background
                    +component-subtitle("")
                    div.swiper.mySwiper.box__swiper
                        div.swiper-wrapper
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                        div.swiper-pagination
                    div.padding.padding__top-x-large.display__mobile
                        a.btn__primary--small-color(href="que tal") Acceder a innovación
            //- colabora con BCC
            +component-title("", "", "")
            section
            +component-img-left
            section.padding__bottom-xx-large
                    +component-subtitle("")
                    div.swiper.mySwiper.box__swiper
                        div.swiper-wrapper
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                            div.swiper-slide
                                +component-vertical-line("card__line--none", "", "", "display__none", "")
                        div.swiper-pagination
                    div.padding.padding__top-x-large.display__mobile
                        a.btn__primary--small-color(href="que tal") Acceder a innovación
            //- una visión integral
            section.padding.box__background
                +component-title-link("", "")
            +component-noticia-principal("box__background", "text__content", "box__img--border", "display__none", "")
            //- noticias target desktop
            section.padding.box__background.display__desktop
                div.display__flex.gap.content__center.content__max.content__centerpadding.padding__bottom-x-large
                    +component-noticia-target("content__text", "box__tag", "", "box__img--border", "", "", "display__none")
                    +component-noticia-target("content__text", "", "box__tag--bloq2", "box__img--border", "display__desktop", "", "display__none")
                    +component-noticia-target("content__text", "", "box__tag--bloq2", "box__img--border", "display__desktop", "", "display__none")
            //- noticias target mobile
            section.padding__bottom-xx-large.box__background.display__mobile
                    div.swiper.mySwiper.box__swiper
                        div.swiper-wrapper
                            div.swiper-slide
                                +component-noticia-target("", "", "box__tag--bloq2", "box__img--border", "display__desktop", "", "display__none")
                            div.swiper-slide
                                +component-noticia-target("", "", "box__tag--bloq2", "box__img--border", "display__desktop", "", "display__none")
                            div.swiper-slide
                                +component-noticia-target("", "", "box__tag--bloq2", "box__img--border", "display__desktop", "", "display__none")
                            
                        div.swiper-pagination
                    div.padding.padding__top-x-large.display__mobile
                        a.btn__primary--small-color(href="que tal") Acceder a gastronomía 360º
            //- dos conceptos distintos
            +component-title("", "", "")
            div.padding.padding__bottom-xx-large.display__flex.gap.content__max.content__center
                +component-target-info-event("box__icon--date-home", "display__none", "display__one")
                +component-target-info-event("box__icon--date-home", "display__none", "display__one")   
        //- footer
        +footer("box__background")
    
    script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js")
    script(src="../js/swiper.js")
    script(src="../js/swiper2.js")
    script(src="../js/function.js") 


