include ../components/column/component-column-icon.pug
include ../components/column/component-title.pug
include ../components/menu/menu-gradient.pug
include ../components/layout/head.pug


    block content
        main
            header
                //- menu
                div.padding__bottom-x-large
                    +menu-gradient("gradient__innovation")
                    include ../components/menu/menu.pug
                    include ../components/menu/topbar.pug
                //- column icon
                section.content__center.content__max
                    +component-title("", "", "")
                    div.display__flex.content__center.content__max
                        +component-column-icon()
                        +component-column-icon()
                        +component-column-icon()
                        

            
                

    script(src="../js/function.js")  


