include ../components/layout/bullet.pug
include ../components/column/component-slider-two-column.pug
include ../components/column/component-target-garamond-complete.pug
include ../components/layout/footer.pug
include ../components/column/component-noticia-principal.pug
include ../components/menu/menu-gradient.pug
include ../components/menu/menu-section.pug
include ../components/menu/menu.pug
include ../components/menu/menu-index.pug
include ../components/layout/footer.pug
include ../components/layout/head.pug
    block content
        main 
            header
                //- menu
                div
                    +menu-gradient("gradient__innovation")
                    include ../components/menu/topbar.pug
                    +menu("display__none")
                    +menu-section("migas__neutral", "migas__text-neutral")
                    //- +menu-index()
            //- cabecera
            section.media__margin.padding__regular-xx-large.content__center.content__max
                div.padding__bottom-large
                    img(class="logo__size" src="../src/images/cabecera-action.svg", type="img/svg", alt="")
                div
                    h3.padding__bottom-large.primaryfont__bold Qué hacemos
                    p.text-medium Printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    p.text-medium Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like.
            //- noticias principal
            section.padding__topbottom-large.box__background--action
                +component-noticia-principal("box__content--justify", "link__color-action", "color__text-action", "", "tag__card--grey", "box__background--action", "", "display__innovation", "display__button", "", "")
            //- sección texto
            section.media__margin.padding__regular-large.content__center.content__max
                div.padding__bottom-large
                    h3.padding__bottom-large.primaryfont__bold Lorem ipsum is simply dummy text of the printing
                    p.text-medium Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                div 
                    +bullet("bullet__line-action")
            //- slider Foro de emprendedores
            section.media__margin.padding__bottom-xx-large.content__center.content__max
                h3.padding.primaryfont__bold Foro de emprendedores
                +component-slider-two-column("btn__primary--medium-nocolor-action", "btn__primary--small-nocolor-action")
            //- slider On the Road
            section.media__margin.padding__bottom-xx-large.content__center.content__max
                h3.padding.primaryfont__bold On the Road
                +component-slider-two-column("btn__primary--medium-nocolor-action", "btn__primary--small-nocolor-action")
            //- slider Aceleradora
            section.media__margin.padding__bottom-xtra-large.content__center.content__max
                h3.padding.primaryfont__bold Aceleradora
                +component-slider-two-column("btn__primary--medium-nocolor-action", "btn__primary--small-nocolor-action")
            
        //- footer
        +footer("box__background--white")  
    script(src="../js/menu.js") 
    script(src="../js/accordion.js")
    script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js")
    script(src="../js/swiper3.js") 