<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <main> 
      <header>
        <div>
          <div class="gradient__innovation">
            <p class="text-small gradient__text">Conoce los nuevos proyectos de<a class="primaryfont__bold" href="#"> BCC Innovation</a></p>
          </div>
          <div> 
            <nav class="topbar">
              <ul class="topbar__list">
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">ACCESOS</a>
                  <ul class="topbar__list--submenu">
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                  </ul>
                </li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">CONTACTO</a></li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">TIENDA BCC</a></li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">SÍGUENOS</a></li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">ES</a>
                  <ul class="topbar__list--submenu">
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">EN</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">FR</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">CA</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <div>
            <nav class="menu">
              <input class="menu__checkbox" type="checkbox" id="menu__checkbox"/>
              <label class="menu__toggle" for="menu__checkbox"> <img class="hamburger" src="../../src/images/burger.png"/><img class="close" src="../../src/images/closed.png"/></label>
              <div class="menu__item--logo"><a class="menu__menu" href="#"><img class="menu__logo" src="../../src/images/logo-bcc.png" alt=""/></a></div>
              <ul class="menu__menu">
                <li class="menu__item">  <a class="menu__menu--link primaryfont__bold" href="#">Sobre BCC<img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Formación <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Innovación <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Empresas <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Iniciativas <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Restaurantes <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Actualidad <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item display__desktop"><a class="btn__primary--medium-color-menu display__desktop" href="asdsadsad">Encuentra tu formación</a></li>
              </ul>
            </nav>
          </div>
          <div class="padding padding__top-regular display__mobile display__none"><a class="btn__primary--small-color-menu" href="www" displayNone="display__none">Encuentra tu formación</a></div>
          <div class="display__desktop migas migas__innovation">
            <ul> 
              <li><a class="text-small migas__text-innovation" href="www">Home</a></li>
              <li><a class="text-small migas__text-innovation" href="www">Innovación</a></li>
              <li><a class="text-small migas__text-innovation" href="www">Líneas de investigación</a></li>
            </ul>
          </div>
        </div>
      </header>
      <section class="media__margin padding__regular padding__bottom-xx-large content__center content__max">
        <div> 
          <h1 class="primaryfont__bold">Líneas de investigación</h1>
          <p class="text-medium padding__bottom-regular">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <ul> 
            <li class="padding__bottom-regular"> 
              <p class="text-medium primaryfont__bold">ECONOMÍA CIRCULAR      </p>
            </li>
            <li class="padding__bottom-regular"> 
              <p class="text-medium primaryfont__bold">SOSTENIBILIDAD Y SALUD      </p>
            </li>
          </ul>
          <p class="text-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </section>
      <section class="margin__bottom-xx-large padding__topbottom-large box__background--innovation display__desktop">
        <div class="media__margin padding padding__bottom-large content__center content__max">
          <h3 class="primaryfont__bold">Salud</h3>
        </div>
        <section>
          <div class="media__margin padding content__center content__max grid__c8-c4 gap">
            <div>
              <div class="display__one"><span class="box__tag">Etiqueta 01</span></div><img class="box__img" src="../../src/images/img-noticias.jpg" alt=""/>
            </div>
            <div class="box__content--justify">
              <h3 class="box__title primaryfont__bold display__one">Toni Segarra: «No es momento para el marketing».</h3>
              <p class="display__desktop x-small display__one display__innovation">01/01/2022</p>
              <p class="x-small display__one">Redacción BCC</p>
              <p class="box__description text-medium display__desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. </p>
              <p class="box__description text-medium display__mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. <span class="text-medium">Leer más</span></p><a class="text-small display__desktop display__one link__color-innovation" href="www">Leer más <img class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a>
              <hr class="hr__primary display__mobile"/>
              <div class="display__desktop"><a class="btn__primary--medium-nocolor-innovation" href="www">Acceder a la sección</a></div>
            </div>
          </div>
        </section>
        <div class="media__margin padding padding__top-large content__center content__max display__flex">
          <div class="card__line--innovation">
            <hr class="hr__margin display__mobile display__none"/>
            <div class="display__one card__details--margin"><img class="card__img--mobile" src="https://unsplash.it/800/600?image=59" alt=""/></div>
            <div class="card__details--margin">
              <p class="text-small card__title primaryfont__medium">Sección</p>
              <p class="text-small card__description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non.</p>
              <div class="box__link display__none"><a class="x-small link__color-home" href="#">Saber más<img class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></div>
            </div>
          </div>
          <div class="card__line--innovation">
            <hr class="hr__margin display__mobile display__none"/>
            <div class="display__one card__details--margin"><img class="card__img--mobile" src="https://unsplash.it/800/600?image=59" alt=""/></div>
            <div class="card__details--margin">
              <p class="text-small card__title primaryfont__medium">Sección</p>
              <p class="text-small card__description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non.</p>
              <div class="box__link display__none"><a class="x-small link__color-home" href="#">Saber más<img class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></div>
            </div>
          </div>
          <div class="card__line--innovation">
            <hr class="hr__margin display__mobile display__none"/>
            <div class="display__one card__details--margin"><img class="card__img--mobile" src="https://unsplash.it/800/600?image=59" alt=""/></div>
            <div class="card__details--margin">
              <p class="text-small card__title primaryfont__medium">Sección</p>
              <p class="text-small card__description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non.</p>
              <div class="box__link display__none"><a class="x-small link__color-home" href="#">Saber más<img class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></div>
            </div>
          </div>
          <div class="card__line--innovation">
            <hr class="hr__margin display__mobile display__none"/>
            <div class="display__one card__details--margin"><img class="card__img--mobile" src="https://unsplash.it/800/600?image=59" alt=""/></div>
            <div class="card__details--margin">
              <p class="text-small card__title primaryfont__medium">Sección</p>
              <p class="text-small card__description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non.</p>
              <div class="box__link display__none"><a class="x-small link__color-home" href="#">Saber más<img class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></div>
            </div>
          </div>
          <div class="card__line--innovation">
            <hr class="hr__margin display__mobile display__none"/>
            <div class="display__one card__details--margin"><img class="card__img--mobile" src="https://unsplash.it/800/600?image=59" alt=""/></div>
            <div class="card__details--margin">
              <p class="text-small card__title primaryfont__medium">Sección</p>
              <p class="text-small card__description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non.</p>
              <div class="box__link display__none"><a class="x-small link__color-home" href="#">Saber más<img class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></div>
            </div>
          </div>
        </div>
      </section>
      <section class="margin__bottom-xx-large padding__topbottom-large box__background--innovation display__desktop">
        <div class="media__margin padding padding__bottom-large content__center content__max">
          <h3 class="primaryfont__bold">Análisis sensorial</h3>
        </div>
        <section>
          <div class="media__margin padding content__center content__max grid__c8-c4 gap">
            <div>
              <div class="display__one"><span class="box__tag">Etiqueta 01</span></div><img class="box__img" src="../../src/images/img-noticias.jpg" alt=""/>
            </div>
            <div class="box__content--justify">
              <h3 class="box__title primaryfont__bold display__one">Toni Segarra: «No es momento para el marketing».</h3>
              <p class="display__desktop x-small display__one display__innovation">01/01/2022</p>
              <p class="x-small display__one">Redacción BCC</p>
              <p class="box__description text-medium display__desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. </p>
              <p class="box__description text-medium display__mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. <span class="text-medium">Leer más</span></p><a class="text-small display__desktop display__one link__color-innovation" href="www">Leer más <img class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a>
              <hr class="hr__primary display__mobile"/>
              <div class="display__desktop"><a class="btn__primary--medium-nocolor-innovation" href="www">Acceder a la sección</a></div>
            </div>
          </div>
        </section>
      </section>
      <section class="margin__bottom-xx-large padding__topbottom-large box__background--innovation display__desktop">
        <div class="media__margin padding padding__bottom-large content__center content__max">
          <h3 class="primaryfont__bold">Sostenibilidad</h3>
        </div>
        <section>
          <div class="media__margin padding content__center content__max grid__c8-c4 gap">
            <div>
              <div class="display__one"><span class="box__tag">Etiqueta 01</span></div><img class="box__img" src="../../src/images/img-noticias.jpg" alt=""/>
            </div>
            <div class="box__content--justify">
              <h3 class="box__title primaryfont__bold display__one">Toni Segarra: «No es momento para el marketing».</h3>
              <p class="display__desktop x-small display__one display__innovation">01/01/2022</p>
              <p class="x-small display__one">Redacción BCC</p>
              <p class="box__description text-medium display__desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. </p>
              <p class="box__description text-medium display__mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. <span class="text-medium">Leer más</span></p><a class="text-small display__desktop display__one link__color-innovation" href="www">Leer más <img class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a>
              <hr class="hr__primary display__mobile"/>
              <div class="display__desktop"><a class="btn__primary--medium-nocolor-innovation" href="www">Acceder a la sección</a></div>
            </div>
          </div>
        </section>
      </section>
      <section class="margin__bottom-xx-large padding__topbottom-large box__background--innovation display__desktop">
        <div class="media__margin padding padding__bottom-large content__center content__max">
          <h3 class="primaryfont__bold">Desarrollo de producto</h3>
        </div>
        <section>
          <div class="media__margin padding content__center content__max grid__c8-c4 gap">
            <div>
              <div class="display__one"><span class="box__tag">Etiqueta 01</span></div><img class="box__img" src="../../src/images/img-noticias.jpg" alt=""/>
            </div>
            <div class="box__content--justify">
              <h3 class="box__title primaryfont__bold display__one">Toni Segarra: «No es momento para el marketing».</h3>
              <p class="display__desktop x-small display__one display__innovation">01/01/2022</p>
              <p class="x-small display__one">Redacción BCC</p>
              <p class="box__description text-medium display__desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. </p>
              <p class="box__description text-medium display__mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. <span class="text-medium">Leer más</span></p><a class="text-small display__desktop display__one link__color-innovation" href="www">Leer más <img class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a>
              <hr class="hr__primary display__mobile"/>
              <div class="display__desktop"><a class="btn__primary--medium-nocolor-innovation" href="www">Acceder a la sección</a></div>
            </div>
          </div>
        </section>
      </section>
      <section class="margin__bottom-xx-large padding__topbottom-large box__background--innovation display__desktop">
        <div class="media__margin padding padding__bottom-large content__center content__max">
          <h3 class="primaryfont__bold">Digitalización</h3>
        </div>
        <section>
          <div class="media__margin padding content__center content__max grid__c8-c4 gap">
            <div>
              <div class="display__one"><span class="box__tag">Etiqueta 01</span></div><img class="box__img" src="../../src/images/img-noticias.jpg" alt=""/>
            </div>
            <div class="box__content--justify">
              <h3 class="box__title primaryfont__bold display__one">Toni Segarra: «No es momento para el marketing».</h3>
              <p class="display__desktop x-small display__one display__innovation">01/01/2022</p>
              <p class="x-small display__one">Redacción BCC</p>
              <p class="box__description text-medium display__desktop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. </p>
              <p class="box__description text-medium display__mobile">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. <span class="text-medium">Leer más</span></p><a class="text-small display__desktop display__one link__color-innovation" href="www">Leer más <img class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a>
              <hr class="hr__primary display__mobile"/>
              <div class="display__desktop"><a class="btn__primary--medium-nocolor-innovation" href="www">Acceder a la sección</a></div>
            </div>
          </div>
        </section>
      </section>
      <section class="media__margin content__center padding padding__bottom-regular accordion__section display__mobile">
        <div class="accordion__item">
          <button class="accordion accordion__background-innovation">Salud</button>
          <div class="panel panel__background-innovation">
            <div class="padding__bottom-small"><img class="box__img" src="../../src/images/foto.jpg" alt="">
              <p class="padding__bottom-small x-small"><strong>El estudio de la relación entre gastronomía y salud para proponer soluciones</strong> que nos lleven a conseguir una  alimentación más saludable, en la sociedad en su conjunto y en diferentes colectivos de personas: niños, personas mayores, deportistas, etc… Apostamos por investigación y desarrollo de soluciones de valor añadido en las que la gastronomía es terapéutica, personalizada y de precisión.</p>
              <p class="padding__bottom-xx-small text-small primaryfont__bold">Estudio de hábitos</p>
              <p class="padding__bottom-small x-small"><strong>Los hábitos de comportamiento</strong> en torno a la alimentación.</p><img class="box__img" src="../../src/images/foto.jpg" alt="">
              <p class="padding__bottom-xx-small text-small primaryfont__bold">Nuevas fuentes</p>
              <p class="padding__bottom-small x-small">La <strong>identificación de nuevas</strong> fuentes de ingredientes o la elaboración de nuevos alimentos más saludables.</p>
              <p class="padding__bottom-xx-small text-small primaryfont__bold">Personalización</p>
              <p class="padding__bottom-small x-small">Customizando la dieta de las personas a través del <strong>estudio de sus datos de perfil ómico,</strong> características antropocéntricos, gustos y hábitos, con el objetivo de diseñar productos a medida.</p>
              <p class="padding__bottom-xx-small text-small primaryfont__bold">Características sensoriales</p>
              <p class="padding__bottom-small x-small">El estudio de la interacción entre características sensoriales de los <strong>alimentos y la persona:</strong> su influencia en la aceptación del producto, las emociones generadas y los hábitos de la población.</p><a class="btn__primary--small-nocolor-innovation" href="www">Proyectos salud</a>
            </div>
          </div>
        </div>
      </section>
      <section class="media__margin content__center padding padding__bottom-regular accordion__section display__mobile">
        <div class="accordion__item">
          <button class="accordion accordion__background-innovation">Análisis sensorial</button>
          <div class="panel panel__background-innovation">
            <div class="padding__bottom-small"><img class="box__img" src="../../src/images/foto.jpg" alt="">
              <p class="padding__bottom-small x-small">Estudiamos la <strong>percepción del consumidor a través del análisis de la interacción entre la persona y el alimento en base a 3 ejes:</strong> aspectos organolépticos del producto, aspectos que afectan a la persona y aspectos incluidos en el contexto de consumo.</p><a class="btn__primary--small-nocolor-innovation" href="www">Proyectos análisis sensorial</a>
            </div>
          </div>
        </div>
      </section>
      <section class="media__margin content__center padding padding__bottom-regular accordion__section display__mobile">
        <div class="accordion__item">
          <button class="accordion accordion__background-innovation">Sostenibilidad</button>
          <div class="panel panel__background-innovation">
            <div class="padding__bottom-small"><img class="box__img" src="../../src/images/foto.jpg" alt="">
              <p class="padding__bottom-small x-small"><strong> Desarrollo de proyectos para el impulso de una gastronomía más sostenible</strong> que promueve la economía circular, el ecodiseño, el fomento de la biodiversidad, el desperdicio cero, sin olvidar la sostenibilidad económica y social.</p><a class="btn__primary--small-nocolor-innovation" href="www">Proyectos sostenibilidad</a>
            </div>
          </div>
        </div>
      </section>
      <section class="media__margin content__center padding padding__bottom-regular accordion__section display__mobile">
        <div class="accordion__item">
          <button class="accordion accordion__background-innovation">Desarrollo de producto</button>
          <div class="panel panel__background-innovation">
            <div class="padding__bottom-small"><img class="box__img" src="../../src/images/foto.jpg" alt="">
              <p class="padding__bottom-small x-small"><strong>Nuestros chefs y tecnólogos trabajan conjuntamente para generar nuevas ideas de impacto y viabilidad que cumplan con las especificaciones requeridas.</strong> Nuestras ideas se transforman en prototipos que testamos con consumidores final o con expertos con el objetivo de conocer qué les gusta del producto, cuánto les gusta e incluso las emociones que suscita. Algunos ejemplos de proyectos en los que trabajamos con nuestros clientes:</p>
              <p class="padding__bottom-xx-small text-small primaryfont__bold">Innovación culinaria y tecnológica</p>
              <p class="padding__bottom-small x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
              <p class="padding__bottom-xx-small text-small primaryfont__bold">Sostenibilidad y salud</p>
              <p class="padding__bottom-small x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
              <p class="padding__bottom-xx-small text-small primaryfont__bold">Análisis sensorial</p>
              <p class="padding__bottom-small x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
              <p class="padding__bottom-xx-small text-small primaryfont__bold">Estrategia</p>
              <p class="padding__bottom-small x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p><a class="btn__primary--small-nocolor-innovation" href="www">Proyectos desarrollo producto</a>
            </div>
          </div>
        </div>
      </section>
      <section class="media__margin content__center padding padding__bottom-regular accordion__section display__mobile">
        <div class="accordion__item">
          <button class="accordion accordion__background-innovation">Digitalización</button>
          <div class="panel panel__background-innovation">
            <div class="padding__bottom-small"><img class="box__img" src="../../src/images/foto.jpg" alt="">
              <p class="padding__bottom-small x-small"><strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</strong> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.</p><a class="btn__primary--small-nocolor-innovation" href="www">Proyectos digitalización</a>
            </div>
          </div>
        </div>
      </section>
      <section class="padding__top-large padding__bottom-xtra-large box__background">
        <div class="media__margin padding content__center content__max grid__c5-c7 gap">
          <div class="padding__bottom-regular">
            <h4 class="primaryfont__bold padding__bottom-regular">Contacto con Innovación</h4>
            <h4 class="primaryfont__bold padding__bottom-regular">BASQUE CULINARY CENTER INNOVACIÓN</h4>
            <p class="text-small">Paseo Juan Avellino Barriola, 101 </p>
            <p class="text-small padding__bottom-regular">20009 Donostia · San Sebastián. Ver en <a class="primaryfont__bold" href="www">Google Maps  </a></p>
            <div class="padding__bottom-xx-small box__icon"><img class="svg__icon--margin" src="../src/iconos/telefono.svg#telefono" type="img/svg"/><span class="box__icon--date">
                <p class="text-small">943 574 500</p></span></div>
            <div class="box__icon"><img class="svg__icon--margin" src="../src/iconos/e-mail.svg#e-mail" type="img/svg"/><span class="box__icon--date">
                <p class="text-small"> <a href="mailto:ndelafuente@bculibary.com">ndelafuente@bculibary.com</a></p></span></div>
          </div>
          <form class="form" name="registration-form" id="registrationForm" method="POST" action="" role="form">
            <section>
              <h4 class="primaryfont__bold padding__bottom-regular">Formulario</h4>
              <div class="form__inputs gap__form">
                <div class="form-floating">
                  <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre" required="required"/>
                  <label for="nombre">* Nombre</label>
                </div>
                <div class="form-floating">
                  <input class="form-control" type="text" name="apellidos" id="apellidos" placeholder="Apellidos" required="required"/>
                  <label for="apellidos">* Apellidos</label>
                </div>
              </div>
              <div class="form__inputs gap__form">
                <div class="form-floating">
                  <input class="form-control" type="text" name="pais" id="pais" placeholder="País" required="required"/>
                  <label for="pais">*País</label>
                </div>
                <div class="form-floating">
                  <input class="form-control" type="text" name="email" id="email" placeholder="País" required="required"/>
                  <label for="email">*Email</label>
                </div>
              </div>
              <form__inputs class="gap__form">
                <div class="form-floating">
                  <label for="opciones"></label>
                  <select class="form-control" name="opciones"> 
                    <option selected="selected" disabled="disabled">Intereses</option>
                    <option value="opcion 1">Opción 1</option>
                    <option value="opcion 2">Opción 2</option>
                  </select>
                </div>
              </form__inputs>
              <div>
                <label for="mensaje"></label>
                <textarea class="content__center form-control" name="mensaje" id="mensaje" placeholder="Mensaje">Mensaje</textarea>
              </div>
              <div class="form__policity text-small">
                <label class="container">
                  <input type="checkbox"/><span class="checkmark__radio"></span>
                </label>
                <p class="padding__top-tiny x-small form__policity-text primaryfont__bold">He leído y acepto la <a class="primaryfont__bold" href="www">política de privacidad </a></p>
                <div class="submit__desktop padding__top-regular display__desktop">
                  <button class="btn__primary--medium-color-width">Enviar datos</button>
                </div>
                <div class="submit padding__top-regular display__mobile">
                  <button class="btn__primary--small-color">Enviar datos       </button>
                </div>
              </div>
            </section>
          </form>
        </div>
      </section>
    </main>
    <div> 
      <hr class="hr__margin-none"/>
    </div>
    <footer class="padding__bottom-xtra-large footer box__background--white">
      <div class="footer__info"><img class="footer__logo padding__bottom-x-regular" src="../../src/images/logo-BCC-footer.png" alt=""/>
        <p class="x-small display__desktop">Paseo Juan Avelino Barriola, 101, </br>20009 Donostia-San Sebastián (Gipuzkoa) </br>Tel.: +34 943 574 500 </br>email: info@bculinary.com</p>
      </div>
      <div class="footer__column">
        <nav class="footer__menu">
          <ul class="footer__list"> 
            <li>
              <hr class="hr__margin display__mobile"/><a class="footer__item text-small primaryfont__bold" href="#">Área de prensa</a>
              <hr class="hr__margin display__mobile"/>
            </li>
            <li><a class="footer__item text-small primaryfont__bold" href="#">Trabaja con nosotros</a>
              <hr class="hr__margin display__mobile"/>
            </li>
            <li><a class="footer__item text-small primaryfont__bold" href="#">Contacto</a>
              <hr class="hr__margin display__mobile"/>
            </li>
            <li><a class="footer__item text-small primaryfont__bold" href="#">Perfil del contratante</a>
              <hr class="hr__margin display__mobile"/>
            </li>
          </ul>
        </nav>
        <div class="footer__copyright"> 
          <p class="footer__copyright--text x-small">Copyright © 2022 Basque Culinary Center. Todos los derechos reservados.</p>
          <p class="footer__copyright--text x-small">Política de privacidad  I  Uso de cookies  I  Condiciones de uso  I  Ventas y reembolsos  I  Avisos legales  I  Mapa del sitio</p>
        </div>
      </div>
    </footer>
    <script src="../js/menu.js"></script>
    <script src="../js/accordion.js"> </script>
    <link link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600&amp;family=League+Spartan:wght@300;400;500;700;800&amp;display=swap" rel="stylesheet">
  </head>
  <body></body>
</html>