include ../components/layout/innovation-form.pug
include ../components/column/component-vertical-line.pug
include ../components/column/component-noticia-principal.pug
include ../components/menu/menu-gradient.pug
include ../components/menu/menu-section.pug
include ../components/menu/menu.pug
include ../components/menu/menu-index.pug
include ../components/layout/footer.pug
include ../components/layout/head.pug
    block content
        main 
            header
                //- menu
                div
                    +menu-gradient("gradient__innovation")
                    include ../components/menu/topbar.pug
                    +menu("display__none")
                    +menu-section("migas__innovation", "migas__text-innovation")
                    +menu-index()
            //- cabecera
            section.padding.padding__top-xx-large.content__center.content__max
                div 
                    h1.primaryfont__bold Líneas de investigación
                    p.text-medium.padding__bottom-regular Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    ul 
                        li.padding__bottom-regular 
                            p.text-medium.primaryfont__bold ECONOMÍA CIRCULAR      
                        li.padding__bottom-regular 
                            p.text-medium.primaryfont__bold SOSTENIBILIDAD Y SALUD      
                    p.text-medium.padding__bottom-large Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            
            //- DISPLAY__DESKTOP
            
            //- salud .display__desktop
            section.padding__top-xx-large.margin__bottom-xx-large.box__background--innovation.display__desktop
                div.content__center.content__max
                    h3.primaryfont__bold Salud
                +component-noticia-principal("link__color-innovation", "", "btn__primary--medium-nocolor-innovation", "", "", "", "display__innovation", "", "", "display__one")
                //- vertical lines .display__desktop
                div.padding__top-large.padding__bottom-xx-large.content__center.content__max.display__flex
                    +component-vertical-line("link__color-home", "card__details--margin", "card__line--innovation", "display__mobile", "", "display__none", "display__one")
                    +component-vertical-line("link__color-home", "card__details--margin", "card__line--innovation", "display__mobile", "", "display__none", "display__one")
                    +component-vertical-line("link__color-home", "card__details--margin", "card__line--innovation", "display__mobile", "", "display__none", "display__one")
                    +component-vertical-line("link__color-home", "card__details--margin", "card__line--innovation", "display__mobile", "", "display__none", "display__one")
                    +component-vertical-line("link__color-home", "card__details--margin", "card__line--innovation", "display__mobile", "", "display__none", "display__one")
            //- análisis sensorial .display__desktop
            section.padding__top-x-large.padding__bottom-xx-large.margin__bottom-large.box__background--innovation.display__desktop
                div.content__center.content__max
                    h3.primaryfont__bold Análisis sensorial
                +component-noticia-principal("link__color-innovation", "", "btn__primary--medium-nocolor-innovation", "", "", "", "display__innovation", "", "", "display__one")
            //- asostenibilidad .display__desktop
            section.padding__top-x-large.padding__bottom-xx-large.margin__bottom-large.box__background--innovation.display__desktop
                div.content__center.content__max
                    h3.primaryfont__bold Sostenibilidad
                +component-noticia-principal("link__color-innovation", "", "btn__primary--medium-nocolor-innovation", "", "", "", "display__innovation", "", "", "display__one")
            //- desarrollo de producto .display__desktop
            section.padding__top-x-large.padding__bottom-xx-large.margin__bottom-large.box__background--innovation.display__desktop
                div.content__center.content__max
                    h3.primaryfont__bold Desarrollo de producto
                +component-noticia-principal("link__color-innovation", "", "btn__primary--medium-nocolor-innovation", "", "", "", "display__innovation", "", "", "display__one")
            //- digitalización .display__desktop
            section.padding__top-x-large.padding__bottom-xx-large.margin__bottom-large.box__background--innovation.display__desktop
                div.content__center.content__max
                    h3.primaryfont__bold Digitalización
                +component-noticia-principal("link__color-innovation", "", "btn__primary--medium-nocolor-innovation", "", "", "", "display__innovation", "", "", "display__one")
            
            //- DISPLAY__MOBILE ACCORDION
            //- salud
            section.padding.accordion__section.display__mobile
                div.accordion__item
                    button.accordion Salud
                    .panel
                        div.padding__bottom-small
                            img(class="box__img" src="../../src/images/foto.jpg", alt="")
                            p.padding__bottom-small.x-small El estudio de la relación entre gastronomía y salud para proponer soluciones que nos lleven a conseguir una  alimentación más saludable, en la sociedad en su conjunto y en diferentes colectivos de personas: niños, personas mayores, deportistas, etc… Apostamos por investigación y desarrollo de soluciones de valor añadido en las que la gastronomía es terapéutica, personalizada y de precisión.
                            p.padding__bottom-xx-small.text-small.primaryfont__bold Estudio de hábitos
                            p.padding__bottom-small.x-small Los hábitos de comportamiento en torno a la alimentación.
                            img(class="box__img" src="../../src/images/foto.jpg", alt="")
                            p.padding__bottom-xx-small.text-small.primaryfont__bold Nuevas fuentes
                            p.padding__bottom-small.x-small La identificación de nuevas fuentes de ingredientes o la elaboración de nuevos alimentos más saludables.
                            p.padding__bottom-xx-small.text-small.primaryfont__bold Personalización
                            p.padding__bottom-small.x-small Customizando la dieta de las personas a través del estudio de sus datos de perfil ómico, características antropocéntricos, gustos y hábitos, con el objetivo de diseñar productos a medida.
                            p.padding__bottom-xx-small.text-small.primaryfont__bold Características sensoriales
                            p.padding__bottom-small.x-small El estudio de la interacción entre características sensoriales de los alimentos y la persona: su influencia en la aceptación del producto, las emociones generadas y los hábitos de la población.
                            a.btn__primary--small-nocolor-innovation(href="www") Proyectos salud
            //- análisis sensorial            
            section.padding.accordion__section.display__mobile
                div.accordion__item
                    button.accordion Análisis sensorial
                    .panel
                        div.padding__bottom-small
                            img(class="box__img" src="../../src/images/foto.jpg", alt="")
                            p.padding__bottom-small.x-small Estudiamos la percepción del consumidor a través del análisis de la interacción entre la persona y el alimento en base a 3 ejes: aspectos organolépticos del producto, aspectos que afectan a la persona y aspectos incluidos en el contexto de consumo.
                            a.btn__primary--small-nocolor-innovation(href="www") Proyectos análisis sensorial
            //- sostenibilidad
            section.padding.accordion__section.display__mobile
                div.accordion__item
                    button.accordion Sostenibilidad
                    .panel
                        div.padding__bottom-small
                            img(class="box__img" src="../../src/images/foto.jpg", alt="")
                            p.padding__bottom-small.x-small Desarrollo de proyectos para el impulso de una gastronomía más sostenible que promueve la economía circular, el ecodiseño, el fomento de la biodiversidad, el desperdicio cero, sin olvidar la sostenibilidad económica y social.
                            a.btn__primary--small-nocolor-innovation(href="www") Proyectos sostenibilidad
            //- desarrollo de producto
            section.padding.accordion__section.display__mobile
                div.accordion__item
                    button.accordion Desarrollo de producto
                    .panel
                        div.padding__bottom-small
                            img(class="box__img" src="../../src/images/foto.jpg", alt="")
                            p.padding__bottom-small.x-small Nuestros chefs y tecnólogos trabajan conjuntamente para generar nuevas ideas de impacto y viabilidad que cumplan con las especificaciones requeridas. Nuestras ideas se transforman en prototipos que testamos con consumidores final o con expertos con el objetivo de conocer qué les gusta del producto, cuánto les gusta e incluso las emociones que suscita. Algunos ejemplos de proyectos en los que trabajamos con nuestros clientes:
                            p.padding__bottom-xx-small.text-small.primaryfont__bold Innovación culinaria y tecnológica
                            p.padding__bottom-small.x-small Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                            p.padding__bottom-xx-small.text-small.primaryfont__bold Sostenibilidad y salud
                            p.padding__bottom-small.x-small Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                            p.padding__bottom-xx-small.text-small.primaryfont__bold Análisis sensorial
                            p.padding__bottom-small.x-small Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                            p.padding__bottom-xx-small.text-small.primaryfont__bold Estrategia
                            p.padding__bottom-small.x-small Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                            a.btn__primary--small-nocolor-innovation(href="www") Proyectos desarrollo producto
            //- digitalización
            section.padding.accordion__section.display__mobile
                div.accordion__item
                    button.accordion Digitalización
                    .panel
                        div.padding__bottom-small
                            img(class="box__img" src="../../src/images/foto.jpg", alt="")
                            p.padding__bottom-small.x-small Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap.
                            a.btn__primary--small-nocolor-innovation(href="www") Proyectos digitalización
            //- form innovation
            +innovation-form()
        //- footer
        +footer("box__background--white")

    script(src="../js/migas.js")  
    script(src="../js/accordion.js")  