<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600&amp;family=League+Spartan:wght@300;400;500;700;800&amp;display=swap" rel="stylesheet">
  </head>
  <body> 
    <div>
      <div class="gradient__home gradient__innovation">
        <p class="text-small gradient__text">Ven a disfrutar de nuestra cocina  <a class="primaryfont__bold" href="#">Restaurantes</a></p>
      </div>
      <div> 
        <nav class="topbar">
          <ul class="topbar__list">
            <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">ACCESOS</a>
              <ul class="topbar__list--submenu">
                <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
              </ul>
            </li>
            <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">CONTACTO</a></li>
            <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">TIENDA BCC</a></li>
            <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">SÍGUENOS</a></li>
            <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">ES</a>
              <ul class="topbar__list--submenu">
                <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">EN</a></li>
                <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">FR</a></li>
                <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">CA</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <nav class="menu">
          <input class="menu__checkbox" type="checkbox" id="menu__checkbox"/>
          <label class="menu__toggle" for="menu__checkbox"> <img class="hamburger" src="../../src/images/burger.png"/><img class="close" src="../../src/images/closed.png"/></label>
          <div class="menu__item--logo"><a class="menu__menu" href="#"><img class="menu__logo" src="../../src/images/logo-bcc.png" alt=""/></a></div>
          <ul class="menu__menu">
            <li class="menu__item">  <a class="menu__menu--link primaryfont__bold" href="#">Sobre BCC<img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
            <li class="menu__item">  <a class="menu__menu--link" href="#">Formación <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
            <li class="menu__item">  <a class="menu__menu--link" href="#">Innovación <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
            <li class="menu__item">  <a class="menu__menu--link" href="#">Empresas <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
            <li class="menu__item">  <a class="menu__menu--link" href="#">Iniciativas <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
            <li class="menu__item">  <a class="menu__menu--link" href="#">Restaurantes <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
            <li class="menu__item">  <a class="menu__menu--link" href="#">Actualidad <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
            <li class="menu__item display__desktop"><a class="btn__primary--medium-color-menu display__desktop" href="asdsadsad">Encuentra tu formación</a></li>
          </ul>
        </nav>
      </div>
      <div class="padding padding__top-regular display__mobile"><a class="btn__primary--small-color-menu" href="www">Encuentra tu formación</a></div>
      <section class="padding accordion__section">
        <div class="accordion__item">
          <button class="accordion">Accordion 1</button>
          <div class="panel"> 
            <nav> 
              <ul>
                <li class="menu__item">  <a class="menu__menu--link primaryfont__bold" href="#">Sobre BCC</a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Formación </a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Innovación </a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Empresas </a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Iniciativas </a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Restaurantes </a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Actualidad </a></li>
              </ul>
            </nav>
          </div>
        </div>
      </section>
    </div>
    <section class="padding padding__topbottom-xx-large box__background">
      <div class="grid__c2 content__center content__max">
        <div> 
          <div><span class="tag__card--grey display__desktop">Etiqueta 01 </span></div>
          <h3 class="padding__topbottom-x-regular primaryfont__bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="padding__bottom-x-regular x-small box__color-home">Redacción BCC</p>
          <p class="padding__bottom-x-regular text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.</p>
          <p class="padding__bottom-x-large text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequatLorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat</p>
          <div class="padding__bottom-x-regular display__desktop display__one"><a class="btn__primary--medium-color-width" href="www">Acceder a empresas</a></div>
          <div class="padding__bottom-x-regular display__desktop display__one"> <a class="btn__primary--medium-nocolor-width" href="www">Formas de colaboración</a></div>
        </div>
        <div><img class="box__img" src="../../src/images/foto.jpg" alt=""/></div>
      </div>
    </section>
    <section class="content__center content__max padding__topbottom-xx-large display__flex">
      <div class="padding padding__bottom-large">  
        <div><img class="padding__bottom-regular" src="../src/images/cabecera-action.png" type="img"/>
          <h3 class="primaryfont__bold column__title">Lorem ipsum dolor </h3>
          <p class="text-small padding__bottom-regular"> <span class="text-small primaryfont__medium"> Lorem ipsum dolor sit amet, </span><a class="primaryfont__medium column__text--action" href="www">consectetur adipiscing</a> elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.</p>
          <p class="text-small padding__bottom-regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elit metus, consequat id nisi vel, cursus sagittis eros. Mauris a sodales mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p><img class="display__mobile padding__bottom-regular" src="../src/images/foto.jpg" type="img/svg"/>
        </div>
        <div class="display__mobile"><a class="btn__primary--small-nocolor" href="www">Ir a la página</a></div>
        <div class="display__desktop"><a class="btn__primary--medium-color-width" href="www"> Ir a la página</a></div>
      </div>
      <div class="padding padding__bottom-large">  
        <div><img class="padding__bottom-regular" src="../src/images/cabecera-action.png" type="img"/>
          <h3 class="primaryfont__bold column__title">Lorem ipsum dolor </h3>
          <p class="text-small padding__bottom-regular"> <span class="text-small primaryfont__medium"> Lorem ipsum dolor sit amet, </span><a class="primaryfont__medium column__text--action" href="www">consectetur adipiscing</a> elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.</p>
          <p class="text-small padding__bottom-regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elit metus, consequat id nisi vel, cursus sagittis eros. Mauris a sodales mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p><img class="display__mobile padding__bottom-regular" src="../src/images/foto.jpg" type="img/svg"/>
        </div>
        <div class="display__mobile"><a class="btn__primary--small-nocolor" href="www">Ir a la página</a></div>
        <div class="display__desktop"><a class="btn__primary--medium-color-width" href="www"> Ir a la página</a></div>
      </div>
    </section>
    <section class="box__background padding__top-large">
      <div class="padding display__flex content__center content__max gap">
        <div class="box__content">
          <h4 class="padding__bottom-regular">Lorem ipsum </h4>
          <p class="padding__bottom-regular text-small"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident vel sed neque repellendus.</strong> Eligendi eos voluptate fugit, odit, maxime tempora expedita dolorem tenetur omnis laboriosam sunt delectus, dolor earum officiis.</p>
          <div class="display__desktop"><a class="btn__primary--medium-nocolor" href="www">Ir a la página</a></div>
        </div>
        <div class="swiper3 mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../../src/images/foto.jpg" alt=""/></div>
            <div class="swiper-slide"><img src="../../src/images/foto.jpg" alt=""/></div>
            <div class="swiper-slide"><img src="../../src/images/foto.jpg" alt=""/></div>
            <div class="swiper-slide"><img src="../../src/images/foto.jpg" alt=""/></div>
            <div class="swiper-slide"><img src="../../src/images/foto.jpg" alt=""/></div>
            <div class="swiper-slide"><img src="../../src/images/foto.jpg" alt=""/></div>
          </div>
        </div>
        <div class="display__mobile"><a class="btn__primary--small-nocolor" href="www"> Ir a la página</a></div>
      </div>
    </section>
    <section class="box__background padding__bottom-large">
      <div class="padding display__flex content__center content__max gap">
        <div class="swiper3 mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../../src/images/foto.jpg" alt=""/></div>
            <div class="swiper-slide"><img src="../../src/images/foto.jpg" alt=""/></div>
            <div class="swiper-slide"><img src="../../src/images/foto.jpg" alt=""/></div>
            <div class="swiper-slide"><img src="../../src/images/foto.jpg" alt=""/></div>
            <div class="swiper-slide"><img src="../../src/images/foto.jpg" alt=""/></div>
            <div class="swiper-slide"><img src="../../src/images/foto.jpg" alt=""/></div>
          </div>
        </div>
        <div class="box__content">
          <h4 class="padding__bottom-regular">Lorem ipsum </h4>
          <p class="padding__bottom-regular text-small"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident vel sed neque repellendus.</strong> Eligendi eos voluptate fugit, odit, maxime tempora expedita dolorem tenetur omnis laboriosam sunt delectus, dolor earum officiis.</p>
          <div class="display__desktop"><a class="btn__primary--medium-nocolor" href="www">Ir a la página</a></div>
        </div>
        <div class="display__mobile"><a class="btn__primary--small-nocolor" href="www"> Ir a la página</a></div>
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="../js/accordion.js"></script>
    <script src="../js/swiper.js"></script>
    <script src="../js/swiper3.js"></script>
    <script src="../js/function.js"></script>
  </body>
</html>