include ../components/column/component-img-left.pug
include ../components/column/component-noticia-principal.pug
include ../components/menu/menu-gradient.pug
include ../components/menu/menu.pug
include ../components/menu/menu-index.pug
include ../components/layout/head.pug
    block content
        //- menu
        div
            +menu-gradient("gradient__innovation")
            include ../components/menu/topbar.pug
            +menu("display__none")
            +menu-index()
        //- noticias principal
        section.padding__regular-xx-large.box__background
            +component-noticia-principal("box__background", "", "display__none", "")
        //- section bcc innovation
        section.padding__regular-large.content__center.content__max
            div.padding__topbottom-large
                img(src="../src/images/cabecera-innovation.png", alt="")
            +component-img-left("", "box__content", "display__none", "display__one")
            div.display__mobile.padding__top-large
                a.btn__primary--small-nocolor(href="www") Ir a la página
        //- section bcc action - order 2
        section.padding__regular-large.content__center.content__max
            div.padding__topbottom-large
                img(src="../src/images/cabecera-action.png", alt="")
            +component-img-left("", "box__content--right", "display__none", "display__one")
            div.display__mobile.padding__top-large
                a.btn__primary--small-nocolor(href="www") Ir a la página
        //- section lab
        section.padding__regular-large.content__center.content__max
            div.padding__topbottom-large
                img(src="../src/images/logo-LABe.png", alt="")
            +component-img-left("", "box__content", "display__none", "display__one")
            div.display__mobile.padding__top-large
                a.btn__primary--small-nocolor(href="www") Ir a la página
        
        
        //- slider imágenes GOE
        //- section.padding__topbottom-large.display__flex.content__center.content__max.gap
        //-     +component-slide-img
        //-     div.box__content
        //-         h4.padding__bottom-regular Lorem ipsum 
        //-         p.padding__bottom-regular.text-small
        //-             strong Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident vel sed neque repellendus.
        //-             |  Eligendi eos voluptate fugit, odit, maxime tempora expedita dolorem tenetur omnis laboriosam sunt delectus, dolor earum officiis.
        //-         //- Button desktop
        //-         div.display__desktop
        //-             a.btn__primary--medium-nocolor(href="www") Ir a la página
        //-     //- Button mobile
        //-     div.display__mobile
        //-             a.btn__primary--small-nocolor(href="www")  Ir a la página
            
    script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js")
    script(src="../js/accordion.js")
    script(src="../js/swiper.js")
    script(src="../js/swiper3.js")
    script(src="../js/function.js")
