include ../components/layout/bullet.pug
include ../components/layout/innovation-form.pug
include ../components/layout/footer.pug
include ../components/column/component-noticia-principal.pug
include ../components/menu/menu-gradient.pug
include ../components/menu/menu-section.pug
include ../components/menu/menu.pug
include ../components/menu/menu-index.pug
include ../components/layout/footer.pug
include ../components/layout/head.pug
    block content
        main
            header
                // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> COMPONENTES MENÚS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                div
                    // menu gradient componente "menu-gradient"
                    +menu-gradient("gradient__innovation")
                    // menu topbar componente "topbar"
                    include ../components/menu/topbar.pug
                    // menu main componente "menu"
                    +menu("display__none")
                    // migas de pan componente  "menu-section"
                    +menu-section("migas__innovation", "migas__text-innovation")
                    //- +menu-index() 
            
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CABECERA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section.media__margin.padding.padding__top-xtra-largeg.padding__bottom-xx-large.content__center.content__max
                div.padding__topbottom-large
                    img(class="logo__size" src="../src/images/cabecera-innovation.svg", type="img/svg", alt="")
                div 
                    p.text-medium.padding__bottom-large Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    p.text-medium.padding__bottom-large <strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took </strong>a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                div.display__desktop.display__flex.gap.content__right 
                    a.btn__primary--medium-nocolor-innovation-width(href="www") Proyectos
                    a.btn__primary--medium-color-innovation-width(href="www") Líneas de investigación
                div.display__mobile.padding__bottom-large
                    a.btn__primary--small-nocolor-innovation(href="www") Proyectos
                div.display__mobile
                    a.btn__primary--small-color-innovation(href="www") Líneas de investigación
            
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CONTENT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section.padding__topbottom-x-large.box__background--innovation
                +component-noticia-principal("box__content--justify", "link__color-innovation", "color__text-innovation", "", "tag__card--grey", "", "", "display__innovation", "display__button", "", "")
            // sección "Qué hacemos"
            section.media__margin.padding__regular-large.content__center.content__max
                div
                    h3.padding__bottom-large.primaryfont__bold Qué hacemos
                div 
                    // bullet
                    +bullet("", "bullet__line-innovation")
            // sección "Quienes somos"
            section.media__margin.padding__p-bottom-xx-large.content__center.content__max
                div.padding__bottom-regular
                    h3.primaryfont__bold Quienes somos
                div
                    p.text-medium Establecemos relaciones con empresas, clientes, proveedores, emprendedores, Administraciones Públicas y aliados tecnológicos tanto nacionales como internacionales, fomentando el trabajo en red. Somos un equipo único en el mundo de creativos y científicos:
                div 
                    ul 
                        li.padding__bottom-large
                            p.text-medium <strong>Doctor@s</strong> en Ciencia y Tecnología de Alimentos, Alimentación, Fisiología y Salud, Análisis Sensorial y Economía
                        li.padding__bottom-large 
                            p.text-medium <strong>Chefs</strong> con una vasta experiencia internacional, tanto en restaurantes informales como en restaurantes de calidad Michelin
                        li 
                            p.text-medium <strong>Expertos en procesos y metodologías</strong> de innovación para la generación de nuevos negocios disruptivos
            // sección "Empresas colaboradoras"
            section.media__margin.padding.padding__bottom-xtra-large.content__center.content__max
                div.padding__bottom-regular
                    h3.primaryfont__bold Empresas colaboradoras
                div
                    p.text-medium Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            // sección logos
            section.media__margin.padding__bottom-xtra-large.content__center.gap__logos.display__flex
                    img(src="../src/images/logo-hotel-melia.jpg", alt="")
                    img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
                    img(src="../src/images/logo-nh-hoteles.jpg", alt="")
                    img(src="../src/images/logo-hoteles-restaurantes-paradores.jpg", alt="")
                    a.display__mobile.btn__primary--small-nocolor-innovation(href="www") Servicios para empresas
            
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FORM INNOVATION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            +innovation-form()  
        
        // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
        +footer("box__background--white")
    
    script(src="../js/menu.js")   
    script(src="../js/accordion.js") 