include ../components/layout/innovation-form.pug
include ../components/column/component-img-left.pug
include ../components/column/component-noticia-principal.pug
include ../components/menu/menu-gradient.pug
include ../components/menu/menu-section.pug
include ../components/menu/menu.pug
include ../components/menu/menu-index.pug
include ../components/layout/footer.pug
include ../components/layout/head.pug
    block content
        main 
            header
                //- menu
                div
                    +menu-gradient("gradient__innovation")
                    include ../components/menu/topbar.pug
                    +menu("display__none")
                    +menu-section("migas__neutral", "migas__text-neutral")
                    //- +menu-index()
            //- cabecera
            section.media__margin.padding__bottom-xtra-large.content__center.content__max
                div
                    h2.padding__regular.primaryfont__bold Lorem ipsum
                    p.padding.text-medium Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            //- noticias principal
            section.padding__topbottom-x-large.box__background
                +component-noticia-principal("box__content--justify", "link__color-innovation", "color__text-innovation", "", "tag__card--grey", "box__background", "", "display__innovation", "display__button", "", "")
            //- section bcc innovation
            section.padding__topbottom-xtra-large.content__center.content__max
                div.media__margin.padding.padding__bottom-large.content__center
                    img(class="logo__size-home" src="../src/images/cabecera-innovation.svg", type="img/svg", alt="")
                +component-img-left("box__content--justify", "display__none", "display__one")
                div.media__margin.padding.content__center.display__mobile.padding__top-large
                    a.btn__primary--small-nocolor(href="www") Ir a la página
            //- section bcc action - order 2
            section.padding__bottom-xtra-large.content__center.content__max
                div.media__margin.padding.padding__bottom-large.content__center
                    img(class="logo__size-home" src="../src/images/cabecera-action.svg", type="img/svg", alt="")
                +component-img-left("box__content--right box__content--justify", "display__none", "display__one")
                div.media__margin.padding.content__center.display__mobile.padding__top-large
                    a.btn__primary--small-nocolor(href="www") Ir a la página
            //- section lab
            section.padding__bottom-xtra-large.content__center.content__max
                div.media__margin.padding.padding__bottom-large.content__center
                    img(class="logo__size-home" src="../src/images/cabecera-labe.svg", type="img/svg", alt="")
                +component-img-left("box__content--justify", "display__none", "display__one")
                div.media__margin.padding.content__center.display__mobile.padding__top-large
                    a.btn__primary--small-nocolor(href="www") Ir a la página
            //- form innovation
            +innovation-form()
        //- footer
        +footer("box__background--white")    
            
        
            
    script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js")
    script(src="../js/migas.js")  
    script(src="../js/accordion.js")
    script(src="../js/swiper.js")
    script(src="../js/swiper3.js")
    script(src="../js/function.js")
