include ../components/column/component-column-icon.pug
include ../components/menu/menu-gradient.pug
include ../components/menu/menu-section.pug
include ../components/menu/menu.pug
include ../components/menu/menu-index.pug
include ../components/layout/footer.pug
include ../components/layout/head.pug
    block content
        main 
            header
                //- menu
                div
                    +menu-gradient("gradient__innovation")
                    include ../components/menu/topbar.pug
                    +menu("display__none")
                    +menu-section("migas__neutral", "migas__text-neutral")
                    //- +menu-index()
            //- cabecera
            section.padding__regular-xx-large.content__center.content__max
                div.padding__topbottom-large
                    img(src="../src/images/cabecera-labe.png", alt="")
                div 
                    h3.primaryfont__bold El laboratorio de Innovación y Transformación Digital
                    p.text-medium.padding__bottom-large <strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</strong> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            //- column icon
            section.padding__bottom-xx-large.content__center.content__max
                div.padding.display__flex.gap
                    +component-column-icon("color__text-labe", "", "", "display__one")
                    +component-column-icon("color__text-labe", "", "", "display__one")
                    +component-column-icon("color__text-labe", "", "", "display__one")
                    +component-column-icon("color__text-labe", "", "", "display__one")
                div.padding.display__mobile.padding__top-regular
                        a.btn__primary--small-color-labe(href="www") Ir a LABE
            //- nuestros espacios
            section.padding.padding__bottom-xx-large.content__center.content__max
                h3.primaryfont__bold Nuestros espacios
                p.text-medium.padding__bottom-large <strong>Un ecosistema gastronómico completo para co-crear, experimentar e impulsar el Futuro de todo el sector.</sector> Compuesto por un living lab, un HUB de startups y empresas, y un entorno donde potenciar la colaboración entre los agentes clave de la gastronomía.
                .display__flex.gap 
                    div.padding__bottom-regular 
                        img(class="padding__bottom-small box__img" src="../src/images/img-noticias.jpg", alt="")
                        h4.padding__bottom-small.primaryfont__bold Co-working
                        p.text-small Oficina tipo flex desk con capacidad para 30 personas, zona café, cabina individual de llamadas, sala de reuniones, taquillas, conexión a espacios de prototipado, Internet de alta velocidad e impresión.
                    div.padding__bottom-regular 
                        img(class="padding__bottom-small box__img" src="../src/images/img-noticias.jpg", alt="")
                        h4.padding__bottom-small.primaryfont__bold Co-working
                        p.text-small Oficina tipo flex desk con capacidad para 30 personas, zona café, cabina individual de llamadas, sala de reuniones, taquillas, conexión a espacios de prototipado, Internet de alta velocidad e impresión.
                    div.padding__bottom-regular 
                        img(class="padding__bottom-small box__img" src="../src/images/img-noticias.jpg", alt="")
                        h4.padding__bottom-small.primaryfont__bold Co-working
                        p.text-small Oficina tipo flex desk con capacidad para 30 personas, zona café, cabina individual de llamadas, sala de reuniones, taquillas, conexión a espacios de prototipado, Internet de alta velocidad e impresión.
                    div.padding__bottom-regular 
                        img(class="padding__bottom-x-small box__img" src="../src/images/img-noticias.jpg", alt="")
                        h4.padding__bottom-small.primaryfont__bold Co-working
                        p.text-small Oficina tipo flex desk con capacidad para 30 personas, zona café, cabina individual de llamadas, sala de reuniones, taquillas, conexión a espacios de prototipado, Internet de alta velocidad e impresión.
                div.display__mobile.padding__top-regular
                    a.btn__primary--small-color-labe(href="www") Ir a LABE
            //- equipo labe
            section.padding__regular-xx-large.content__center.content__max
                h3.primaryfont__bold Equipo LABe 
                div.grid__c2
                    div.padding__topbottom-large
                        p.text-medium <strong>BCCInnovation y LABe - Digital Gastronomy Lab</strong> es el resultado de la unión entre un Equipo Multidisciplinar de profesionales del sector de la Gastronomía y una Red de Expertos reconocidos a mundialmente. Ambos trabajan de manera coordinada para impulsar proyectos, realizar tareas de scouting en innovación y tendencias, y garantizar el futuro de la cadena de valor gastronómica, mientras se supervisa la transición digital de todo el sector.
                    div 
                        img(class="padding__bottom-small box__img" src="../src/images/img-noticias.jpg", alt="")
        //- footer
        +footer("box__background--white")