include ../components/layout/innovation-form.pug
include ../components/layout/footer.pug
include ../components/column/component-noticia-principal.pug
include ../components/menu/menu-gradient.pug
include ../components/menu/menu-section.pug
include ../components/menu/menu.pug
include ../components/menu/menu-index.pug
include ../components/layout/footer.pug
include ../components/layout/head.pug
    block content
        main 
            header
                //- menu
                div
                    +menu-gradient("gradient__innovation")
                    include ../components/menu/topbar.pug
                    +menu("display__none")
                    +menu-section("migas__innovation", "migas__text-innovation")
                    +menu-index()
            //- cabecera
            section.padding__regular-xx-large.content__center.content__max
                div.padding__topbottom-large
                    img(src="../src/images/cabecera-innovation.png", alt="")
                div 
                    p.text-medium.padding__bottom-large Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    p.text-medium.padding__bottom-large Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                div.display__desktop.display__flex.gap.content__right 
                    a.btn__primary--medium-nocolor-innovation-width(href="www") Proyectos
                    a.btn__primary--medium-color-innovation-width(href="www") Líneas de investigación
                div.display__mobile.padding__bottom-large
                    a.btn__primary--small-nocolor-innovation(href="www") Proyectos
                div.display__mobile
                    a.btn__primary--small-color-innovation(href="www") Líneas de investigación
            //- noticias principal
            section.padding__topbottom-large.box__background--innovation
                +component-noticia-principal("link__color-innovation", "color__text-innovation", "", "tag__card--grey", "", "", "display__innovation", "display__button", "", "")
            //- sección texto
            section.padding__regular-xx-large.content__center.content__max
                div
                    h3.primaryfont__bold Qué hacemos
                div.padding__bottom-large 
                    h4.primaryfont__bold Vanguardia culinaria
                    p.text-medium Printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                div.padding__bottom-large 
                    h4.primaryfont__bold Vanguardia culinaria
                    p.text-medium Printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                div 
                    h4.primaryfont__bold Vanguardia culinaria
                    p.text-medium Printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.

            section.padding__p-bottom-large.content__center.content__max
                div
                    h3.primaryfont__bold Quienes somos
                div
                    p.text-medium Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                div 
                    ul 
                        li.padding__bottom-large
                            p.text-medium Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu
                        li.padding__bottom-large 
                            p.text-medium Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu
                        li 
                            p.text-medium Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu
            
            section.padding.padding__p-bottom-large.content__center.content__max
                div
                    h3.primaryfont__bold Empresas colaboradoras
                div
                    p.text-medium Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            //- sección logos
            section.display__flex.padding__regular-xx-large.content__center.gap__logos
                    img(src="../src/images/logo-hotel-melia.jpg", alt="")
                    img(src="../src/images/logo-hotel-resort-marriot.jpg", alt="")
                    img(src="../src/images/logo-nh-hoteles.jpg", alt="")
                    img(src="../src/images/logo-hoteles-restaurantes-paradores.jpg", alt="")
                    a.display__mobile.btn__primary--medium-nocolor-innovation(href="www") Servicios para empresas
            //- form innovation
            +innovation-form()  
        //- footer
        +footer("box__background--white")  
    script(src="../js/migas.js")  
    script(src="../js/accordion.js") 