<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <main> 
      <header>
        <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> COMPONENTES MENÚS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
        <div>
          <!-- menu gradient componente "menu-gradient"-->
          <div class="gradient__innovation">
            <p class="text-small gradient__text">Conoce los nuevos proyectos de<a class="primaryfont__bold" href="#"> BCC Innovation</a></p>
          </div>
          <!-- menu topbar componente "topbar"-->
          <div> 
            <nav class="topbar">
              <ul class="topbar__list">
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">ACCESOS</a>
                  <ul class="topbar__list--submenu">
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                  </ul>
                </li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">CONTACTO</a></li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">TIENDA BCC</a></li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">SÍGUENOS</a></li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">ES</a>
                  <ul class="topbar__list--submenu">
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">EN</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">FR</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">CA</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <!-- menu main componente "menu"-->
          <div>
            <nav class="menu">
              <input class="menu__checkbox" type="checkbox" id="menu__checkbox"/>
              <label class="menu__toggle" for="menu__checkbox"> <img class="hamburger" src="../../src/images/burger.png"/><img class="close" src="../../src/images/closed.png"/></label>
              <div class="menu__item--logo"><a class="menu__menu" href="#"><img class="menu__logo" src="../../src/images/logo-bcc.png" alt=""/></a></div>
              <ul class="menu__menu">
                <li class="menu__item">  <a class="menu__menu--link primaryfont__bold" href="#">Sobre BCC<img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Formación <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Innovación <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Empresas <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Iniciativas <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Restaurantes <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Actualidad <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item display__desktop"><a class="btn__primary--medium-color-menu display__desktop" href="asdsadsad">Encuentra tu formación</a></li>
              </ul>
            </nav>
          </div>
          <div class="padding padding__top-regular display__mobile display__none"><a class="btn__primary--small-color-menu" href="www" displayNone="display__none">Encuentra tu formación</a></div>
          <!-- migas de pan componente  "menu-section"-->
          <div class="display__desktop migas migas__neutral">
            <ul> 
              <li class="migas__neutral"><a class="text-small migas__text-neutral" href="www">Home</a></li>
              <li class="migas__neutral"><a class="text-small migas__text-neutral" href="www">Innovación</a></li>
              <li class="migas__neutral"><a class="text-small migas__text-neutral" href="www">Líneas de investigación</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CABECERA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
      <section class="media__margin padding__bottom-xx-large content__center content__max">
        <div>
          <h2 class="padding__regular primaryfont__bold">Lorem ipsum</h2>
          <p class="padding text-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </section>
      <!-- section "Restaurante BCC"-->
      <section class="media__margin padding__bottom-xx-large content__center content__max">
        <div class="padding padding__bottom-large">
          <h3 class="primaryfont__bold">Restaurante BCC</h3>
        </div>
        <div class="padding">
          <p class="display__mobile text-medium"><strong>Lorem Ipsum is simply dummy text of the printing and typesetting</strong> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="padding grid__c8-c4">
          <div class="swiper3 mySwiper swiper3-nonepagination">
            <div class="margin__left swiper-wrapper">
              <div class="swiper-slide"><img src="../src/images/img-noticias.jpg" alt=""></div>
              <div class="swiper-slide"><img src="../src/images/img-noticias.jpg" alt=""></div>
              <div class="swiper-slide"><img src="../src/images/img-noticias.jpg" alt=""></div>
              <div class="swiper-slide"><img src="../src/images/img-noticias.jpg" alt=""></div>
              <div class="swiper-slide"><img src="../src/images/img-noticias.jpg" alt=""></div>
            </div>
          </div>
          <div class="box__content--justify"> 
            <p class="display__desktop text-medium"><strong>Lorem Ipsum is simply dummy text of the printing and typesetting</strong> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <!-- button display__desktop-->
            <div class="display__desktop">
              <div class="padding__topbottom-small"><a class="btn__primary--medium-nocolor-width" href="www">Conocer más</a></div>
              <div><a class="btn__primary--medium-color-width" href="www">Reservar mesa</a></div>
            </div>
            <!-- button display__mobile-->
            <div class="display__mobile">
              <div class="padding__topbottom-small"><a class="btn__primary-small-nocolor" href="www">Conocer más</a></div>
              <div><a class="btn__primary-small-color" href="www">Reservar mesa</a></div>
            </div>
          </div>
        </div>
      </section>
      <!-- section "Restaurante LABe"-->
      <section class="media__margin padding__bottom-xx-large content__center content__max">
        <div class="padding padding__bottom-large">
          <h3 class="primaryfont__bold">Restaurante LABe</h3>
        </div>
        <div class="padding">
          <p class="display__mobile text-medium"><strong>Lorem Ipsum is simply dummy text of the printing and typesetting</strong> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="padding grid__c8-c4">
          <div class="swiper3 mySwiper swiper3-nonepagination">
            <div class="margin__left swiper-wrapper">
              <div class="swiper-slide"><img src="../src/images/img-noticias.jpg" alt=""></div>
              <div class="swiper-slide"><img src="../src/images/img-noticias.jpg" alt=""></div>
              <div class="swiper-slide"><img src="../src/images/img-noticias.jpg" alt=""></div>
              <div class="swiper-slide"><img src="../src/images/img-noticias.jpg" alt=""></div>
              <div class="swiper-slide"><img src="../src/images/img-noticias.jpg" alt=""></div>
            </div>
          </div>
          <div class="box__content--justify"> 
            <p class="display__desktop text-medium"><strong>Lorem Ipsum is simply dummy text of the printing and typesetting</strong> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <!-- button display__desktop-->
            <div class="display__desktop">
              <div class="padding__topbottom-small"><a class="btn__primary--medium-nocolor-width" href="www">Conocer más</a></div>
              <div><a class="btn__primary--medium-color-width" href="www">Reservar mesa</a></div>
            </div>
            <!-- button display__mobile-->
            <div class="display__mobile">
              <div class="padding__topbottom-small"><a class="btn__primary--small-nocolor" href="www">Conocer más</a></div>
              <div><a class="btn__primary--small-color" href="www">Reservar mesa</a></div>
            </div>
          </div>
        </div>
      </section>
      <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SLIDER EXPERIENCIAS BCC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
      <!-- section "Experiencias BCC"-->
      <section class="media__margin padding__bottom-regular content__center content__max">
        <div class="padding padding__bottom-large">
          <h3 class="primaryfont__bold">Experiencias BCC</h3>
        </div>
        <div class="padding">
          <p class="text-medium"><strong>Lorem Ipsum is simply dummy text of the printing and typesetting</strong> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </section>
      <!-- title slider .display__mobile-->
      <section class="media__margin padding content__center content__max">
        <!-- link "ver todas las experiencias" display__desktop-->
        <div class="padding__bottom-regular display__mobile"><a class="link__color-home text-small primaryfont__medium" href="#">Ver todas las experiencias<img class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"></a></div>
        <div class="display__mobile">
          <h4 class="primaryfont__bold"> Experiencias destacadas</h4>
        </div>
      </section>
      <!-- title slider .display__desktop-->
      <section class="media__margin padding__regular title__link content__center content__max">
        <div class="display__desktop">
          <h4 class="primaryfont__bold"> Experiencias destacadas</h4>
        </div>
        <!-- link "ver todas las experiencias" display__desktop-->
        <div class="display__desktop"><a class="link__color-home text-small primaryfont__medium" href="#">Ver todas las experiencias<img class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"></a></div>
      </section>
      <!-- slider "Experiencias destacadas"-->
      <section class="media__margin padding padding__bottom-xtra-large content__center">
        <div class="swiper mySwiper display__flex content__max">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="box">
                <div>
                  <div> <span class="box__tag tag__primary">Etiqueta 01</span></div><img class="box__img--bloq2" src="../../src/images/img-noticias.jpg" alt=""/>
                </div>
                <div>
                  <div class="box__icon--tag"><img class="svg__icon--margin-bottom" src="../src/iconos/compartir.svg#compartir" type="img/svg"/><span class="tag__card--grey box__tag--space"> Evento</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 01</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 02</span></div>
                  <h4 class="box__title primaryfont__bold">Titular del evento que ocupe dos líneas como máximo</h4>
                  <div class="box__date">
                    <div class="box__date--space">
                      <p class="text-large__garamond">23</p>
                      <p class="text-medium__garamond">FEB    </p>
                    </div>
                    <div class="box__date--width"> 
                      <hr class="hr__margin-bottom"/>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/calendar.svg#calen" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Fechas: </p></span>
                        <p class="x-small">3 de febrero de 2022</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/cash-money.svg#cash-money" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Precio:</p></span>
                        <p class="x-small">100€ por persona</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/location.svg#location" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Lugar: </p></span>
                        <p class="x-small"> Edificio BCC</p>
                      </div>
                      <hr class="hr__margin-top"/>
                    </div>
                  </div>
                  <div class="box__description padding__bottom-mobile-regular padding__top-x-small">                
                    <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.</p>
                  </div>
                  <div class="display__mobile display__none"><a class="btn__primary--small-nocolor" href="www">Quiero inscribirme</a></div>
                  <div class="display__desktop"><a class="btn__primary--medium-nocolor" href="www">Quiero inscribirme</a></div>
                </div>
              </div>
              <div class="padding__top-regular display__mobile display__none"><a class="btn__primary--small-color" href="www">Ver todos los eventos</a></div>
            </div>
            <div class="swiper-slide">
              <div class="box">
                <div>
                  <div> <span class="box__tag tag__primary">Etiqueta 01</span></div><img class="box__img--bloq2" src="../../src/images/img-noticias.jpg" alt=""/>
                </div>
                <div>
                  <div class="box__icon--tag"><img class="svg__icon--margin-bottom" src="../src/iconos/compartir.svg#compartir" type="img/svg"/><span class="tag__card--grey box__tag--space"> Evento</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 01</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 02</span></div>
                  <h4 class="box__title primaryfont__bold">Titular del evento que ocupe dos líneas como máximo</h4>
                  <div class="box__date">
                    <div class="box__date--space">
                      <p class="text-large__garamond">23</p>
                      <p class="text-medium__garamond">FEB    </p>
                    </div>
                    <div class="box__date--width"> 
                      <hr class="hr__margin-bottom"/>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/calendar.svg#calen" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Fechas: </p></span>
                        <p class="x-small">3 de febrero de 2022</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/cash-money.svg#cash-money" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Precio:</p></span>
                        <p class="x-small">100€ por persona</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/location.svg#location" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Lugar: </p></span>
                        <p class="x-small"> Edificio BCC</p>
                      </div>
                      <hr class="hr__margin-top"/>
                    </div>
                  </div>
                  <div class="box__description padding__bottom-mobile-regular padding__top-x-small">                
                    <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.</p>
                  </div>
                  <div class="display__mobile display__none"><a class="btn__primary--small-nocolor" href="www">Quiero inscribirme</a></div>
                  <div class="display__desktop"><a class="btn__primary--medium-nocolor" href="www">Quiero inscribirme</a></div>
                </div>
              </div>
              <div class="padding__top-regular display__mobile display__none"><a class="btn__primary--small-color" href="www">Ver todos los eventos</a></div>
            </div>
            <div class="swiper-slide">
              <div class="box">
                <div>
                  <div> <span class="box__tag tag__primary">Etiqueta 01</span></div><img class="box__img--bloq2" src="../../src/images/img-noticias.jpg" alt=""/>
                </div>
                <div>
                  <div class="box__icon--tag"><img class="svg__icon--margin-bottom" src="../src/iconos/compartir.svg#compartir" type="img/svg"/><span class="tag__card--grey box__tag--space"> Evento</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 01</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 02</span></div>
                  <h4 class="box__title primaryfont__bold">Titular del evento que ocupe dos líneas como máximo</h4>
                  <div class="box__date">
                    <div class="box__date--space">
                      <p class="text-large__garamond">23</p>
                      <p class="text-medium__garamond">FEB    </p>
                    </div>
                    <div class="box__date--width"> 
                      <hr class="hr__margin-bottom"/>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/calendar.svg#calen" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Fechas: </p></span>
                        <p class="x-small">3 de febrero de 2022</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/cash-money.svg#cash-money" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Precio:</p></span>
                        <p class="x-small">100€ por persona</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/location.svg#location" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Lugar: </p></span>
                        <p class="x-small"> Edificio BCC</p>
                      </div>
                      <hr class="hr__margin-top"/>
                    </div>
                  </div>
                  <div class="box__description padding__bottom-mobile-regular padding__top-x-small">                
                    <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.</p>
                  </div>
                  <div class="display__mobile display__none"><a class="btn__primary--small-nocolor" href="www">Quiero inscribirme</a></div>
                  <div class="display__desktop"><a class="btn__primary--medium-nocolor" href="www">Quiero inscribirme</a></div>
                </div>
              </div>
              <div class="padding__top-regular display__mobile display__none"><a class="btn__primary--small-color" href="www">Ver todos los eventos</a></div>
            </div>
            <div class="swiper-slide">
              <div class="box">
                <div>
                  <div> <span class="box__tag tag__primary">Etiqueta 01</span></div><img class="box__img--bloq2" src="../../src/images/img-noticias.jpg" alt=""/>
                </div>
                <div>
                  <div class="box__icon--tag"><img class="svg__icon--margin-bottom" src="../src/iconos/compartir.svg#compartir" type="img/svg"/><span class="tag__card--grey box__tag--space"> Evento</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 01</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 02</span></div>
                  <h4 class="box__title primaryfont__bold">Titular del evento que ocupe dos líneas como máximo</h4>
                  <div class="box__date">
                    <div class="box__date--space">
                      <p class="text-large__garamond">23</p>
                      <p class="text-medium__garamond">FEB    </p>
                    </div>
                    <div class="box__date--width"> 
                      <hr class="hr__margin-bottom"/>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/calendar.svg#calen" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Fechas: </p></span>
                        <p class="x-small">3 de febrero de 2022</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/cash-money.svg#cash-money" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Precio:</p></span>
                        <p class="x-small">100€ por persona</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/location.svg#location" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Lugar: </p></span>
                        <p class="x-small"> Edificio BCC</p>
                      </div>
                      <hr class="hr__margin-top"/>
                    </div>
                  </div>
                  <div class="box__description padding__bottom-mobile-regular padding__top-x-small">                
                    <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.</p>
                  </div>
                  <div class="display__mobile display__none"><a class="btn__primary--small-nocolor" href="www">Quiero inscribirme</a></div>
                  <div class="display__desktop"><a class="btn__primary--medium-nocolor" href="www">Quiero inscribirme</a></div>
                </div>
              </div>
              <div class="padding__top-regular display__mobile display__none"><a class="btn__primary--small-color" href="www">Ver todos los eventos</a></div>
            </div>
            <div class="swiper-slide">
              <div class="box">
                <div>
                  <div> <span class="box__tag tag__primary">Etiqueta 01</span></div><img class="box__img--bloq2" src="../../src/images/img-noticias.jpg" alt=""/>
                </div>
                <div>
                  <div class="box__icon--tag"><img class="svg__icon--margin-bottom" src="../src/iconos/compartir.svg#compartir" type="img/svg"/><span class="tag__card--grey box__tag--space"> Evento</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 01</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 02</span></div>
                  <h4 class="box__title primaryfont__bold">Titular del evento que ocupe dos líneas como máximo</h4>
                  <div class="box__date">
                    <div class="box__date--space">
                      <p class="text-large__garamond">23</p>
                      <p class="text-medium__garamond">FEB    </p>
                    </div>
                    <div class="box__date--width"> 
                      <hr class="hr__margin-bottom"/>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/calendar.svg#calen" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Fechas: </p></span>
                        <p class="x-small">3 de febrero de 2022</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/cash-money.svg#cash-money" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Precio:</p></span>
                        <p class="x-small">100€ por persona</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/location.svg#location" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Lugar: </p></span>
                        <p class="x-small"> Edificio BCC</p>
                      </div>
                      <hr class="hr__margin-top"/>
                    </div>
                  </div>
                  <div class="box__description padding__bottom-mobile-regular padding__top-x-small">                
                    <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.</p>
                  </div>
                  <div class="display__mobile display__none"><a class="btn__primary--small-nocolor" href="www">Quiero inscribirme</a></div>
                  <div class="display__desktop"><a class="btn__primary--medium-nocolor" href="www">Quiero inscribirme</a></div>
                </div>
              </div>
              <div class="padding__top-regular display__mobile display__none"><a class="btn__primary--small-color" href="www">Ver todos los eventos</a></div>
            </div>
            <div class="swiper-slide">
              <div class="box">
                <div>
                  <div> <span class="box__tag tag__primary">Etiqueta 01</span></div><img class="box__img--bloq2" src="../../src/images/img-noticias.jpg" alt=""/>
                </div>
                <div>
                  <div class="box__icon--tag"><img class="svg__icon--margin-bottom" src="../src/iconos/compartir.svg#compartir" type="img/svg"/><span class="tag__card--grey box__tag--space"> Evento</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 01</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 02</span></div>
                  <h4 class="box__title primaryfont__bold">Titular del evento que ocupe dos líneas como máximo</h4>
                  <div class="box__date">
                    <div class="box__date--space">
                      <p class="text-large__garamond">23</p>
                      <p class="text-medium__garamond">FEB    </p>
                    </div>
                    <div class="box__date--width"> 
                      <hr class="hr__margin-bottom"/>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/calendar.svg#calen" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Fechas: </p></span>
                        <p class="x-small">3 de febrero de 2022</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/cash-money.svg#cash-money" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Precio:</p></span>
                        <p class="x-small">100€ por persona</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/location.svg#location" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Lugar: </p></span>
                        <p class="x-small"> Edificio BCC</p>
                      </div>
                      <hr class="hr__margin-top"/>
                    </div>
                  </div>
                  <div class="box__description padding__bottom-mobile-regular padding__top-x-small">                
                    <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.</p>
                  </div>
                  <div class="display__mobile display__none"><a class="btn__primary--small-nocolor" href="www">Quiero inscribirme</a></div>
                  <div class="display__desktop"><a class="btn__primary--medium-nocolor" href="www">Quiero inscribirme</a></div>
                </div>
              </div>
              <div class="padding__top-regular display__mobile display__none"><a class="btn__primary--small-color" href="www">Ver todos los eventos</a></div>
            </div>
            <div class="swiper-slide">
              <div class="box">
                <div>
                  <div> <span class="box__tag tag__primary">Etiqueta 01</span></div><img class="box__img--bloq2" src="../../src/images/img-noticias.jpg" alt=""/>
                </div>
                <div>
                  <div class="box__icon--tag"><img class="svg__icon--margin-bottom" src="../src/iconos/compartir.svg#compartir" type="img/svg"/><span class="tag__card--grey box__tag--space"> Evento</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 01</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 02</span></div>
                  <h4 class="box__title primaryfont__bold">Titular del evento que ocupe dos líneas como máximo</h4>
                  <div class="box__date">
                    <div class="box__date--space">
                      <p class="text-large__garamond">23</p>
                      <p class="text-medium__garamond">FEB    </p>
                    </div>
                    <div class="box__date--width"> 
                      <hr class="hr__margin-bottom"/>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/calendar.svg#calen" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Fechas: </p></span>
                        <p class="x-small">3 de febrero de 2022</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/cash-money.svg#cash-money" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Precio:</p></span>
                        <p class="x-small">100€ por persona</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/location.svg#location" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Lugar: </p></span>
                        <p class="x-small"> Edificio BCC</p>
                      </div>
                      <hr class="hr__margin-top"/>
                    </div>
                  </div>
                  <div class="box__description padding__bottom-mobile-regular padding__top-x-small">                
                    <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.</p>
                  </div>
                  <div class="display__mobile display__none"><a class="btn__primary--small-nocolor" href="www">Quiero inscribirme</a></div>
                  <div class="display__desktop"><a class="btn__primary--medium-nocolor" href="www">Quiero inscribirme</a></div>
                </div>
              </div>
              <div class="padding__top-regular display__mobile display__none"><a class="btn__primary--small-color" href="www">Ver todos los eventos</a></div>
            </div>
            <div class="swiper-slide">
              <div class="box">
                <div>
                  <div> <span class="box__tag tag__primary">Etiqueta 01</span></div><img class="box__img--bloq2" src="../../src/images/img-noticias.jpg" alt=""/>
                </div>
                <div>
                  <div class="box__icon--tag"><img class="svg__icon--margin-bottom" src="../src/iconos/compartir.svg#compartir" type="img/svg"/><span class="tag__card--grey box__tag--space"> Evento</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 01</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 02</span></div>
                  <h4 class="box__title primaryfont__bold">Titular del evento que ocupe dos líneas como máximo</h4>
                  <div class="box__date">
                    <div class="box__date--space">
                      <p class="text-large__garamond">23</p>
                      <p class="text-medium__garamond">FEB    </p>
                    </div>
                    <div class="box__date--width"> 
                      <hr class="hr__margin-bottom"/>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/calendar.svg#calen" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Fechas: </p></span>
                        <p class="x-small">3 de febrero de 2022</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/cash-money.svg#cash-money" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Precio:</p></span>
                        <p class="x-small">100€ por persona</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/location.svg#location" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Lugar: </p></span>
                        <p class="x-small"> Edificio BCC</p>
                      </div>
                      <hr class="hr__margin-top"/>
                    </div>
                  </div>
                  <div class="box__description padding__bottom-mobile-regular padding__top-x-small">                
                    <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.</p>
                  </div>
                  <div class="display__mobile display__none"><a class="btn__primary--small-nocolor" href="www">Quiero inscribirme</a></div>
                  <div class="display__desktop"><a class="btn__primary--medium-nocolor" href="www">Quiero inscribirme</a></div>
                </div>
              </div>
              <div class="padding__top-regular display__mobile display__none"><a class="btn__primary--small-color" href="www">Ver todos los eventos</a></div>
            </div>
            <div class="swiper-slide">
              <div class="box">
                <div>
                  <div> <span class="box__tag tag__primary">Etiqueta 01</span></div><img class="box__img--bloq2" src="../../src/images/img-noticias.jpg" alt=""/>
                </div>
                <div>
                  <div class="box__icon--tag"><img class="svg__icon--margin-bottom" src="../src/iconos/compartir.svg#compartir" type="img/svg"/><span class="tag__card--grey box__tag--space"> Evento</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 01</span><span class="tag__card--border-actualidad box__tag--space"> Etiqueta 02</span></div>
                  <h4 class="box__title primaryfont__bold">Titular del evento que ocupe dos líneas como máximo</h4>
                  <div class="box__date">
                    <div class="box__date--space">
                      <p class="text-large__garamond">23</p>
                      <p class="text-medium__garamond">FEB    </p>
                    </div>
                    <div class="box__date--width"> 
                      <hr class="hr__margin-bottom"/>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/calendar.svg#calen" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Fechas: </p></span>
                        <p class="x-small">3 de febrero de 2022</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/cash-money.svg#cash-money" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Precio:</p></span>
                        <p class="x-small">100€ por persona</p>
                      </div>
                      <div class="box__icon--date"><img class="svg__icon--margin" src="../src/iconos/location.svg#location" type="img/svg"/><span class="box__icon--date box__icon--date-home"> 
                          <p class="x-small">Lugar: </p></span>
                        <p class="x-small"> Edificio BCC</p>
                      </div>
                      <hr class="hr__margin-top"/>
                    </div>
                  </div>
                  <div class="box__description padding__bottom-mobile-regular padding__top-x-small">                
                    <p class="text-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.</p>
                  </div>
                  <div class="display__mobile display__none"><a class="btn__primary--small-nocolor" href="www">Quiero inscribirme</a></div>
                  <div class="display__desktop"><a class="btn__primary--medium-nocolor" href="www">Quiero inscribirme</a></div>
                </div>
              </div>
              <div class="padding__top-regular display__mobile display__none"><a class="btn__primary--small-color" href="www">Ver todos los eventos</a></div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </section>
    </main>
    <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
    <div> 
      <hr class="hr__margin-none"/>
    </div>
    <footer class="padding__bottom-xtra-large footer">
      <div class="footer__info"><img class="footer__logo padding__bottom-x-regular" src="../../src/images/logo-BCC-footer.png" alt=""/>
        <p class="x-small display__desktop">Paseo Juan Avelino Barriola, 101, </br>20009 Donostia-San Sebastián (Gipuzkoa) </br>Tel.: +34 943 574 500 </br>email: info@bculinary.com</p>
      </div>
      <div class="footer__column">
        <nav class="footer__menu">
          <ul class="footer__list"> 
            <li>
              <hr class="hr__margin display__mobile"/><a class="footer__item x-small primaryfont__bold" href="#">Área de prensa</a>
              <hr class="hr__margin display__mobile"/>
            </li>
            <li><a class="footer__item x-small primaryfont__bold" href="#">Trabaja con nosotros</a>
              <hr class="hr__margin display__mobile"/>
            </li>
            <li><a class="footer__item x-small primaryfont__bold" href="#">Contacto</a>
              <hr class="hr__margin display__mobile"/>
            </li>
            <li><a class="footer__item x-small primaryfont__bold" href="#">Perfil del contratante</a>
              <hr class="hr__margin display__mobile"/>
            </li>
          </ul>
        </nav>
        <div class="footer__copyright"> 
          <p class="footer__copyright--text x-small">Copyright © 2022 Basque Culinary Center. Todos los derechos reservados.</p>
          <p class="footer__copyright--text x-small">Política de privacidad  I  Uso de cookies  I  Condiciones de uso  I  Ventas y reembolsos  I  Avisos legales  I  Mapa del sitio</p>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="../js/swiper.js"></script>
    <script src="../js/menu.js"></script>
    <link link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600&amp;family=League+Spartan:wght@300;400;500;700;800&amp;display=swap" rel="stylesheet">
  </head>
  <body></body>
</html>