include ../components/menu/menu.pug
include ../components/layout/footer.pug
include ../components/column/component-target-info-event.pug
include ../components/column/component-img-left.pug
include ../components/column/component-noticia-principal.pug
include ../components/column/component-mobile-card-img.pug
include ../components/column/component-vertical-line.pug
include ../components/column/component-subtitle.pug
include ../components/column/component-subtitle-link.pug
include ../components/column/component-noticia-target.pug
include ../components/column/component-title-link.pug
include ../components/column/component-target-garamond-complete.pug
include ../components/column/component-column-icon.pug
include ../components/column/component-title.pug
include ../components/menu/menu-gradient.pug
include ../components/layout/head.pug
    block content
        main
            header
                //- menu
                div
                    +menu-gradient("gradient__innovation")
                    include ../components/menu/topbar.pug
                    +menu("")

            //- slide cabecera
            div.swiper__fullwidth.swiper2
                h1
                    .swiper-slide-current
                    div /
                    .swiper-slide-total
                div.swiper-wrapper
                    .swiper-slide.swiper-slide-board.swiper-slide-background
                        h3.primaryfont__bold Grado: Gastronomía y Artes culinarias.
                        h4 Inscripción abierta para el nuevo curso 2022-2023
                        a.btn__primary--large-nocolor-width(href="#") más información
                    .swiper-slide.swiper-slide-board.swiper-slide-background
                        h3.primaryfont__bold Grado: Gastronomía y Artes culinarias.
                        h4 Inscripción abierta para el nuevo curso 2022-2023
                        a.btn__primary--large-nocolor-width(href="#") más información

                .swiper-button-next
                .swiper-button-prev

        //-                             +component-target-garamond-complete("tag__primary", "box__icon--date-home", "", "display__mobile", "display__none", "")
        //-                     .swiper-pagination

        //-     //- nuestra agenda mobile
        //-     section.padding__bottom-xx-large.box__background.display__mobile

        //-                     div.swiper-slide
        //-                         +component-noticia-target("link__color-home", "tag__entusiastas", "box__tag--bloq2", "box__img--border", "display__desktop", "", "display__none")

        //-                 div.swiper-pagination
        //-             div.padding__top-small.display__mobile

        //-         +component-target-info-event("", "", "", "btn__primary--small-color", "btn__primary--medium-color-width", "box__icon--date-home", "display__desktop", "display__mobile", "display__none", "display__one")
        //- //- footer
        +footer("box__background")
    script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js")
    script(src="../js/swiper.js")
    script(src="../js/swiper2.js")
    script(src="../js/function.js")