<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <main> 
      <header>
        <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> COMPONENTES MENÚS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
        <div>
          <!-- menu gradient componente "menu-gradient"-->
          <div class="gradient__innovation">
            <p class="text-small gradient__text">Conoce los nuevos proyectos de<a class="primaryfont__bold" href="#"> BCC Innovation</a></p>
          </div>
          <!-- menu topbar componente "topbar"-->
          <div> 
            <nav class="topbar">
              <ul class="topbar__list">
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">ACCESOS</a>
                  <ul class="topbar__list--submenu">
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                  </ul>
                </li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">CONTACTO</a></li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">TIENDA BCC</a></li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">SÍGUENOS</a></li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">ES</a>
                  <ul class="topbar__list--submenu">
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">EN</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">FR</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">CA</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <!-- menu main componente "menu"-->
          <div>
            <nav class="menu">
              <input class="menu__checkbox" type="checkbox" id="menu__checkbox"/>
              <label class="menu__toggle" for="menu__checkbox"> <img class="hamburger" src="../../src/images/burger.png"/><img class="close" src="../../src/images/closed.png"/></label>
              <div class="menu__item--logo"><a class="menu__menu" href="#"><img class="menu__logo" src="../../src/images/logo-bcc.png" alt=""/></a></div>
              <ul class="menu__menu">
                <li class="menu__item">  <a class="menu__menu--link primaryfont__bold" href="#">Sobre BCC<img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Formación <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Innovación <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Empresas <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Iniciativas <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Restaurantes <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Actualidad <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item display__desktop"><a class="btn__primary--medium-color-menu display__desktop" href="asdsadsad">Encuentra tu formación</a></li>
              </ul>
            </nav>
          </div>
          <div class="padding padding__top-regular display__mobile display__none"><a class="btn__primary--small-color-menu" href="www" displayNone="display__none">Encuentra tu formación</a></div>
          <!-- migas de pan componente  "menu-section"-->
          <div class="display__desktop migas migas__neutral">
            <ul> 
              <li><a class="text-small migas__text-neutral" href="www">Home</a></li>
              <li><a class="text-small migas__text-neutral" href="www">Innovación</a></li>
              <li><a class="text-small migas__text-neutral" href="www">Líneas de investigación</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!--enlaces ancla-->
      <section class="media__margin padding__bottom-x-large content__center content__max">
        <div>
          <h1 class="padding__regular primaryfont__bold">Nuestros espacios</h1>
        </div>
        <div class="padding padding__bottom-regular">
          <p class="display__mobile text-medium"><strong>Lorem Ipsum is simply dummy text of the printing and typesetting</strong> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="media__margin content__center padding display__flex-tablet gap"><a class="textdecoration__none card__horizontal shadow" href="#basqueculinarycenter"> 
            <div class="card__horizontal card__color display__mobile"><img class="card__img--border card__img--border-corporate" src="https://unsplash.it/800/600?image=59" alt=""/>
              <div class="card__details"> 
                <p class="x-small primaryfont__bold">Grado: Gastronomía y Artes Culinarias</p>
              </div>
            </div></a><a class="textdecoration__none card__horizontal shadow" href="#lahuerta"> 
            <div class="card__horizontal card__color display__mobile"><img class="card__img--border card__img--border-huerta" src="https://unsplash.it/800/600?image=59" alt=""/>
              <div class="card__details"> 
                <p class="x-small primaryfont__bold">Grado: Gastronomía y Artes Culinarias</p>
              </div>
            </div></a><a class="textdecoration__none card__horizontal shadow" href="#labe"> 
            <div class="card__horizontal card__color display__mobile"><img class="card__img--border card__img--border-labe" src="https://unsplash.it/800/600?image=59" alt=""/>
              <div class="card__details"> 
                <p class="x-small primaryfont__bold">Grado: Gastronomía y Artes Culinarias</p>
              </div>
            </div></a></div>
      </section>
      <!-- section "Basque Culinary Center"-->
      <section class="media__margin content__center content__max" id="basqueculinarycenter">
        <div>
          <h3 class="padding__regular primaryfont__bold">Basque Culinary Center</h3>
        </div>
        <div class="padding grid__c8-c4">
          <div class="swiper3 mySwiper swiper3-nonepagination">
            <div class="margin__left swiper-wrapper">
              <div class="swiper-slide"><img src="../src/images/img-noticias.jpg" alt=""></div>
              <div class="swiper-slide"><img src="../src/images/img-noticias.jpg" alt=""></div>
              <div class="swiper-slide"><img src="../src/images/img-noticias.jpg" alt=""></div>
              <div class="swiper-slide"><img src="../src/images/img-noticias.jpg" alt=""></div>
              <div class="swiper-slide"><img src="../src/images/img-noticias.jpg" alt=""></div>
            </div>
          </div>
          <div>
            <p class="padding__bottom-regular text-medium"><strong>Un edificio integrado de forma respetuosa en su entorno.</strong> Proyecta una imagen rotunda, innovadora, sugerente y audaz. 15.000 metros cuadrados construidos en medio de un campus rodeado por el paisaje.</p>
            <p class="text-medium">Basque Culinary Center está situado en una zona elevada al sur de Donostia-San Sebastián llamada Miramón, dentro del Parque Tecnológico del mismo nombre.</p>
          </div>
        </div>
      </section>
      <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> ACCORDION >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
      <!-- ---------------------------------------->
      <!-- ACCORDION-->
      <!-- Aulas-->
      <section class="media__margin content__center padding padding__bottom-regular padding__top-regular accordion__section">
        <div class="accordion__item">
          <button class="accordion accordion__background active">Aulas</button>
          <div class="panel panel__background visible">
            <div class="padding__bottom-small grid__c2"><img class="padding__bottom-mobile-small border__radius" src="../../src/images/img-cabecera.jpg" alt="">
              <div class="box__content--justify">
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="padding__bottom-regular x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="padding__bottom-regular x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Talleres creativos-->
      <section class="media__margin content__center padding padding__bottom-regular accordion__section">
        <div class="accordion__item">
          <button class="accordion accordion__background">Talleres creativos</button>
          <div class="panel panel__background">
            <div class="padding__bottom-small grid__c2"><img class="padding__bottom-mobile-small border__radius" src="../../src/images/img-cabecera.jpg" alt="">
              <div class="box__content--justify">
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="padding__bottom-regular x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="padding__bottom-regular x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Laboratorios-->
      <section class="media__margin content__center padding padding__bottom-regular accordion__section">
        <div class="accordion__item">
          <button class="accordion accordion__background">Laboratorios</button>
          <div class="panel panel__background">
            <div class="padding__bottom-small grid__c2"><img class="padding__bottom-mobile-small border__radius" src="../../src/images/img-cabecera.jpg" alt="">
              <div class="box__content--justify">
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="padding__bottom-regular x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="padding__bottom-regular x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Restaurante-->
      <section class="media__margin content__center padding accordion__section">
        <div class="accordion__item">
          <button class="accordion accordion__background">Restaurante</button>
          <div class="panel panel__background">
            <div class="padding__bottom-small grid__c2"><img class="padding__bottom-mobile-small border__radius" src="../../src/images/img-cabecera.jpg" alt="">
              <div class="box__content--justify">
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="padding__bottom-regular x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="padding__bottom-regular x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- espacio ID "La Huerta"-->
      <section class="padding__bottom-xx-large" id="lahuerta"></section>
      <!-- Sección La Huerta-->
      <section class="padding media__margin content__center content__max">
        <div>
          <h3 class="padding__bottom-regular primaryfont__bold">La Huerta</h3>
        </div>
        <div class="grid__c2 gap">
          <div class="padding__bottom-mobile-small"><img class="border__radius" src="../../src/images/img-noticias.jpg" alt=""></div>
          <div class="box__content--justify">
            <p class="padding__bottom-mobile-small text-medium">En este espacio, cercano al museo Chillida Leku, Leire Echaide es la encargada del Proyecto Huerta, que acercará a los estudiantes a un mundo que se mueve en unas claves diferentes a las de los fogones, pues en el <strong>BCC quieren que la experiencia del alumnado sea "más completa", con una "visión de 360 grados"</strong> de la gastronomía.</p>
            <!-- button display__desktop-->
            <div class="padding__top-regular display__desktop"><a class="btn__primary--medium-nocolor-width" href="www">Quiero saber más</a></div>
            <!-- button display__mobile-->
            <div class="display__mobile"><a class="btn__primary--small-nocolor" href="www">Quiero saber más</a></div>
          </div>
        </div>
      </section>
      <!-- espacio ID "LABe"-->
      <section class="padding__bottom-xx-large" id="labe"></section>
      <!-- Sección LABe-->
      <section class="padding padding__bottom-regular media__margin content__center content__max">
        <div>
          <h3 class="padding__bottom-regular primaryfont__bold">LABe</h3>
        </div>
        <div class="grid__c2 gap">
          <div class="box__content--justify">
            <p class="padding__bottom-mobile-small text-medium"><strong>Un ecosistema gastronómico completo para co-crear, experimentar e impulsar el Futuro de todo el sector.</strong> Compuesto por un living lab, un HUB de startups y empresas, y un entorno donde potenciar la colaboración entre los agentes clave de la gastronomía.</p>
            <!-- button display__desktop-->
            <div class="padding__top-regular display__desktop"><a class="btn__primary--medium-nocolor-width" href="www">Quiero saber más</a></div>
          </div>
          <div><img class="border__radius" src="../../src/images/img-noticias.jpg" alt=""></div>
        </div>
      </section>
      <!-- ACCORDION DISPLAY__MOBILE-->
      <!-- Espacio 01-->
      <section class="media__margin content__center padding padding__bottom-regular accordion__section">
        <div class="accordion__item">
          <button class="accordion accordion__background active">Espacio 01</button>
          <div class="panel panel__background visible">
            <div class="padding__bottom-small grid__c2"><img class="padding__bottom-mobile-small border__radius" src="../../src/images/img-cabecera.jpg" alt="">
              <div class="box__content--justify">
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="padding__bottom-regular x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="padding__bottom-regular x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Espacio 02-->
      <section class="media__margin content__center padding padding__bottom-x-large accordion__section">
        <div class="accordion__item">
          <button class="accordion accordion__background">Espacio 02</button>
          <div class="panel panel__background">
            <div class="padding__bottom-small grid__c2"><img class="padding__bottom-mobile-small border__radius" src="../../src/images/img-cabecera.jpg" alt="">
              <div class="box__content--justify">
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="padding__bottom-regular x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="padding__bottom-regular x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                <p class="padding__bottom-xx-small text-small primaryfont__bold">Titular del bloque</p>
                <p class="x-small">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- button display__mobile-->
      <div class="padding padding__bottom-xtra-large media__margin content__center content__max display__mobile"><a class="btn__primary--small-nocolor" href="www">Quiero saber más</a></div>
    </main>
    <div> 
      <hr class="hr__margin-none"/>
    </div>
    <footer class="padding__bottom-xtra-large footer box__background--white">
      <div class="footer__info"><img class="footer__logo padding__bottom-x-regular" src="../../src/images/logo-BCC-footer.png" alt=""/>
        <p class="x-small display__desktop">Paseo Juan Avelino Barriola, 101, </br>20009 Donostia-San Sebastián (Gipuzkoa) </br>Tel.: +34 943 574 500 </br>email: info@bculinary.com</p>
      </div>
      <div class="footer__column">
        <nav class="footer__menu">
          <ul class="footer__list"> 
            <li>
              <hr class="hr__margin display__mobile"/><a class="footer__item x-small primaryfont__bold" href="#">Área de prensa</a>
              <hr class="hr__margin display__mobile"/>
            </li>
            <li><a class="footer__item x-small primaryfont__bold" href="#">Trabaja con nosotros</a>
              <hr class="hr__margin display__mobile"/>
            </li>
            <li><a class="footer__item x-small primaryfont__bold" href="#">Contacto</a>
              <hr class="hr__margin display__mobile"/>
            </li>
            <li><a class="footer__item x-small primaryfont__bold" href="#">Perfil del contratante</a>
              <hr class="hr__margin display__mobile"/>
            </li>
          </ul>
        </nav>
        <div class="footer__copyright"> 
          <p class="footer__copyright--text x-small">Copyright © 2022 Basque Culinary Center. Todos los derechos reservados.</p>
          <p class="footer__copyright--text x-small">Política de privacidad  I  Uso de cookies  I  Condiciones de uso  I  Ventas y reembolsos  I  Avisos legales  I  Mapa del sitio</p>
        </div>
      </div>
    </footer>
    <script src="../js/menu.js"> </script>
    <script src="../js/accordion.js"> </script>
    <link link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600&amp;family=League+Spartan:wght@300;400;500;700;800&amp;display=swap" rel="stylesheet">
  </head>
  <body></body>
</html>