<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <main> 
      <header>
        <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> COMPONENTES MENÚS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
        <div>
          <!-- menu gradient componente "menu-gradient"-->
          <div class="gradient__innovation">
            <p class="text-small gradient__text">Conoce los nuevos proyectos de<a class="primaryfont__bold" href="#"> BCC Innovation</a></p>
          </div>
          <!-- menu topbar componente "topbar"-->
          <div> 
            <nav class="topbar">
              <ul class="topbar__list">
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">ACCESOS</a>
                  <ul class="topbar__list--submenu">
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site</a></li>
                  </ul>
                </li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">CONTACTO</a></li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">TIENDA BCC</a></li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">SÍGUENOS</a></li>
                <li class="topbar__list--item"><a class="topbar__list--item--link" href="#">ES</a>
                  <ul class="topbar__list--submenu">
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">EN</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">FR</a></li>
                    <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">CA</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          <!-- menu main componente "menu"-->
          <div>
            <nav class="menu">
              <input class="menu__checkbox" type="checkbox" id="menu__checkbox"/>
              <label class="menu__toggle" for="menu__checkbox"> <img class="hamburger" src="../../src/images/burger.png"/><img class="close" src="../../src/images/closed.png"/></label>
              <div class="menu__item--logo"><a class="menu__menu" href="#"><img class="menu__logo" src="../../src/images/logo-bcc.png" alt=""/></a></div>
              <ul class="menu__menu">
                <li class="menu__item">  <a class="menu__menu--link primaryfont__bold" href="#">Sobre BCC<img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Formación <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Innovación <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Empresas <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Iniciativas <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Restaurantes <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item">  <a class="menu__menu--link" href="#">Actualidad <img class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></li>
                <li class="menu__item display__desktop"><a class="btn__primary--medium-color-menu display__desktop" href="asdsadsad">Encuentra tu formación</a></li>
              </ul>
            </nav>
          </div>
          <div class="padding padding__top-regular display__mobile display__none"><a class="btn__primary--small-color-menu" href="www" displayNone="display__none">Encuentra tu formación</a></div>
          <!-- migas de pan componente  "menu-section"-->
          <div class="display__desktop migas migas__neutral">
            <ul> 
              <li><a class="text-small migas__text-neutral" href="www">Home</a></li>
              <li><a class="text-small migas__text-neutral" href="www">Innovación</a></li>
              <li><a class="text-small migas__text-neutral" href="www">Líneas de investigación</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CABECERA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
      <section class="media__margin padding__bottom-x-large content__center content__max">
        <div>
          <h2 class="padding__regular primaryfont__bold">Quienes somos</h2>
        </div>
        <div class="padding grid__c2">
          <div><img class="border__radius" src="../src/images/img-noticias.jpg" alt=""></div>
          <div class="padding__bottom-regular">
            <p class="text-medium">Basque Culinary Center conforma un ecosistema único donde formación, innovación, investigación y emprendimiento coexisten con el objetivo de desarrollar e impulsar la gastronomía, asumida esta como el conocimiento razonado sobre lo que comemos y cómo lo hacemos. Situada desde 2011 en Donostia - San Sebastián, es una institución pionera conformada por la Facultad de Ciencias Gastronómicas y por BCC Innovation, el Centro Tecnológico en Gastronomía.</p>
          </div>
        </div>
      </section>
      <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CONTENT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
      <!-- misión, visión, valores-->
      <section class="media__margin padding__bottom-large content__center content__max">    
        <div class="padding__bottom-regular">
          <h3 class="padding__regular primaryfont__bold">Misión, visión y valores</h3>
          <p class="padding text-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quae ratione perferendis, error quisquam hic eveniet, numquam quod corporis id repellat consequatur inventore quaerat sit totam exercitationem. Natus, explicabo porro?</p>
        </div>
        <div class="padding grid__c2">
          <div><img class="border__radius" src="../src/images/img-noticias.jpg" alt=""></div>
          <div class="padding__bottom-regular box__content--justify">
            <div>
              <h4 class="primaryfont__bold">Titular de misión</h4>
              <p class="text-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div>
              <h4 class="primaryfont__bold">Titular de misión</h4>
              <p class="text-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- bullet-->
      <section class="media__margin padding padding__bottom-large content__center content__max">
        <ul class="bullet">
          <li class="bullet__line-home">
            <h4 class="bullet__title primaryfont__bold">Bullet título</h4>
            <p class="bullet__description text-small">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit aliquam rerum beatae odit vitae perspiciatis, numquam harum quae debitis similique ducimus. Pariatur cum similique error deleniti voluptatem voluptate quia corrupti?</p>
          </li>
          <li class="bullet__line-home">
            <h4 class="bullet__title primaryfont__bold">Bullet título</h4>
            <p class="bullet__description text-small">Lorem ipsum dolor sit, amet consectetur adipisicing eli(class= lineColor)t. Suscipit aliquam rerum beatae odit vitae perspiciatis, numquam harum quae debitis similique ducimus. Pariatur cum similique error deleniti voluptatem voluptate quia corrupti?</p>
          </li>
          <li class="bullet__line-home">
            <h4 class="bullet__title primaryfont__bold">Bullet título</h4>
            <p class="bullet__description text-small">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit aliquam rerum beatae odit vitae perspiciatis, numquam harum quae debitis similique ducimus. Pariatur cum similique error deleniti voluptatem voluptate quia corrupti?</p>
          </li>
        </ul>
      </section>
    </main>
    <link link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600&amp;family=League+Spartan:wght@300;400;500;700;800&amp;display=swap" rel="stylesheet">
  </head>
  <body></body>
</html>