include ../components/column/component-noticia-target-actualidad.pug
include ../components/column/component-noticia-principal-actualidad.pug
include ../components/menu/menu-gradient.pug
include ../components/menu/menu-section.pug
include ../components/menu/menu.pug
include ../components/menu/menu-index.pug
include ../components/layout/footer.pug
include ../components/layout/head.pug
    block content
        main 
            header
                // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> COMPONENTES MENÚS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                div
                    // menu gradient componente "menu-gradient"
                    +menu-gradient("gradient__innovation")
                    // menu topbar componente "topbar"
                    include ../components/menu/topbar.pug
                    // menu main componente "menu"
                    +menu("display__none")
                    // migas de pan componente  "menu-section"
                    +menu-section("migas__neutral", "migas__neutral", "migas__text-neutral")
                    //- +menu-index()
            
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CABECERA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section.media__margin.padding__bottom-regular.content__center.content__max
                div
                    h1.padding__regular.primaryfont__bold Gastronomia 360º
            
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FILTROS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section
                // componente filter-agenda
                div.media__margin.padding.content__center.content__max
                    div.padding__bottom-small
                        h4.filter__text.primaryfont__bold Filtrar por:
                        a.filter__tag--item.tag__empresas-dark(href="www") Todos
                        a.filter__tag--item.tag__empresas(href="www") Entrevistas
                        a.filter__tag--item.tag__empresas(href="www") Sobremesas
                        a.filter__tag--item.tag__empresas(href="www") Opinión
                        a.filter__tag--item.tag__empresas(href="www") Publicaciones
                    // form
                    form(class="form" name="registration-form" id="registrationForm" method="POST" action="" role="form")
                        section.padding__bottom-x-small
                            .form__inputs.gap__form
                                .form-floating-one.gap__regular
                                    label(for="opciones")
                                    select(name="opciones" class="form-control") 
                                        option(selected disabled) Áreas
                                        option(value="opcion 1") Área 01
                                        option(value="opcion 2") Área 02
                                        option(value="opcion 3") Área 03
                                        option(value="opcion 2") Área 04
                                // botton display__desktop
                                .submit.padding__bottom-regular.display__desktop
                                    button.btn__primary--medium-nocolor Limpiar
                                .submit.display__desktop
                                    button.btn__primary--medium-color Buscar    
                                // botton display__mobile
                                .submit.padding__bottom-regular.display__mobile
                                    button.btn__primary--small-nocolor Limpiar
                                .submit.display__mobile
                                    button.btn__primary--small-color Buscar    
            
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GASTRGONOMÍA 360º >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            // noticias principal
            section.padding__top-regular.padding__bottom-x-large
                div.media__margin.padding__regular.content__center.content__max
                    h3.primaryfont__bold Gastronomía 360º
                // noticia principal
                // component-noticia-principal-actualidad
                +component-noticia-principal-actualidad("box__content--justify", "link__color-home", "color__text", "tag__card--grey", "", "box__img--border-rightangle", "", "display__one")
            
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 4 COLUMNAS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section.box__background
                hr.hr__primary.display__desktop
                div.media__margin.padding.padding__topbottom-desktop-large.content__center.content__max.display__flex.gap 
                    // target
                    div
                        hr.hr__primary.hr__margin-top.hr__margin-bottom.display__mobile
                        span.tag__card--grey.box__tag--space Etiqueta 01
                        p.padding__topbottom-x-small.text-medium.primaryfont__bold Titular de la noticia que puede ocupar hasta tres líneas como máximo para destacar
                    // target
                    div
                        hr.hr__primary.hr__margin-top.hr__margin-bottom.display__mobile
                        span.tag__card--grey.box__tag--space Etiqueta 01
                        p.padding__topbottom-x-small.text-medium.primaryfont__bold Titular de la noticia que puede ocupar hasta tres líneas como máximo para destacar
                    // target
                    div
                        hr.hr__primary.hr__margin-top.hr__margin-bottom.display__mobile
                        span.tag__card--grey.box__tag--space Etiqueta 01
                        p.padding__topbottom-x-small.text-medium.primaryfont__bold Titular de la noticia que puede ocupar hasta tres líneas como máximo para destacar
                        p.padding__bottom-x-small.text-small.display__mobile Printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    hr.hr__primary.hr__margin-top.hr__margin-bottom.display__mobile
                    // target
                    div.display__desktop
                        hr.hr__primary.hr__margin-top.hr__margin-bottom.display__mobile
                        span.tag__card--grey.box__tag--space Etiqueta 01
                        p.padding__topbottom-x-small.text-medium.primaryfont__bold Titular de la noticia que puede ocupar hasta tres líneas como máximo para destacar      
                hr.hr__primary.display__desktop
                    
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 2 COLUMNAS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>          
            section.padding__top-desktop-xx-large
                div.media__margin.padding.padding__bottom-x-large.content__center.content__max.display__flex.gap
                    div.padding__bottom-mobile-small
                        div
                            div
                                span.tag__card--grey.box__tag--bloq2 Etiqueta 01
                                img(class="box__img--bloq2 display__desktop box__img--border-rightangle" src="../../src/images/img-noticias.jpg", alt="")
                            div
                                h4.box__title.primaryfont__bold Julen Baz: “A nuestra generación le toca reparar algunas cosas que no se hicieron bien”
                                p.x-small.padding__bottom-xx-small Nombre y apellidos
                                p.box__description.text-small La cocinera mexicana, nueva integrante del Consejo Internacional de Basque Culinary Center, sigue apostando por lo cercano y lo pequeño y por la gran biodiversidad de su país desde Rosetta, Lardo y Café NIn. Lardo y Café NIn.
                                div.box__link.display__desktop
                                    a.link__color-home.display__desktop(class="x-small" href="#") Leer más
                                        img(class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
                    div
                        div
                            div
                                hr.hr__primary.hr__margin-top.display__mobile
                                span.tag__card--grey.box__tag--bloq2 Etiqueta 01
                                img(class="box__img--bloq2 display__desktop box__img--border-rightangle" src="../../src/images/img-noticias.jpg", alt="")
                            div
                                h4.box__title.primaryfont__bold Julen Baz: “A nuestra generación le toca reparar algunas cosas que no se hicieron bien”
                                p.x-small.padding__bottom-xx-small Nombre y apellidos
                                p.box__description.text-small La cocinera mexicana, nueva integrante del Consejo Internacional de Basque Culinary Center, sigue apostando por lo cercano y lo pequeño y por la gran biodiversidad de su país desde Rosetta, Lardo y Café NIn. Lardo y Café NIn.
                                div.box__link.display__desktop
                                    a.link__color-home.display__desktop(class="x-small" href="#") Leer más
                                        img(class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
                        div.display__mobile
                            img(class="box__img--bloq2" src="../../src/images/img-noticias.jpg", alt="")
            
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> 4 COLUMNAS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section.padding__bottom-large
                hr.hr__primary.display__desktop
                div.media__margin.padding.padding__topbottom-desktop-large.content__center.content__max.display__flex.gap 
                    // target
                    div
                        hr.hr__primary.hr__margin-top.hr__margin-bottom.display__mobile
                        span.tag__card--grey.box__tag--space Etiqueta 01
                        p.padding__topbottom-x-small.text-medium.primaryfont__bold Titular de la noticia que puede ocupar hasta tres líneas como máximo para destacar
                        p.padding__bottom-x-small.text-small.display__desktop Printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    // target
                    div
                        hr.hr__primary.hr__margin-top.hr__margin-bottom.display__mobile
                        span.tag__card--grey.box__tag--space Etiqueta 01
                        p.padding__topbottom-x-small.text-medium.primaryfont__bold Titular de la noticia que puede ocupar hasta tres líneas como máximo para destacar
                        p.padding__bottom-x-small.text-small.display__desktop Printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    // target
                    div
                        hr.hr__primary.hr__margin-top.hr__margin-bottom.display__mobile
                        span.tag__card--grey.box__tag--space Etiqueta 01
                        p.padding__topbottom-x-small.text-medium.primaryfont__bold Titular de la noticia que puede ocupar hasta tres líneas como máximo para destacar
                        p.padding__bottom-x-small.text-small.display__desktop Printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    // target
                    div.display__desktop
                        hr.hr__primary.hr__margin-top.hr__margin-bottom.display__mobile
                        span.tag__card--grey.box__tag--space Etiqueta 01
                        p.padding__topbottom-x-small.text-medium.primaryfont__bold Titular de la noticia que puede ocupar hasta tres líneas como máximo para destacar
                        p.padding__bottom-x-small.text-small Printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                hr.hr__primary.display__desktop
            
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GASTRGONOMÍA 360º >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            // noticias principal
            section.padding__bottom-xx-large
                div.media__margin.padding__regular.content__center.content__max
                    h3.primaryfont__bold Gastronomía 360º
                // noticia principal
                // component-noticia-principal-actualidad
                +component-noticia-principal-actualidad("box__content--justify", "link__color-home", "color__text", "tag__card--grey", "", "box__img--border-rightangle", "", "display__one")
            
            // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> PÁGINACIÓN >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
            section
                h2.padding__topbottom-xtra-large Componente paginación
        
        // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
        +footer()     
    
    script(src="../js/onload.js")
    script(src="../js/menu.js") 
    