<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600&amp;family=League+Spartan:wght@300;400;500;700;800&amp;display=swap" rel="stylesheet">
  </head>
  <body> 
    <div class="swiper mySwiper box__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="card__line card__line--none">
            <hr class="display__desktop display__none"/>
            <div class="card__details--margin"><img class="card__img--mobile" src="https://unsplash.it/800/600?image=59" alt=""/></div>
            <div class="card__details--margin">
              <p class="text-small card__title">Cocina</p>
              <p class="text-small card__description"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              <div class="box__link display__none"><a class="link x-small" href="#">Saber más<img class="svg__icon" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card__line card__line--none">
            <hr class="display__desktop display__none"/>
            <div class="card__details--margin"><img class="card__img--mobile" src="https://unsplash.it/800/600?image=59" alt=""/></div>
            <div class="card__details--margin">
              <p class="text-small card__title">Cocina</p>
              <p class="text-small card__description"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              <div class="box__link display__none"><a class="link x-small" href="#">Saber más<img class="svg__icon" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card__line card__line--none">
            <hr class="display__desktop display__none"/>
            <div class="card__details--margin"><img class="card__img--mobile" src="https://unsplash.it/800/600?image=59" alt=""/></div>
            <div class="card__details--margin">
              <p class="text-small card__title">Cocina</p>
              <p class="text-small card__description"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              <div class="box__link display__none"><a class="link x-small" href="#">Saber más<img class="svg__icon" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card__line card__line--none">
            <hr class="display__desktop display__none"/>
            <div class="card__details--margin"><img class="card__img--mobile" src="https://unsplash.it/800/600?image=59" alt=""/></div>
            <div class="card__details--margin">
              <p class="text-small card__title">Cocina</p>
              <p class="text-small card__description"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              <div class="box__link display__none"><a class="link x-small" href="#">Saber más<img class="svg__icon" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card__line card__line--none">
            <hr class="display__desktop display__none"/>
            <div class="card__details--margin"><img class="card__img--mobile" src="https://unsplash.it/800/600?image=59" alt=""/></div>
            <div class="card__details--margin">
              <p class="text-small card__title">Cocina</p>
              <p class="text-small card__description"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              <div class="box__link display__none"><a class="link x-small" href="#">Saber más<img class="svg__icon" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card__line card__line--none">
            <hr class="display__desktop display__none"/>
            <div class="card__details--margin"><img class="card__img--mobile" src="https://unsplash.it/800/600?image=59" alt=""/></div>
            <div class="card__details--margin">
              <p class="text-small card__title">Cocina</p>
              <p class="text-small card__description"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              <div class="box__link display__none"><a class="link x-small" href="#">Saber más<img class="svg__icon" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card__line card__line--none">
            <hr class="display__desktop display__none"/>
            <div class="card__details--margin"><img class="card__img--mobile" src="https://unsplash.it/800/600?image=59" alt=""/></div>
            <div class="card__details--margin">
              <p class="text-small card__title">Cocina</p>
              <p class="text-small card__description"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              <div class="box__link display__none"><a class="link x-small" href="#">Saber más<img class="svg__icon" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card__line card__line--none">
            <hr class="display__desktop display__none"/>
            <div class="card__details--margin"><img class="card__img--mobile" src="https://unsplash.it/800/600?image=59" alt=""/></div>
            <div class="card__details--margin">
              <p class="text-small card__title">Cocina</p>
              <p class="text-small card__description"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              <div class="box__link display__none"><a class="link x-small" href="#">Saber más<img class="svg__icon" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="card__line card__line--none">
            <hr class="display__desktop display__none"/>
            <div class="card__details--margin"><img class="card__img--mobile" src="https://unsplash.it/800/600?image=59" alt=""/></div>
            <div class="card__details--margin">
              <p class="text-small card__title">Cocina</p>
              <p class="text-small card__description"> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              <div class="box__link display__none"><a class="link x-small" href="#">Saber más<img class="svg__icon" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg"/></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="../js/swiper.js"></script>
  </body>
</html>