doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="./node_modules/swiper/swiper-bundle.min.css")
        link(link rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600&family=League+Spartan:wght@300;400;500;700;800&display=swap" rel="stylesheet")
        
    body 
        block content
            //- <!-- Slider main container -->
            .swiper    
                //- <!-- Additional required wrapper -->
                div.swiper-wrapper
                    //- <!-- Slides -->
                    .swiper-slide Slide 1 hoasdksadsadkjasdkjsa
                    .swiper-slide Slide 2jkhkjh
                    .swiper-slide Slide 3
                    //- <!-- If we need pagination -->
                    .swiper-pagination 
  
        script(src="../node_modules/swiper/swiper-bundle.min.js")
        script(src="../js/swiper.js")