<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600&amp;family=League+Spartan:wght@300;400;500;700;800&amp;display=swap" rel="stylesheet">
  </head>
  <body> 
    <div class="swiper__fullwidth swiper2">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide-board swiper-slide-background">
          <h1>1/02</h1>
          <h3 class="primaryfont__bold">Grado: Gastronomía y Artes culinarias.</h3>
          <h4>Inscripción abierta para el nuevo curso 2022-2023</h4><a class="btn__primary--large-nocolor-width" href="#">más información</a>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="../js/swiper.js"></script>
    <script src="../js/swiper2.js"></script>
  </body>
</html>