include ../components/column/component-target-garamond-complete.pug
include ../components/column/component-title-link.pug
include ../components/layout/head.pug
        block content
                section.padding.padding__bottom-xx-large.box__background
                    +component-title-link("", "")
                    //- div.gap.display__flex.content__center.content__max   
                    div.swiper.mySwiper.display__desktop.box__swiper
                        div.swiper-wrapper
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            div.swiper-slide
                                +component-target-garamond-complete("box__icon--date-home", "", "display__mobile", "display__none", "")
                            
                        div.swiper-pagination
            
        script(src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js")
        script(src="../js/swiper.js")
