mixin component-column-icon()
    div.padding.padding__bottom-x-large.column__desktop   
        div.column
            div.column__icon.display__mobile
                svg()
                    use(xlink:href="../../src/iconos/icon-prestigio-internacional.svg#icon-investigacion")
            div
                h3.primaryfont__bold.column__title Breve titular en dos líneas como máximo
                p.text-medium 
                    span.column__text--icon.text-medium  Adquiere competencias de diseño y desarrollo de modelos de negocio, así como propuestas de valor, innovadoras y competitivas 
                    | que sean coherentes con la Visión, Misión y Valores de la empresa, sus Unidades Estratégicas de Negocio y los patrones de consumo, presentes y futuros, de los clientes.