mixin component-mobile-card-img(colorGrado="card__color-grado", colorMaster="card__color-master", colorDoctorado="card__color-doctorado", colorFormacion="card__color-formacion", colorEntusiastas="card__color-entusiastas")
    div.padding.display__mobile.center__content
        div.card.card__color(class= colorGrado)(class= colorMaster)(class= colorDoctorado)(class= colorFormacion)(class= colorEntusiastas)
                    img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
                    .card__details-formacion 
                        p.text-small.primaryfont__bold Grado: Gastronomía y Artes Culinarias
    