mixin component-title(colorBackground="box__background--innovation", displayNone="display__none")
    section.padding.padding__top-x-large(class= colorBackground)
        div.content__max.content__center
            p.text-large(class= displayNone) Actualidad
            h1.primaryfont__bold Conoce nuestra agenda
