mixin component-img-left()
    div.padding__bottom-x-regular.grid__c2.content__center.content__max
        div.padding__top-x-regular
            p.padding__bottom-x-regular.text-medium Desde nuestra creación, en septiembre 2011, trabajamos para impulsar la gastronomía como palanca de desarrollo socioeconómico a través de la Facultad de Ciencias Gastronómicas y el Centro de Investigación e innovación. Desarrollamos también numerosas actividades de promoción.
            p.padding__bottom-xx-large.text-medium Actualmente contamos con la colaboración de más de 40 empresas del sector de la Alimentación y Bebidas, empresas de diversos perfiles y tamaños, y gracias a las mismas está siendo posible la consecución de los objetivos de nuestra fundación.
            div.padding__bottom-x-regular.display__desktop
                a.btn__primary--large-color-width(href="asjdsad")
                    p.text-small Acceder a empresas
            div.padding__bottom-x-regular.display__desktop 
                a.btn__primary--large-nocolor-width(href="asjdsad")
                    p.text-small Formas de colaboración
        div
            img(class="box__img" src="../../src/images/foto.jpg", alt="")
        
