mixin component-noticia-target(tag="box__tag", tagBloq2="box__tag--bloq2", displayDesktop="display__desktop", displayNone="display__none")
    div
        div
            span.tag__entusiastas(class= tag)(class= tagBloq2) Etiqueta 01
            img(class="box__img--bloq2" src="../../src/images/img-noticias.jpg", alt="")(class= displayDesktop)
        h4.box__title.primaryfont__bold Pablo Rivero: una ganadería que imite a la naturaleza
        p.box__fecha.display__desktop.text-medium 01/01/2022
        p.box__description.text-small El chef de la parrilla Don Julio de Buenos Aires desgranó en el encuentro Haragi los potenciales beneficios de la ganadería regenerativa y defendió la nobleza de un producto que hoy está en el punto de mira: la carne.
        div.box__link.display__desktop
            a(class="link x-small" href="#") Leer más
                svg( 
                    class="svg__icon", 
                    )
                        use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")
