mixin component-mobile-card-img(colorBackground="card__color-grado")
    div.padding.display__mobile.center__content
        div.card.card__color(class= colorBackground)
                    img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
                    .card__details-formacion 
                        p.text-small.primaryfont__bold Grado: Gastronomía y Artes Culinarias
    