mixin component-noticia-principal(colorBackground="box__background--innovation", borderBottom= "box__img--border", displayNone="display_none", displayOne="display__one")
    section.padding(class= colorBackground)
        div.box__principal.content__center.content__max
            div
                span.tag__primary.box__tag(class= displayOne) Etiqueta 01
                img(class="box__img" src="../../src/images/img-noticias.jpg", alt="")(class= borderBottom)
            div.box__content
                h3.box__title.primaryfont__bold(class= displayOne) Toni Segarra: «No es momento para el marketing».
                p.display__desktop.x-small(class= displayOne) 01/01/2022
                p.box__description.text-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non.
                a(class="link text-small box__link display__desktop" href="#")(class= displayOne) Leer más 
                    img(class="svg__icon" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
                div.display__desktop(class= displayNone)
                    a.btn__primary--medium-color(href="www") Acceder a la sección
            