mixin component-target-garamond-complete(colorDate="box__icon--date-home", displayDesktop="display__desktop", displayMobile="display__mobile", displayNone="display__none", displayOne="display__one")
    div.box
        div
            div(class= displayDesktop) 
                span.tag__innovation.box__tag Innovación
            img(class="box__img--bloq2" src="../../src/images/img-noticias.jpg", alt="")(class= displayDesktop)
        div.box__icon--tag
            svg( class="svg__icon--date"
            )(class= displayDesktop)
                use(xlink:href="../../src/iconos/share-back.svg#share-back")
            span.tag__card--grey.box__tag--space  Presencial
            span.tag__card--border.box__tag--space  Incripción abierta
        h4.box__title.primaryfont__bold Nueva edición Foro Internacional de Emprendedores
        div.box__date
            div.box__date--space
                p.text-large__garamond 23
                p.text-medium__garamond FEB    
            div.box__date--width 
                hr
                div.box__icon--date
                    svg( 
                class="svg__icon--margin", 
                    )
                        use(xlink:href="../../src/iconos/calendar.svg#calen")
                    span.box__icon--date(class= colorDate) 
                        p.text-smallFecha de publicación: 
                    p.text-small  04/02/2022

                div.box__icon--date
                    svg( 
                class="svg__icon--margin", 
                    )
                        use(xlink:href="../../src/iconos/watch.svg#watch")
                    span.box__icon--date(class= colorDate) 
                        p.text-small Horario: 
                    p.text-small  100€

                div.box__icon--date
                    svg( 
                class="svg__icon--margin", 
                    )
                        use(xlink:href="../../src/iconos/users.svg#users")
                    span.box__icon--date(class= colorDate) 
                        p.text-small Autor: 
                    p.text-small  BCC Innovation
                hr
        div.box__description                  
            p.text-small El chef de la parrilla Don Julio de Buenos Aires desgranó en el encuentro Haragi los potenciales beneficios de la ganadería regenerativa y defendió la nobleza de un producto que hoy está en el punto de mira: la carne.

        div.display__mobile(class= displayNone)
            a.btn__primary--small-nocolor(href="www.hola.com") Quiero inscribirme
        div.display__desktop
            a.btn__primary--large-nocolor(href="que tal") Quiero inscribirme
    div.padding__top-regular(class= displayMobile)(class= displayNone)
        a.btn__primary--small-color(href="que tal") Ver todos los eventos