mixin component-subtitle-link(backgroundColor="box__background", displayNone="display__none")
            div.title__link.content__center.content__max(class= backgroundColor)
                div
                    h3.primaryfont__bold  Apartado sección
                div(class= displayNone)
                    a(class="link text-small display__desktop" href="#") LINK APARTADO
                        img(class="svg__icon" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
