mixin component-icon-logo(displayMobile="display__mobile", displayDesktop="display__desktop")
    div.padding.padding__bottom-large   
        div
            img(class="padding__bottom-regular" src="../src/images/cabecera-action.png" type="img")
            h3.primaryfont__bold.column__title Lorem ipsum dolor 
            p.text-small.padding__bottom-regular 
                span.text-small.primaryfont__medium  Lorem ipsum dolor sit amet, 
                a.primaryfont__medium.column__text--action(href="www") consectetur adipiscing
                |  elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.
            p.text-small.padding__bottom-regular Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elit metus, consequat id nisi vel, cursus sagittis eros. Mauris a sodales mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            img(class="display__mobile padding__bottom-regular" src="../src/images/foto.jpg" type="img/svg")
        //- Button mobile
        div(class= displayMobile)
            a.btn__primary--small-nocolor(href="www") Ir a la página
        //- Button desktop
        div(class= displayDesktop)
            a.btn__primary--medium-color-width(href="www")  Ir a la página