mixin component-noticia-target-actualidad(linkColor= "link__color-home", tagColor="tag__master", tagBloq2="box__tag--bloq2", borderBottom="box__img--border", displayDesktop="display__desktop", displayMobile="display__mobile", displayNone="display__none", displayOne="display__one")
    div.padding__bottom-large
        div
            div
                hr.hr__margin-top.display__mobile
                span(class= tagColor)(class= tagBloq2) Etiqueta 01
                img(class="box__img--bloq2" src="../../src/images/img-noticias.jpg", alt="")(class= displayDesktop)(class= borderBottom)
            div
                h4.box__title.primaryfont__bold Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Nunc egestas blandit malesuada.
                p.x-small.padding__bottom-xx-small.box__color-home.display__mobile(class= displayOne)  Redacción BCC
                p.x-small.padding__bottom-xx-small(class= displayNone) Nombre y apellidos
                p.box__description.text-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat, nisi dui pharetra nibh, eu porttitor dolor odio sit amet felis. 
                div.box__link.display__desktop
                    a(class="x-small" href="#")(class= linkColor)(class= displayDesktop) Leer más
                        img(class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
        div.display__mobile
            img(class="box__img--bloq2" src="../../src/images/img-noticias.jpg", alt="")(class= displayOne)
    