mixin component-vertical-line(linkColor= "link__color-home", cardDetails= "card__details", lineStyle= "card__line--none", displayMobile="display__mobile", displayDesktop="display__desktop",  displayNone="display__none", displayOne="display__one")
    div(class = lineStyle)
        hr(class= displayMobile)(class= displayDesktop)(class= displayNone)
        div(class= displayOne)(class= cardDetails)
            img(class="card__img--mobile" src="https://unsplash.it/800/600?image=59", alt="")
        div(class= cardDetails)
            p.text-small.card__title.primaryfont__medium Sección
            p.text-small.card__description  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non.
            div.box__link(class= displayNone)
                a(class="x-small" href="#")(class= linkColor) Saber más
                    img(class="svg__icon" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")