mixin component-vertical-line(classNone="display__none", classOne="display__one")
    div.card__line
        hr.display__mobile
        div.card__details--margin(class= classOne)
            img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
        div.card__details--margin
            p.text-medium.card__title--color.primaryfont__bold Cocina
            p.text-small.card__description  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            div.box__link(class= classNone)
                a(class="link x-small" href="#") Saber más
                    img(class="svg__icon" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
    