mixin component-target-personal(displayNone="display__none")
    div.padding__mobile-desktop--x-small-regular.card__color-border
        img(class="border__radius-x-small" src="../src/images/foto-miembro.jpg", alt="")
        div.padding__top-regular.padding__bottom-small.card__center
            p.text-medium.padding__bottom-xx-small.primaryfont__bold Nombre y apellido
            p.text-small.padding__bottom-xx-small.color__text-home Cargo en una línea          
            p.x-small(class= displayNone) Breve descripción en cuatro líneas en donde se diga algo de su profesión y de su trayectoria profesional.