mixin component-3img-1column(backgroundInnovation="box__background--innovation", backgroundHome="box__background", displayMobile="display__mobile")
    section.padding.box__bloque(class= backgroundInnovation)(class= backgroundHome)
        .box__bloque.content__max.content__center
            div
                img(class="box__img" src="../../src/images/img-noticias.jpg", alt="")(class=displayMobile)
            div.box__content
                p.box__description.text-medium  Bcc Innovation es un Centro Tecnológico Sectorial en Gastronomía cuya misión es investigar y generar conocimiento</span> aplicado sobre gastronomía y experiencia culinaria. 
                p.text-medium Este conocimiento es transferido a los profesionales de la alta cocina, a todos los agentes implicados en la cadena de valor de la alimentación y a la sociedad en su globalidad.
                div.display__desktop
                    a.btn__primary--large-color(href="#")
                        p.text-small Acceder a innovaciónbb
                