mixin component-img-left(justifyContent="box__content", displayNone="display__none", displayOne="display__one")
    div.media__margin.padding.content__center.content__max.grid__c2
        div(class= justifyContent)
            div(class= displayNone)
                span.tag__card--grey.display__desktop Etiqueta 01 
            h3.padding__topbottom-x-regular.primaryfont__bold(class= displayNone) Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            p.padding__bottom-x-regular.x-small.box__color-home(class= displayNone) Redacción BCC
            p.padding__bottom-x-regular.text-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla.
            p.padding__bottom-large.text-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequatLorem ipsum dolor sit amet.
            div.padding__bottom-x-regular.display__desktop(class= displayOne)
                a.btn__primary--medium-color-width(href="www") Acceder a empresas
            div.display__desktop 
                a.btn__primary--medium-nocolor-width(href="www") Formas de colaboración
        div
            img(class="border__radius-small img__big" src="../../src/images/img-noticias.jpg", alt="")
        
        
