mixin component-target-info-event(tagCardColor= "tag__card--grey", displayGrid= "grid__c7-c5", paddingBottom= "padding__bottom-large", classButtonMobile="btn__primary--small-color", classButton="btn__primary--medium-color", colorDate="box__icon--date", displayDesktop= "display__desktop", displayMobile= "display__mobile", displayNone="display__none", displayOne="display__one")
    div.padding__desktop.content__max.content__center(class= displayGrid)
        div(class= displayOne)
            span.box__tag.tag__card--grey Etiqueta
        div    
            img(class="box__img--bloq2" src="../../src/images/img-noticias.jpg", alt="")(class= borderBottom)
        div 
            div(class= displayNone)
                div.padding__top-small.box__icon
                    img(class="svg__icon--margin-top" src="../src/iconos/compartir.svg#compartir" type="img/svg")
                    span.box__tag--space(class= tagCardColor)  Presencial
                    span.box__tag--space(class= tagCardColor)  Incripción abierta
            div(class= displayOne)(class= displayNone)
                p.text-small.padding__top-small Restaurante BCC
            div
                h4.box__title.primaryfont__bold Cita GO-ON
            hr.hr__margin-bottom
            div.box__date
                div
                    div.box__icon--date
                        img(class="svg__icon--margin" src="../src/iconos/calendar.svg#calen" type="img/svg")
                        span.box__icon--date(class= colorDate)
                            p.x-small Fecha de publicación: 
                        p.x-small  04/02/2022

                    div.box__icon--date
                        img(class="svg__icon--margin" src="../src/iconos/watch.svg#watch" type="img/svg")
                        span.box__icon--date(class= colorDate)
                            p.x-small Horario: 
                        p.x-small  100€

                    div.box__icon--date
                        img(class="svg__icon--margin" src="../src/iconos/users.svg#users" type="img/svg")
                        span.box__icon--date(class= colorDate)
                            p.x-small Autor: 
                        p.x-small  BCC Innovation
            hr.hr__margin-top              
            p.padding__top-x-small.text-medium.box__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.
            div(class= displayMobile)(class= paddingBottom)
                a(href="www")(class= classButtonMobile) Reservar en restaurante BCC
                //- Button 'más información' innovación
            div(class= displayDesktop)
                a(href="www")(class= classButton) Reservar en restaurante BCC
                //- Button 'más información' innovación
