mixin component-title-link(colorBackground="box__background--innovation", displayNone="display__none", displayOne="display__one")
            div.padding__top-x-large.title__link.content__center.content__max(class= backgroundHome)
                div
                    p.text-large(class= displayOne) Actualidad
                    h1.primaryfont__bold Conoce nuestra agenda
                    h3.primaryfont__bold.display__mobile Próximos eventos:
                div(class= displayNone)
                    a(class="link text-small display__desktop" href="#") VER TODOS
                        svg( 
                            class="svg__icon", 
                            )
                                use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")
