mixin component-title(colorBackground="box__background--innovation", displayMobile="display__mobile", displayNone="display__none")
    section.padding.padding__top-x-large(class= colorBackground)(class= displayMobile)
        div.content__max.content__center
            p.text-large(class= displayNone) Sección
            h1.primaryfont__bold Título de la sección
