mixin component-mobile-card-img(colorLine="card__img--border-grado")
        div.card.card__color.display__mobile
            img(class="card__img--border" src="https://unsplash.it/800/600?image=59", alt="")(class= colorLine)
            .card__details-formacion 
                p.x-small.primaryfont__bold Grado: Gastronomía y Artes Culinarias
