mixin component-target-garamond-agenda(classButton= "btn__primary--medium-nocolor", displayGrid= "grid__c7-c5", colorTag= "tag__primary", colorDate="box__icon--date-home", displayDesktop="display__desktop", displayMobile="display__mobile", displayNone="display__none", displayOne="display__one")
    div(class= displayGrid)(class= backgroundColor)
        div
            //- div(class= displayDesktop) 
            //-     span.box__tag(class= colorTag) Etiqueta 01
            img(class="box__img--bloq2-agenda" src="../../src/images/img-noticias.jpg", alt="")(class= displayDesktop)
        div
            hr.hr.display__mobile
            div.box__icon--tag.padding__top-x-small
                img(class="svg__icon--margin-top" src="../src/iconos/compartir.svg#compartir" type="img/svg")
                span.tag__card--grey.box__tag--space  Evento
                span.tag__card--border-actualidad.box__tag--space  Etiqueta 01
                span.tag__card--border-actualidad.box__tag--space  Etiqueta 02
            h4.box__title.primaryfont__bold Titular del evento que ocupe dos líneas como máximo
            div.box__date
                div.box__date--space
                    p.text-large__garamond 23
                    p.text-medium__garamond FEB    
                div.box__date--width 
                    hr.hr__margin-bottom
                    div.box__icon--date
                        img(class="svg__icon--margin" src="../src/iconos/calendar.svg#calen" type="img/svg")
                        span.box__icon--date(class= colorDate) 
                            p.x-small Fechas: 
                        p.x-small 3 de febrero de 2022

                    div.box__icon--date
                        img(class="svg__icon--margin" src="../src/iconos/cash-money.svg#cash-money" type="img/svg")
                        span.box__icon--date(class= colorDate) 
                            p.x-small Precio:
                        p.x-small 100€ por persona

                    div.box__icon--date
                        img(class="svg__icon--margin" src="../src/iconos/location.svg#location" type="img/svg")
                        span.box__icon--date(class= colorDate) 
                            p.x-small Lugar: 
                        p.x-small  Edificio BCC
                    hr.hr__margin-top
            div.box__description.padding__top-x-small                 
                p.text-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.
            div.padding__bottom-regular.display__mobile
                a.btn__primary--small-nocolor(href="www") Quiero inscribirme
            div.display__desktop
                    a(class="link__color-home text-small display__desktop primaryfont__medium" href="#") Quiero inscribirme
                        img(class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")