mixin component-miembros()
    div.padding__mobile-desktop--x-small-regular.card__color-border
        img(class="border__radius padding__bottom-regular" src="../src/images/foto-miembro.jpg", alt="")
        div.card__center
            p.text-medium.padding__bottom-xx-small.primaryfont__bold Nombre y apellido
            p.text-small.color__text-home Cargo en una línea