mixin component-target-info-event(backgroundBox="box__background--innovation", colorDate="box__icon--date", displayNone="display__none")
    section.padding.center__content(class= backgroundBox)
        div.padding__top-x-large
            div
                p.text-large Restaurantes
                h1.primaryfont__bold Dos conceptos distintos
        section.padding__bottom-x-large
            div
                div
                    img(class="box__img--bloq2-border" src="../../src/images/img-noticias.jpg", alt="")
                    p.text-small Restaurante BCC
                div(class= displayNone)
                    div.box__icon
                        svg( class="svg__icon--date"
                        )
                            use(xlink:href="../../src/iconos/share-back.svg#share-back")
                        span.tag__card--grey.box__tag--space  Presencial
                        span.tag__card--border.box__tag--space  Incripción abierta
                h4.box__title.primaryfont__bold Cita GO-ON
                div.box__date
                    div
                        div.box__icon--date
                            svg( 
                        class="svg__icon--margin", 
                            )
                                use(xlink:href="../../src/iconos/calendar.svg#calen")
                            span.box__icon--date(class= colorDate)
                                p.text-small Fecha de publicación: 
                            p.text-small  04/02/2022

                        div.box__icon--date
                            svg( 
                        class="svg__icon--margin", 
                            )
                                use(xlink:href="../../src/iconos/watch.svg#watch")
                            span.box__icon--date(class= colorDate)
                                p.text-small Horario: 
                            p.text-small  100€

                        div.box__icon--date
                            svg( 
                        class="svg__icon--margin", 
                            )
                                use(xlink:href="../../src/iconos/users.svg#users")
                            span.box__icon--date(class= colorDate)
                                p.text-small Autor: 
                            p.text-small  BCC Innovation
                p.text-small Nuestros alumnos del Máster de Perfeccionamiento en Cocina han diseñado un menú inspirados en la historia del hombre a través de la alimentación, del Homo sapiens hasta nuestros días.
                div
                    a.btn__primary--large-color-width(href="#") Reserbar en restaurante BCC