mixin component-column-icon()
    div.padding.column__desktop   
        div.column
            div.column__icon.display__mobile
                img(src="../src/iconos/icon-column-icon.svg#icon-column" type="img/svg")
            div
                h3.primaryfont__bold.column__title Lorem ipsum dolor sit amet consectetur
                p.text-medium 
                    span.column__text--icon.text-medium  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. 
                    | Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.