mixin component-title(backgroundInnovation="box__background--innovation", backgroundHome="box__background", displayNone="display__none")
            section.padding.padding__top-x-large(class= backgroundInnovation)(class= backgroundHome)
                div.content__max.content__center
                    p.text-large(class=displayNone) Actualidad
                    h1.primaryfont__bold Conoce nuestra agenda
