mixin component-img-left()
    div.padding__bottom-x-regular.grid__c2.content__center.content__max
        div.padding__top-x-regular
            p.padding__bottom-x-regular.text-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat.
            p.padding__bottom-xx-large.text-medium Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequatLorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat
            div.padding__bottom-x-regular.display__desktop
                a.btn__primary--medium-color-width(href="www") Acceder a empresas
            div.padding__bottom-x-regular.display__desktop 
                a.btn__primary--medium-nocolor-width(href="www") Formas de colaboración

        div
            img(class="box__img" src="../../src/images/foto.jpg", alt="")
        
