mixin component-title(colorBackground="box__background--innovation", displayMobile="display__mobile", displayNone="display__none")
    section(class= colorBackground)(class= displayMobile)
        div.padding__regular.media__margin.content__max.content__center
            p.text-large(class= displayNone) Sección
            h1.primaryfont__bold Título de la sección
