mixin component-slide-img()
    //- INNOVATION Home, slider imágenes
    div.swiper3.mySwiper
        div.swiper-wrapper
            //- cambiando por la clase .swiper-slide-img3 tendría que salirse la imagen
            div.swiper-slide
                img(src="../../src/images/foto.jpg", alt="")
            div.swiper-slide
                img(src="../../src/images/foto.jpg", alt="")
            div.swiper-slide
                img(src="../../src/images/foto.jpg", alt="")
            div.swiper-slide
                img(src="../../src/images/foto.jpg", alt="")
            div.swiper-slide
                img(src="../../src/images/foto.jpg", alt="")
            div.swiper-slide
                img(src="../../src/images/foto.jpg", alt="")