mixin component-subtitle(colorBackground="box__background--innovation")
    section.padding(class= colorBackground)
        div.content__max.content__center
            h3.primaryfont__bold Apartado sección