mixin component-noticia-target(linkColor= "link__color-home", tagColor="tag__master", tagBloq2="box__tag--bloq2", borderBottom="box__img--border", displayDesktop="display__desktop", displayMobile="display__mobile", displayNone="display__none")
    div.gap
        div
            span(class= tagColor)(class= tagBloq2) Etiqueta 01
            img(class="border__radius-small img__50" src="../../src/images/img-noticias.jpg", alt="")(class= displayDesktop)(class= borderBottom)
        div
            h4.box__title.primaryfont__bold Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Nunc egestas blandit malesuada.
            p.display__desktop.x-small 01/01/2022
            p.display__mobile.x-small.box__color-home Redacción BCC
            p.box__description.text-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas blandit malesuada. Nullam augue lacus, auctor et placerat non, pretium id nulla. Curabitur posuere, lacus eget semper consequat, nisi dui pharetra nibh, eu porttitor dolor odio sit amet felis. 
            div.box__link.display__desktop
        a(class="x-small display__desktop" href="#")(class= linkColor) Leer más
            img(class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
        hr.hr__margin-top.display__mobile
    div.padding__top-regular(class= displayMobile)(class= displayNone)
        a.btn__primary--small-color(href="www") Ver todos los eventos 