mixin component-subtitle(backgroundColor="box__background", displayNone="display__none")
    div.media__margin.padding__regular.title__link.content__center.content__max(class= backgroundColor)
        div
            h3.primaryfont__bold  Apartado sección
        div(class= displayNone)
            a(class="link__color-home text-small display__desktop primaryfont__medium" href="#") LINK APARTADO
                img(class="svg__icon--link" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
