include ../head/head.pug
    main
        div.card.card__border
            img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
            .card__details-producto
                span.etiqueta__card--producto Producivity
                h3.card__details-producto Comunicaci칩n y periodismo gastron칩mico
                p Die침o con alto valor castron칩mico