<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
  </head>
  <body> 
    <main>
      <div class="card card__border"><img class="card__img" src="https://unsplash.it/800/600?image=59" alt="">
        <div class="card__details-producto"><span class="etiqueta__card--producto">Producivity</span>
          <h3 class="card__details-producto">Comunicación y periodismo gastronómico</h3>
          <p>Dieño con alto valor castronómico</p>
        </div>
      </div>
    </main>
  </body>
</html>