include ../head/head.pug
    block content
        div.container
            form(action="")  
                .group 
                    inpu(type="text" required)
                    span.highlight 
                    span.bar
                    label Nombreee
                .group 
                    inpu(type="text" required)
                    span.highlight 
                    span.bar
                    label(for="text" id="name") Nombreee

