include ../head/head.pug
body
 
    label.container One
            input(type='checkbox')
            span.checkmark

    label.container Two
            input(type='checkbox')
            span.checkmark
            
    label.container Three
            input(type='checkbox')
            span.checkmark

    label.container Four
            input(type='checkbox')
            span.checkmark


    label.container One
            input(type='checkbox')
            span.checkmark__radio

    label.container Two
            input(type='checkbox')
            span.checkmark__radio

    div Elige dos opciones    
        label.container Opt1
            input(type='checkbox')
            span.checkmark__radio
        label.container Opt2
            input(type='checkbox')
            span.checkmark__radio
        label.container Opt3
            input(type='checkbox')
            span.checkmark__radio

    

div 多Quieres dise単ar?
    label.container Si
        input(type='radio' name="preg1" value="foo")
        span.checkmark__radio
    label.container No 
        input(type='radio' name="preg1" value="foo")
        span.checkmark__radio

div 多Quieres dise単ar?
    label.container Si
        input(type='radio' name="preg1" value="foo")
        span.checkmark
    label.container No 
        input(type='radio' name="preg1" value="foo")
        span.checkmark
    

