<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
  </head>
  <body> 
  </body>
</html>
<body>
  <label class="container">One
    <input type="checkbox"><span class="checkmark"></span>
  </label>
  <label class="container">Two
    <input type="checkbox"><span class="checkmark"></span>
  </label>
  <label class="container">Three
    <input type="checkbox"><span class="checkmark"></span>
  </label>
  <label class="container">Four
    <input type="checkbox"><span class="checkmark"></span>
  </label>
  <label class="container">One
    <input type="checkbox"><span class="checkmark__radio"></span>
  </label>
  <label class="container">Two
    <input type="checkbox"><span class="checkmark__radio"></span>
  </label>
  <div>Elige dos opciones    
    <label class="container">Opt1
      <input type="checkbox"><span class="checkmark__radio"></span>
    </label>
    <label class="container">Opt2
      <input type="checkbox"><span class="checkmark__radio"></span>
    </label>
    <label class="container">Opt3
      <input type="checkbox"><span class="checkmark__radio"></span>
    </label>
  </div>
</body>
<div>¿Quieres diseñar?
  <label class="container">Si
    <input type="radio" name="preg1" value="foo"><span class="checkmark__radio"></span>
  </label>
  <label class="container">No 
    <input type="radio" name="preg1" value="foo"><span class="checkmark__radio"></span>
  </label>
</div>
<div>¿Quieres diseñar?
  <label class="container">Si
    <input type="radio" name="preg1" value="foo"><span class="checkmark"></span>
  </label>
  <label class="container">No 
    <input type="radio" name="preg1" value="foo"><span class="checkmark"></span>
  </label>
</div>