<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
  </head>
  <body> <a class="btn__primary--large-color" href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Typical_Use_Cases_of_Flexbox">
      <h5>Press</h5>
      <svg class="svg__icon--right" aria-labelledby="btn__primary--large-color">
        <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
      </svg></a><a class="btn__primary--large-color" href="#">
      <h5>Press</h5>
      <svg class="svg__icon--left" aria-labelledby="btn__primary--large-color">
        <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
      </svg></a>
    <button class="btn__primary--large-color" disabled>Presss</button><a class="btn__primary--medium-color" href="#">
      <h5>Press</h5>
      <svg class="svg__icon--right" aria-labelledby="btn__primary--medium-color">
        <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
      </svg></a><a class="btn__primary--medium-color" href="https://instagram.com/?lang=en" target="_blank">
      <h5>Press</h5></a>
    <button class="btn__primary--medium-color" disabled>Presss</button><a class="btn__primary--small-color" href="#">
      <h5>Press</h5>
      <svg class="svg__icon--right" aria-labelledby="btn__primary--small-color">
        <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
      </svg></a><a class="btn__primary--small-color" href="#">
      <h5>Press</h5></a>
    <button class="btn__primary--small-color" disabled>Presss</button><a class="btn__primary--large-nocolor" href="#">
      <h5>Press</h5>
      <svg class="svg__icon--right" aria-labelledby="btn__primary--large-nocolor">
        <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
      </svg></a><a class="btn__primary--large-nocolor" href="#">
      <h5>Press</h5></a>
    <button class="btn__primary--large-nocolor" disabled>Presss</button><a class="btn__primary--medium-nocolor" href="#">
      <h5>Press</h5>
      <svg class="svg__icon--right" aria-labelledby="btn__primary--medium-nocolor">
        <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
      </svg></a><a class="btn__primary--medium-nocolor" href="#">
      <h5>Press</h5></a>
    <button class="btn__primary--medium-nocolor" disabled>Presss</button><a class="btn__primary--small-nocolor" href="#">
      <h5>Press</h5>
      <svg class="svg__icon--right" aria-labelledby="btn__primary--small-nocolor">
        <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
      </svg></a><a class="btn__primary--small-nocolor" href="#">
      <h5>Press</h5></a>
    <button class="btn__primary--small-nocolor" disabled>Presss</button><a class="btn__modal" href="#">
      <h5>Press</h5>
      <svg class="svg__icon--right" aria-labelledby="btn__primary--large-color">
        <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
      </svg></a>
  </body>
</html></html>