section.padding.accordion__section
    div.accordion__item
        button.accordion Accordion 1
        .panel 
            p.text-small Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis architecto temporibus labore distinctio quidem natus officiis aspernatur nobis eum iusto, odit quia perferendis placeat reprehenderit sit omnis rem unde magnam.
    div.accordion__item
        button.accordion Accordion 2
        .panel 
            div.padding__bottom-x-regular.grid__c2
                div
                    img(class="border__radius-small" src="../../src/images/foto.jpg", alt="")
                div
                    p.padding__bottom-x-regular.text-medium Fórmate con los mejores profesionales en nuestra Facultad de Gastronomía pionera a nivel internacional.
                    p.padding__bottom-xx-large.text-medium El modelo educativo de Basque Culinary Center te ayudará a desarrollar las capacidades que te ayuden a dar respuesta a los retos del futuro de un sector estratégico y en constante evolución, a través de talleres, proyectos reales y prácticas en empresas.
                    a.btn__primary--large-nocolor-width.display__desktop(href="www.hola.com")
                        p.text-small Acceder a innovación
                    a.btn__primary--small-nocolor-innovation.padding__bottom-regular.display__mobile(href="www.hola.com")
                        p.text-small Acceder a innovación