
<button class="accordion">Accordion 1
  <div class="panel"> 
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis architecto temporibus labore distinctio quidem natus officiis aspernatur nobis eum iusto, odit quia perferendis placeat reprehenderit sit omnis rem unde magnam.</p>
  </div>
</button>
<button class="accordion">Accordion 2
  <div class="panel"> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus aspernatur quas temporibus alias, nisi rerum dolores corrupti laudantium illum rem quibusdam ex officia iusto, illo odit esse adipisci sed. Iure.</p>
  </div>
</button>