<a class="btn__primary--large-color" href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Typical_Use_Cases_of_Flexbox">Press
  <svg class="svg__icon--right" aria-labelledby="btn__primary--large-color">
    <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
  </svg></a><a class="btn__primary--large-color" href="#">Press
  <svg class="svg__icon--left" aria-labelledby="btn__primary--large-color">
    <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
  </svg></a>
<button class="btn__primary--large-color" disabled="disabled">Presss</button><a class="btn__primary--medium-color" href="#">Press
  <svg class="svg__icon--right" aria-labelledby="btn__primary--medium-color">
    <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
  </svg></a><a class="btn__primary--medium-color" href="https://instagram.com/?lang=en" target="_blank">Press</a>
<button class="btn__primary--medium-color" disabled="disabled">Presss</button><a class="btn__primary--small-color" href="#">Press
  <svg class="svg__icon--right" aria-labelledby="btn__primary--small-color">
    <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
  </svg></a><a class="btn__primary--small-color" href="#">Press</a>
<button class="btn__primary--small-color" disabled="disabled">Presss</button><a class="btn__primary--large-nocolor" href="#">Press
  <svg class="svg__icon--right" aria-labelledby="btn__primary--large-nocolor">
    <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
  </svg></a><a class="btn__primary--large-nocolor" href="#">Press</a>
<button class="btn__primary--large-nocolor" disabled="disabled">Presss</button><a class="btn__primary--medium-nocolor" href="#">Press
  <svg class="svg__icon--right" aria-labelledby="btn__primary--medium-nocolor">
    <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
  </svg></a><a class="btn__primary--medium-nocolor" href="#">Press</a>
<button class="btn__primary--medium-nocolor" disabled="disabled">Presss</button><a class="btn__primary--small-nocolor" href="#">Press
  <svg class="svg__icon--right" aria-labelledby="btn__primary--small-nocolor">
    <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
  </svg></a><a class="btn__primary--small-nocolor" href="#">Press</a>
<button class="btn__primary--small-nocolor" disabled="disabled">Presss</button><a class="btn__modal" href="#">Press
  <svg class="svg__icon--right" aria-labelledby="btn__primary--large-color">
    <use xlink:href="../../src/iconos/calendario.svg#calendar"></use>
  </svg></a><a class="btn__primary--large-color-menu" href="#">Encuentra tu formación</a>