//- COLOR LARGE
    
//- icon
a.btn__primary--large-color(href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Typical_Use_Cases_of_Flexbox") Press
    img(class="svg__icon--right" aria-labelledby="btn__primary--large-color" src="../src/iconos/calendario.svg#calendar" type="img/svg")
//- no icon
a.btn__primary--large-color(href="#") Press
    img(class="svg__icon--left" aria-labelledby="btn__primary--large-color" src="../src/iconos/calendario.svg#calendar" type="img/svg")

//- disabled 
button(class='btn__primary--large-color' disabled) Presss


//- COLOR MEDIUM
a.btn__primary--medium-color(href="#") Press
    img(class="svg__icon--right" aria-labelledby="btn__primary--medium-color" src="../src/iconos/calendario.svg#calendar" type="img/svg")

//- no icon
a.btn__primary--medium-color(href="https://instagram.com/?lang=en" target="_blank") Press

//- disabled 
button(class='btn__primary--medium-color' disabled) Presss


//- COLOR SMALL
a.btn__primary--small-color(href="#") Press
    img(class="svg__icon--right" aria-labelledby="btn__primary--small-color" src="../src/iconos/calendario.svg#calendar" type="img/svg")

//- no icon
a.btn__primary--small-color(href="#") Press

//- disabled 
button(class='btn__primary--small-color' disabled) Presss




//- NO COLOR LARGE
    
//- icon
a.btn__primary--large-nocolor(href="#") Press
    img(class="svg__icon--right" aria-labelledby="btn__primary--large-nocolor" src="../src/iconos/calendario.svg#calendar" type="img/svg")

//- no icon
a.btn__primary--large-nocolor(href="#") Press

//- disabled 
button(class='btn__primary--large-nocolor' disabled) Presss



//- COLOR MEDIUM
a.btn__primary--medium-nocolor(href="#") Press
    img(class="svg__icon--right" aria-labelledby="btn__primary--medium-nocolor" src="../src/iconos/calendario.svg#calendar" type="img/svg")

//- no icon
a.btn__primary--medium-nocolor(href="#") Press

//- disabled 
button(class='btn__primary--medium-nocolor' disabled) Presss



//- NO COLOR SMALL
a.btn__primary--small-nocolor(href="#") Press
    img(class="svg__icon--right" aria-labelledby="btn__primary--small-nocolor" src="../src/iconos/calendario.svg#calendar" type="img/svg")

//- no icon
a.btn__primary--small-nocolor(href="#") Press

//- disabled 
button(class='btn__primary--small-nocolor' disabled) Presss



//- Btn modal
a.btn__modal(href="#") Press
        img(class="svg__icon--right" aria-labelledby="btn__primary--large-color" src="../src/iconos/calendario.svg#calendar" type="img/svg")

//- Btn menú
a.btn__primary--large-color-menu(href="#") Encuentra tu formación

