mixin filter(colorTag= "tag__innovation", colorTagActive= "tag__innovation-dark")
    div.media__margin.padding__bottom-xx-large.filter.content__center.content__max
        h4.filter__text.primaryfont__bold Filtrar por:
        a.filter__tag--item(class= colorTagActive)(href="www") Todas
        a.filter__tag--item(class= colorTag)(href="www") Salud
        a.filter__tag--item(class= colorTag)(href="www") Análisis sensorial
        a.filter__tag--item(class= colorTag)(href="www") Sostenibilidad
        a.filter__tag--item(class= colorTag)(href="www") Desarrollo de producto
        a.filter__tag--item(class= colorTag)(href="www") Digitalización