mixin footer(colorBackground="box__background")
    div 
        hr.hr__margin-none
    footer.padding__bottom-xtra-large.footer(class= colorBackground)
        div.footer__info
            img(class="footer__logo padding__bottom-x-regular" src="../../src/images/logo-BCC-footer.png", alt="")
            p.x-small.display__desktop Paseo Juan Avelino Barriola, 101, </br>20009 Donostia-San Sebastián (Gipuzkoa) </br>Tel.: +34 943 574 500 </br>email: info@bculinary.com

        div.footer__column
            nav.footer__menu
                ul.footer__list 
                    li
                        hr.hr__margin.display__mobile
                        a(class="footer__item text-small primaryfont__bold" href="#") Área de prensa
                        hr.hr__margin.display__mobile
                    li
                        a(class="footer__item text-small primaryfont__bold" href="#") Trabaja con nosotros
                        hr.hr__margin.display__mobile
                    li
                        a(class="footer__item text-small primaryfont__bold" href="#") Contacto
                        hr.hr__margin.display__mobile
                    li
                        a(class="footer__item text-small primaryfont__bold" href="#") Perfil del contratante
                        hr.hr__margin.display__mobile 
            div.footer__copyright 
                p.footer__copyright--text.x-small Copyright © 2022 Basque Culinary Center. Todos los derechos reservados.
                p.footer__copyright--text.x-small Política de privacidad  I  Uso de cookies  I  Condiciones de uso  I  Ventas y reembolsos  I  Avisos legales  I  Mapa del sitio
