div
    form(action="" id="form")  
        .group 
            input(type="text" ide="name" class="input__simple" size="6" required)
            span.highlight
            span.bar
            label(for="ename" class="label") Name
        
        .group 
            input(type="tel" id="tel" class="input__background" size="9" required)
            span.highlight
            label(for="tel" class="label") Teléfono