//- Tag formación
span.tag__grado Grado
span.tag__master Máster
span.tag__doctorado Doctorado
span.tag__profesionales Curso para profesionales
span.tag__entusiastas Curso para entusiastas
//- Tag grey
span.tag__card--grey Producivity
//- Tag border
span.tag__card--border Producivity
