include ../head/head.pug
    main
        section
            h1.primaryfont__bold--800 BCC. Prestigio internacional
            p.text-medium.display__mobile.column__text
                span.text-medium.primaryfont__bold--800  Basque Culinary Center conforma un ecosistema único 
                | donde formación, innovación, investigación y emprendimiento coexisten con el objetivo de desarrollar e impulsar la gastronomía, asumida esta como el conocimiento razonado sobre lo que comemos y cómo lo hacemos.
            
        section.column__desktop   
            div.column
                div.column__icon.display__mobile
                    svg()
                        use(xlink:href="../../src/iconos/icon-prestigio-internacional.svg#icon-investigacion")
                div
                    h3.primaryfont__bold--800.column__title Breve titular en dos líneas como máximo
                    p.text-medium 
                        span.column__text--icon.text-medium  Adquiere competencias de diseño y desarrollo de modelos de negocio, así como propuestas de valor, innovadoras y competitivas 
                        | que sean coherentes con la Visión, Misión y Valores de la empresa, sus Unidades Estratégicas de Negocio y los patrones de consumo, presentes y futuros, de los clientes.

                
            div.column
                div.column__icon.display__mobile
                    svg()
                        use(xlink:href="../../src/iconos/icon-prestigio-internacional.svg#icon-investigacion")
                div
                    h3.primaryfont__bold--800.column__title Breve titular en dos líneas como máximo
                    p.text-medium 
                        span.column__text--icon.text-medium  Adquiere competencias de diseño y desarrollo de modelos de negocio, así como propuestas de valor, innovadoras y competitivas 
                        | que sean coherentes con la Visión, Misión y Valores de la empresa, sus Unidades Estratégicas de Negocio y los patrones de consumo, presentes y futuros, de los clientes.

            
            div.column
                div.column__icon.display__mobile
                    svg()
                        use(xlink:href="../../src/iconos/icon-prestigio-internacional.svg#icon-investigacion")
                div
                    h3.primaryfont__bold--800.column__title Breve titular en dos líneas como máximo
                    p.text-medium 
                        span.column__text--icon.text-medium  Adquiere competencias de diseño y desarrollo de modelos de negocio, así como propuestas de valor, innovadoras y competitivas 
                        | que sean coherentes con la Visión, Misión y Valores de la empresa, sus Unidades Estratégicas de Negocio y los patrones de consumo, presentes y futuros, de los clientes.
                