doctype html
html(lang="es")
    block config
        include ../../config/var/var.pug
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{page[0]}
        script(src='menu.js')
        each link in css
            link(rel="stylesheet" href='../../css/' + link)

    body 
        block content
