/*------------------------------------*\
    GRID
\*------------------------------------*/
.grid {
    @include respond-to(large) {  
        &__c2 {
            display: grid;
            grid-template-columns: 2fr 2fr;
            grid-gap: $large;
        }
        &__c5 {
            display: grid;
            grid-template-columns: 5fr;
            grid-gap: $large;
        }
        &__c7-c5 {
            display: grid;
            grid-template-columns: 7fr 5fr;
            grid-gap: $large;

        }
        &__c8-c4 {
            display: grid;
            grid-template-columns: 8fr 4fr;
            grid-gap: $large;
        }
        
    }
}

