html {
    box-sizing: border-box;
}

    *,
    *::before,
    *::after {
        box-sizing: inherit;
}

body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    height: 100%;
    position: relative;
}

img {
    max-width: 100%;
}
main {
    padding: 23.5px;
}