/*------------------------------------*\
    SITE
\*------------------------------------*/
html {
    box-sizing: border-box;
}
    *,
    *::before,
    *::after {
        box-sizing: inherit;
} 
body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    &.overlay {
        &::after {
            background: rgba(0,0,0,0.25);
        content: '';
            position: fixed;
            inset: 0;
            z-index: 1;
        }

    }
}

/*------------------------------------*\
    IMG
\*------------------------------------*/
img {
    max-width: 100%;
}
.img {
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    &__66 {
        width: 920px;
        height: 100%;
    }
    &__50 {
        width: 673px;
        height: 100%;
    }
}

/*------------------------------------*\
    $MARGINS
\*------------------------------------*/
@media screen and (min-width: 1000px) and (max-width: 1480px) {
    .media__margin {
        max-width: calc(100% - 100px);
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
    .media__margin {
        max-width: calc(100% - 50px);
    }
}

