/*------------------------------------*\
    SPACE ELEMENTS
\*------------------------------------*/
.title {
    &__link {
        display: flex;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond-to(large) {
            margin-bottom: 0; 
        } 
        a {
            padding-bottom: $small;
        }
    }
}
.margin {
    &__top-x-large {
        margin-top: $x-large;
    }
    &__topbottom-regular {
        margin: $regular 0;
    }
    &__bottom-large {
        margin-bottom: $large;
    }
    &__bottom-x-large {
        margin-bottom: $x-large;
    }
    &__bottom-xx-large {
        margin-bottom: $xx-large;
    }
    &__bottom-xtra-large {
        margin-bottom: $xtra-large;
    }
    &__left {
        @include respond-to(large) {
            margin-left: $regular;
        }
    }
}
.padding {
    padding: 0 $regular;
    &__regular {
        padding: $regular;
    }
    &__mobile {
        padding: 0 $regular;
        @include respond-to(large) {
            padding: 0;
        }
    }
    &__desktop {
        @include respond-to(large) {
            padding: 0 $regular;
        }
    }
    // Bottom
    &__bottom-tiny {
        padding-bottom: $tiny;
    }
    &__bottom-xx-small {
        padding-bottom: $xx-small;
    }
    &__bottom-small {
        padding-bottom: $small;
    }
    &__bottom-regular {
        padding-bottom: $regular;
    }
    &__bottom-x-regular {
        padding-bottom: $x-regular;
    }
    &__bottom-gap {
        padding-bottom: 40px;
    }
    &__bottom-large {
        padding-bottom: $large;
    }
    &__p-bottom-large {
        padding-bottom: $large;
        padding-left: $regular;
        padding-right: $regular;
    }
    &__bottom-x-large {
        padding-bottom: $x-large;
    }
    &__bottom-xx-large {
        padding-bottom: $xx-large;
    }
    &__bottom-xtra-large {
        padding-bottom: $xtra-large;
    }
    &__p-bottom-xx-large {
        padding-bottom: $xx-large;
        padding-left: $regular;
        padding-right: $regular;
    }
    
    // Top
    &__top-tiny {
        padding-top: $tiny;
    }
    &__top-xx-small {
        padding-top: $xx-small;
    }
    &__top-x-small {
        padding-top: $x-small;
    }
    &__top-small {
        padding-top: $small;
    }
    &__top-regular {
        padding-top: $regular;
    }
    &__top-x-regular {
        padding-top: $x-regular;
    }
    &__top-gap {
        padding-top: 40px;
    }
    &__top-large {
        padding-top: $large;
    }
    &__top-x-large {
        padding-top: $x-large;
    }
    &__top-xx-large {
        padding-top: $xx-large;
    }
    &__top-xtra-large {
        padding-top: $xtra-large;
    }
    // Top / Bottom
    &__topbottom-x-small {
        padding: $x-small 0;
    }
    &__topbottom-small {
        padding: $small 0;
    }
    &__topbottom-x-regular {
        padding: $x-regular 0;
    }
    &__topbottom-regular {
        padding: $regular 0;
    }
    &__regular-regular {
        padding: $regular;
    }
    &__topbottom-large {
        padding: $large 0;
    }
    &__regular-large {
        padding: $large $regular $large $regular;
    }
    &__topbottom-x-large {
        padding: $x-large 0;
    }
    &__topbottom-xx-large {
        padding: $xx-large 0;
    }
    &__regular-xx-large {
        padding: $xx-large $regular;
    }
    &__topbottom-xtra-large {
        padding-top: $xtra-large;
        padding-bottom: $xtra-large;
    }
    &__regular-xtra-large {
        padding: 0 $regular $xtra-large $regular;
    }

    // Mobile/desktop
    &__bottom-mobile-small {
        padding-bottom: $small;
        @include respond-to(large) {
            padding-bottom: 0; 
        }
    }
    &__bottom-mobile-regular {
        padding-bottom: $regular;
        @include respond-to(large) {
            padding-bottom: 0; 
        }
    }
    &__top-mobile-large {
        padding-top: $large;
        @include respond-to(large) {
            padding-top: 0; 
        }
    }
    &__topbottom-desktop {
        padding-top: 0;
        padding-bottom: 0;
        @include respond-to(large) {
            padding-top: $regular;
            padding-bottom: $regular;
        }
    }
    &__bottom-desktop-small {
        padding-bottom:  0;
        @include respond-to(large) {
            padding-bottom: $small;
        }
    }
}