/*------------------------------------*\
    SPACE ELEMENTS
\*------------------------------------*/
.title {
    &__link {
        display: flex;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include respond-to(large) {
            margin-bottom: 0; 
        } 
        a {
            padding-bottom: $small;
        }
    }
}
.padding {
    padding: 0 $regular;
    // Bottom
    &__bottom-small {
        padding-bottom: $small;
    }
    &__bottom-regular {
        padding-bottom: $regular;
    }
    &__bottom-x-regular {
        padding-bottom: $x-regular;
    }
    &__bottom-gap {
        padding-bottom: 40px;
    }
    &__bottom-large {
        padding-bottom: $large;
    }
    &__bottom-x-large {
        padding-bottom: $x-large;
    }
    &__bottom-xx-large {
        padding-bottom: $xx-large;
    }
    // Top
    &__top-small {
        padding-top: $small;
    }
    &__top-regular {
        padding-top: $regular;
    }
    &__top-x-regular {
        padding-top: $x-regular;
    }
    &__top-gap {
        padding-top: 40px;
    }
    &__top-large {
        padding-top: $large;
    }
    &__top-x-large {
        padding-top: $x-large;
    }
    &__top-xx-large {
        padding-top: $xx-large;
    }
    // Top / Bottom
    &__topbottom-x-regular {
        padding: $x-regular 0;
    }
    &__topbottom-regular {
        padding: $regular 0;
    }
    &__topbottom-large {
        padding: $large 0;
    }
    &__regular-large {
        padding: $large $large $regular $regular;
    }
    &__topbottom-x-large {
        padding: $x-large 0;
    }
    &__topbottom-xx-large {
        padding: $xx-large 0;
    }
    &__regular-xx-large {
        padding: $xx-large $regular;
    }
}
h1 {
    padding-bottom: $x-regular;
    @include respond-to(large) {
        padding-bottom: $large;
    }
}
h3{
    padding-bottom: $x-regular;
    @include respond-to(large) {
        padding-bottom: $large;
    }
}