include ../head/head.pug
    main
        div.card.card__color-cursos
            img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
            .card__details-formacion
                h3 Cursos