include ../head/head.pug
    main
        div.card.card__color-doctorado
            img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
            .card__details-formacion
                p.text-small.primaryfont__bold--800  Doctorado