
<div class="card card__color-grado"> <img class="card__img" src="https://unsplash.it/800/600?image=59" alt=""/>
  <div class="card__details-formacion"> 
    <p class="text-small primaryfont__bold--800">Grado: Gastronomía y Artes Culinarias</p>
  </div>
</div>
<div class="card card__color-master"> <img class="card__img" src="https://unsplash.it/800/600?image=59" alt=""/>
  <div class="card__details-formacion">
    <p class="text-small primaryfont__bold--800">Másteres</p>
  </div>
</div>
<div class="card card__color-doctorado"><img class="card__img" src="https://unsplash.it/800/600?image=59" alt=""/>
  <div class="card__details-formacion">
    <p class="text-small primaryfont__bold--800"> Doctorado</p>
  </div>
</div>
<div class="card card__color-cursos"><img class="card__img" src="https://unsplash.it/800/600?image=59" alt=""/>
  <div class="card__details-formacion">
    <p class="text-small primaryfont__bold--800"> Cursos</p>
  </div>
</div>
<div class="card card__color-entusiastas"> <img class="card__img" src="https://unsplash.it/800/600?image=59" alt=""/>
  <div class="card__details-formacion">
    <p class="text-small primaryfont__bold--800">Cursos para entusiastas</p>
  </div>
</div>