include ../head/head.pug
    main
        section.padding.box__background--home.display__desktop
            div.title__link
                div
                    h3.primaryfont__bold--800 Últimas noticias
                div
                    a(class="link text-small display__desktop" href="#") Ver todas las noticias
                        svg( 
                            class="svg__icon", 
                            )
                                use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")
            div.padding__bottom-x-large.grid__c2
                div.box
                    div
                        span.tag__entusiastas.box__tag--bloq2  Etiqueta 01
                        img(class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                    h4.box__title.primaryfont__bold--800 La XII reunión del Consejo Internacional en Girona
                    p.box__fecha.display__desktop.text-small 01/01/2022
                    p.box__description.text-small En el marco del summit se celebra la reunión del Consejo Internacional de Basque Culinary Center, constituido por algunos de los y las chefs más influyentes y relevantes del mundo. Presidido por Joan Roca, son miembros activos del Consejo Gastón Acurio, Massimo Bottura, Enrique Olvera, Trine Hahnemann, Dominique Crenn y Yoshihiro Narisawa; y miembros fundadores del Consejo Ferrán Adrià, Michel Bras, René Redzepi, Heston Blumenthal, Alex Atala y Dan Barber.
                    div.box__link.display__desktop
                        a(class="link x-small" href="#") Leer más
                            svg( 
                                class="svg__icon", 
                                )
                                    use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")
                div.box
                    div
                        span.tag__entusiastas.box__tag--bloq2  Etiqueta 01
                        img(class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                    h4.box__title.primaryfont__bold--800 El estudio danés BIG diseñará el edificio GOE en Donostia
                    p.box__fecha.display__desktop.text-small 01/01/2022
                    p.box__description.text-small La propuesta “Olatuen bidea -Camino de las Olas”, del estudio de arquitectura danés BIG (Bjarke Ingels Group), se ha proclamado vencedora del concurso internacional para la dirección de las obras de construcción del edificio GOe – Gastronomy Open Ecosystem de Donostia San Sebastián, convocado por Basque Culinary Center. Un espacio que simboliza la unión entre gastronomía, talento, ciencia, innovación, emprendimiento y ciudad.
                    div.box__link.display__desktop
                        a(class="link x-small" href="#") Leer más
                            svg( 
                                class="svg__icon", 
                                )
                                    use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")
