<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@100;400;600;700;800&amp;family=League+Spartan:wght@400;800&amp;display=swap" rel="stylesheet">
  </head>
  <body> 
    <main>
      <div class="title__link">
        <div>
          <p class="text-large">Gastronomía 360</p>
          <h1 class="primaryfont__bold--800">Una visión integral</h1>
        </div>
        <div><a class="link text-small display__desktop" href="#">Acceder a gastronomía 360
            <svg class="svg__icon">
              <use xlink:href="../../src/iconos/arrow-link.svg#arrow-link"></use>
            </svg></a></div>
      </div>
      <div class="box__principal">
        <h3 class="box__title display__mobile primaryfont__bold--800">Toni Segarra: «No es momento para el marketing».</h3>
        <div><span class="tag__entusiastas box__tag">Etiqueta 01</span><img class="box__img" src="../../src/images/img-noticias.jpg" alt=""></div>
        <div class="box__content">
          <h3 class="box__title display__desktop primaryfont__bold--800">Toni Segarra: «No es momento para el marketing».</h3>
          <p class="box__fecha display__desktop text-medium primaryfont__bold--600">01/01/2022</p>
          <p class="box__description text-medium">Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para más bien actuar oportunamente y no oportunistamente como sugiere Toni Segarra, el gurú de la publicidad y uno de los mejores creativos españoles del siglo XX, , convencido de que “lo peor de la crisis todavía está por llegar y algunos términos como confianza y actitud empezarán a sonar pasado el verano”. </p><a class="link text-small box__link display__desktop" href="#">Leer más 
            <svg class="svg__icon">
              <use xlink:href="../../src/iconos/arrow-link.svg#arrow-link"></use>
            </svg></a>
        </div>
      </div>
      <section class="box__bloque">
        <div class="box">
          <div><span class="tag__entusiastas box__tag--bloq2"> Etiqueta 01</span><img class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg" alt=""></div>
          <h4 class="box__title primaryfont__bold--800">Pablo Rivero: una ganadería que imite a la naturaleza</h4>
          <p class="box__description text-small">El chef de la parrilla Don Julio de Buenos Aires desgranó en el encuentro Haragi los potenciales beneficios de la ganadería regenerativa y defendió la nobleza de un producto que hoy está en el punto de mira: la carne.</p>
          <div class="box__link display__desktop"><a class="link x-small" href="#">Leer más
              <svg class="svg__icon">
                <use xlink:href="../../src/iconos/arrow-link.svg#arrow-link"></use>
              </svg></a></div>
        </div>
        <div class="box">
          <div><span class="tag__entusiastas box__tag--bloq2"> Etiqueta 01</span><img class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg" alt=""></div>
          <h4 class="box__title primaryfont__bold--800">La sostenibilidad como negocio virtuoso</h4>
          <p class="box__description text-small">El director de la Fundación Restaurantes Sostenibles, Sergio Gil, aboga por una concepción pragmática de la gestión sostenible que no se apoya solo en la ideología y la ética, sino que apunta a la rentabilidad de las empresas de hostelería.</p>
          <div class="box__link display__desktop"><a class="link x-small" href="#">Leer más
              <svg class="svg__icon">
                <use xlink:href="../../src/iconos/arrow-link.svg#arrow-link"></use>
              </svg></a></div>
        </div>
        <div class="box">
          <div><span class="tag__entusiastas box__tag--bloq2"> Etiqueta 01</span><img class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg" alt=""></div>
          <h4 class="box__title primaryfont__bold--800">Maneras de convertir el desperdicio en beneficio</h4>
          <p class="box__description text-small">Jóvenes reconocidos por la iniciativa Talento Joven de la Gastronomía compartieron en una mesa redonda online sus experiencias y su percepción de cuáles son las posibles soluciones para reducir y aprovechar los desechos en todos los eslabones de la cadena.</p>
          <div class="box__link display__desktop"><a class="link x-small" href="#">Leer más
              <svg class="svg__icon">
                <use xlink:href="../../src/iconos/arrow-link.svg#arrow-link"></use>
              </svg></a></div>
        </div>
      </section>
    </main>
  </body>
</html>