<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <link link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600&amp;family=League+Spartan:wght@300;400;500;700;800&amp;display=swap" rel="stylesheet">
  </head>
  <body> 
    <main>
      <section class="padding box__background--home display__desktop">
        <div class="title__link">
          <div>
            <h3 class="primaryfont__bold">Últimas noticias</h3>
          </div>
          <div><a class="link text-small display__desktop" href="#">Ver todas las noticias
              <svg class="svg__icon">
                <use xlink:href="../../src/iconos/arrow-link.svg#arrow-link"></use>
              </svg></a></div>
        </div>
        <div class="padding__bottom-x-large grid__c2">
          <div class="box">
            <div><span class="tag__entusiastas box__tag--bloq2"> Etiqueta 01</span><img class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg" alt=""></div>
            <h4 class="box__title primaryfont__bold">La XII reunión del Consejo Internacional en Girona</h4>
            <p class="box__fecha display__desktop text-small">01/01/2022</p>
            <p class="box__description text-small">En el marco del summit se celebra la reunión del Consejo Internacional de Basque Culinary Center, constituido por algunos de los y las chefs más influyentes y relevantes del mundo. Presidido por Joan Roca, son miembros activos del Consejo Gastón Acurio, Massimo Bottura, Enrique Olvera, Trine Hahnemann, Dominique Crenn y Yoshihiro Narisawa; y miembros fundadores del Consejo Ferrán Adrià, Michel Bras, René Redzepi, Heston Blumenthal, Alex Atala y Dan Barber.</p>
            <div class="box__link display__desktop"><a class="link x-small" href="#">Leer más
                <svg class="svg__icon">
                  <use xlink:href="../../src/iconos/arrow-link.svg#arrow-link"></use>
                </svg></a></div>
          </div>
          <div class="box">
            <div><span class="tag__entusiastas box__tag--bloq2"> Etiqueta 01</span><img class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg" alt=""></div>
            <h4 class="box__title primaryfont__bold">El estudio danés BIG diseñará el edificio GOE en Donostia</h4>
            <p class="box__fecha display__desktop text-small">01/01/2022</p>
            <p class="box__description text-small">La propuesta “Olatuen bidea -Camino de las Olas”, del estudio de arquitectura danés BIG (Bjarke Ingels Group), se ha proclamado vencedora del concurso internacional para la dirección de las obras de construcción del edificio GOe – Gastronomy Open Ecosystem de Donostia San Sebastián, convocado por Basque Culinary Center. Un espacio que simboliza la unión entre gastronomía, talento, ciencia, innovación, emprendimiento y ciudad.</p>
            <div class="box__link display__desktop"><a class="link x-small" href="#">Leer más
                <svg class="svg__icon">
                  <use xlink:href="../../src/iconos/arrow-link.svg#arrow-link"></use>
                </svg></a></div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>