include ../head/head.pug
    main
        section.box__bloque
                div.box
                    div
                        span.tag__entusiastas.box__tag--bloq2  Etiqueta 01
                        img(class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                    h4.box__title.primaryfont__bold--800 Pablo Rivero: una ganadería que imite a la naturaleza
                    p.box__fecha.display__desktop.text-medium 01/01/2022
                    p.box__description.text-small El chef de la parrilla Don Julio de Buenos Aires desgranó en el encuentro Haragi los potenciales beneficios de la ganadería regenerativa y defendió la nobleza de un producto que hoy está en el punto de mira: la carne.
                    div.box__link.display__desktop
                        a(class="link x-small" href="#") Leer más
                            svg( 
                                class="svg__icon", 
                                )
                                    use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")


                div.box
                    div
                        span.tag__entusiastas.box__tag--bloq2  Etiqueta 01
                        img(class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                    h4.box__title.primaryfont__bold--800 La sostenibilidad como negocio virtuoso
                    p.box__fecha.display__desktop.text-medium 01/01/2022
                    p.box__description.text-small El director de la Fundación Restaurantes Sostenibles, Sergio Gil, aboga por una concepción pragmática de la gestión sostenible que no se apoya solo en la ideología y la ética, sino que apunta a la rentabilidad de las empresas de hostelería.
                    div.box__link.display__desktop
                        a(class="link x-small" href="#") Leer más
                            svg( 
                                class="svg__icon", 
                                )
                                    use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")

                div.box
                    div
                        span.tag__entusiastas.box__tag--bloq2  Etiqueta 01
                        img(class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                    h4.box__title.primaryfont__bold--800 Maneras de convertir el desperdicio en beneficio
                    p.box__fecha.display__desktop.text-medium 01/01/2022
                    p.box__description.text-small Jóvenes reconocidos por la iniciativa Talento Joven de la Gastronomía compartieron en una mesa redonda online sus experiencias y su percepción de cuáles son las posibles soluciones para reducir y aprovechar los desechos en todos los eslabones de la cadena.
                    div.box__link.display__desktop
                        a(class="link x-small" href="#") Leer más
                            svg( 
                                class="svg__icon", 
                                )
                                    use(xlink:href="../../src/iconos/arrow-link.svg#arrow-link")


                