<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <link link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600&amp;family=League+Spartan:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
  </head>
  <body> 
    <main>
      <section class="box__bloque display__desktop grid__c2">
        <div class="box">
          <div><span class="tag__entusiastas box__tag--bloq2"> Etiqueta 01</span><img class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg" alt=""></div>
          <h4 class="box__title primaryfont__bold--800">Pablo Rivero: una ganadería que imite a la naturaleza</h4>
          <p class="box__fecha display__desktop text-medium">01/01/2022</p>
          <p class="box__description text-small">El chef de la parrilla Don Julio de Buenos Aires desgranó en el encuentro Haragi los potenciales beneficios de la ganadería regenerativa y defendió la nobleza de un producto que hoy está en el punto de mira: la carne.</p>
          <div class="box__link display__desktop"><a class="link x-small" href="#">Leer más
              <svg class="svg__icon">
                <use xlink:href="../../src/iconos/arrow-link.svg#arrow-link"></use>
              </svg></a></div>
        </div>
        <div class="box">
          <div><span class="tag__entusiastas box__tag--bloq2"> Etiqueta 01</span><img class="box__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg" alt=""></div>
          <h4 class="box__title primaryfont__bold--800">La sostenibilidad como negocio virtuoso</h4>
          <p class="box__fecha display__desktop text-medium">01/01/2022</p>
          <p class="box__description text-small">El director de la Fundación Restaurantes Sostenibles, Sergio Gil, aboga por una concepción pragmática de la gestión sostenible que no se apoya solo en la ideología y la ética, sino que apunta a la rentabilidad de las empresas de hostelería.</p>
          <div class="box__link display__desktop"><a class="link x-small" href="#">Leer más
              <svg class="svg__icon">
                <use xlink:href="../../src/iconos/arrow-link.svg#arrow-link"></use>
              </svg></a></div>
        </div>
      </section>
    </main>
  </body>
</html>