include ../head/head.pug
    main
        div.noticia__principal
            h4.noticia__title.display__mobile Toni Segarra: «No es momento para el marketing».
            div
                span.etiqueta__entusiastas.noticia__tag Etiqueta 01
                img(class="noticia__img" src="../../src/images/img-noticias.jpg", alt="")
            div.noticia__content
                h4.noticia__title.display__desktop Toni Segarra: «No es momento para el marketing».
                h6.noticia__fecha.display__desktop 01/01/2022
                p.noticia__description Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para más bien actuar oportunamente y no oportunistamente como sugiere Toni Segarra, el gurú de la publicidad y uno de los mejores creativos españoles del siglo XX, , convencido de que “lo peor de la crisis todavía está por llegar y algunos términos como confianza y actitud empezarán a sonar pasado el verano”. 
                a(class="link noticia__link display__desktop" href="#") Leer más 
            
        section.noticia__bloque

            div.noticia
                div
                    span.etiqueta__entusiastas.noticia__tag--bloq2  Etiqueta 01
                    img(class="noticia__img display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                h4.noticia__title Toni Segarra: «No es momento para el marketing».
                p.noticia__description “Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para actuar oportunamente y no oportunistamente”, sugiere Toni Segarra.
                div.noticia__link.display__desktop
                    a(class="link" href="#") Leer más

            div.noticia
                div
                    span.etiqueta__entusiastas.noticia__tag--bloq2  Etiqueta 01
                    img(class="noticia__img display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                h4.noticia__title Toni Segarra: «No es momento para el marketing».
                p.noticia__description “Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para actuar oportunamente y no oportunistamente”, sugiere Toni Segarra.
                div.noticia__link.display__desktop
                    a(class="link" href="#") Leer más

            div.noticia
                div
                    span.etiqueta__entusiastas.noticia__tag--bloq2  Etiqueta 01
                    img(class="noticia__img display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                h4.noticia__title Toni Segarra: «No es momento para el marketing».
                p.noticia__description “Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para actuar oportunamente y no oportunistamente”, sugiere Toni Segarra.
                div.noticia__link.display__desktop
                    a(class="link" href="#") Leer más
