<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
  </head>
  <body> 
    <main>
      <section class="noticia__bloque">
        <div class="noticia">
          <div><span class="etiqueta__entusiastas noticia__tag--bloq2"> Etiqueta 01</span><img class="noticia__img display__desktop" src="../../src/images/img-noticias.jpg" alt=""></div>
          <h4 class="noticia__title">Toni Segarra: «No es momento para el marketing».</h4>
          <p class="noticia__description">“Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para actuar oportunamente y no oportunistamente”, sugiere Toni Segarra.</p>
          <div class="noticia__link display__desktop"><a class="link" href="#">Leer más</a></div>
        </div>
        <div class="noticia">
          <div><span class="etiqueta__entusiastas noticia__tag--bloq2"> Etiqueta 01</span><img class="noticia__img display__desktop" src="../../src/images/img-noticias.jpg" alt=""></div>
          <h4 class="noticia__title">Toni Segarra: «No es momento para el marketing».</h4>
          <p class="noticia__description">“Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para actuar oportunamente y no oportunistamente”, sugiere Toni Segarra.</p>
          <div class="noticia__link display__desktop"><a class="link" href="#">Leer más</a></div>
        </div>
        <div class="noticia">
          <div><span class="etiqueta__entusiastas noticia__tag--bloq2"> Etiqueta 01</span><img class="noticia__img display__desktop" src="../../src/images/img-noticias.jpg" alt=""></div>
          <h4 class="noticia__title">Toni Segarra: «No es momento para el marketing».</h4>
          <p class="noticia__description">“Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para actuar oportunamente y no oportunistamente”, sugiere Toni Segarra.</p>
          <div class="noticia__link display__desktop"><a class="link" href="#">Leer más</a></div>
        </div>
      </section>
    </main>
  </body>
</html>