include ../head/head.pug
    main
        div.title__link
            div
                p.text-large Gastronomía 360
                h1.primaryfont__bold--800 Una visión integral
            div
                a(class="link text-small display__desktop" href="#") Acceder a gastronomía 360
        div.noticia__principal
            h3.noticia__title.display__mobile.primaryfont__bold--800 Toni Segarra: «No es momento para el marketing».
            div
                span.etiqueta__entusiastas.noticia__tag Etiqueta 01
                img(class="noticia__img" src="../../src/images/img-noticias.jpg", alt="")
            div.noticia__content
                h3.noticia__title.display__desktop.primaryfont__bold--800 Toni Segarra: «No es momento para el marketing».
                p.noticia__fecha.display__desktop.text-medium.primaryfont__bold--600 01/01/2022
                p.noticia__description.text-medium Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para más bien actuar oportunamente y no oportunistamente como sugiere Toni Segarra, el gurú de la publicidad y uno de los mejores creativos españoles del siglo XX, , convencido de que “lo peor de la crisis todavía está por llegar y algunos términos como confianza y actitud empezarán a sonar pasado el verano”. 
                a(class="link text-small noticia__link display__desktop" href="#") Leer más 
            
        section.noticia__bloque
                div.noticia
                    div
                        span.etiqueta__entusiastas.noticia__tag--bloq2  Etiqueta 01
                        img(class="noticia__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                    h4.noticia__title.primaryfont__bold--800 Pablo Rivero: una ganadería que imite a la naturaleza
                    p.noticia__description.text-small El chef de la parrilla Don Julio de Buenos Aires desgranó en el encuentro Haragi los potenciales beneficios de la ganadería regenerativa y defendió la nobleza de un producto que hoy está en el punto de mira: la carne.
                    div.noticia__link.display__desktop
                        a(class="link x-small" href="#") Leer más

                div.noticia
                    div
                        span.etiqueta__entusiastas.noticia__tag--bloq2  Etiqueta 01
                        img(class="noticia__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                    h4.noticia__title.primaryfont__bold--800 La sostenibilidad como negocio virtuoso
                    p.noticia__description.text-small El director de la Fundación Restaurantes Sostenibles, Sergio Gil, aboga por una concepción pragmática de la gestión sostenible que no se apoya solo en la ideología y la ética, sino que apunta a la rentabilidad de las empresas de hostelería.
                    div.noticia__link.display__desktop
                        a(class="link x-small" href="#") Leer más

                div.noticia
                    div
                        span.etiqueta__entusiastas.noticia__tag--bloq2  Etiqueta 01
                        img(class="noticia__img--bloq2 display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                    h4.noticia__title.primaryfont__bold--800 Maneras de convertir el desperdicio en beneficio
                    p.noticia__description.text-small Jóvenes reconocidos por la iniciativa Talento Joven de la Gastronomía compartieron en una mesa redonda online sus experiencias y su percepción de cuáles son las posibles soluciones para reducir y aprovechar los desechos en todos los eslabones de la cadena.
                    div.noticia__link.display__desktop
                        a(class="link x-small" href="#") Leer más

                
