include ../head/head.pug
    main
        section.noticia__bloque

                div.noticia
                    div
                        span.etiqueta__entusiastas.noticia__tag--bloq2  Etiqueta 01
                        img(class="noticia__img display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                    h4.noticia__title Toni Segarra: «No es momento para el marketing».
                    p.noticia__description “Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para actuar oportunamente y no oportunistamente”, sugiere Toni Segarra.
                    div.noticia__link.display__desktop
                        a(class="link" href="#") Leer más

                div.noticia
                    div
                        span.etiqueta__entusiastas.noticia__tag--bloq2  Etiqueta 01
                        img(class="noticia__img display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                    h4.noticia__title Toni Segarra: «No es momento para el marketing».
                    p.noticia__description “Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para actuar oportunamente y no oportunistamente”, sugiere Toni Segarra.
                    div.noticia__link.display__desktop
                        a(class="link" href="#") Leer más

                div.noticia
                    div
                        span.etiqueta__entusiastas.noticia__tag--bloq2  Etiqueta 01
                        img(class="noticia__img display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                    h4.noticia__title Toni Segarra: «No es momento para el marketing».
                    p.noticia__description “Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para actuar oportunamente y no oportunistamente”, sugiere Toni Segarra.
                    div.noticia__link.display__desktop
                        a(class="link" href="#") Leer más

                