<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
  </head>
  <body> 
    <main>
      <div class="noticia__principal">
        <h4 class="noticia__title display__mobile">Toni Segarra: «No es momento para el marketing».</h4>
        <div><span class="etiqueta__entusiastas noticia__tag">Etiqueta 01</span><img class="noticia__img" src="../../src/images/img-noticias.jpg" alt=""></div>
        <div class="noticia__content">
          <h4 class="noticia__title display__desktop">Toni Segarra: «No es momento para el marketing».</h4>
          <h6 class="noticia__fecha display__desktop">01/01/2022</h6>
          <p class="noticia__description">Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para más bien actuar oportunamente y no oportunistamente como sugiere Toni Segarra, el gurú de la publicidad y uno de los mejores creativos españoles del siglo XX, , convencido de que “lo peor de la crisis todavía está por llegar y algunos términos como confianza y actitud empezarán a sonar pasado el verano”. </p><a class="link noticia__link display__desktop" href="#">Leer más </a>
        </div>
      </div>
      <section class="noticia__bloque">
        <div class="noticia">
          <div><span class="etiqueta__entusiastas noticia__tag--bloq2"> Etiqueta 01</span><img class="noticia__img display__desktop" src="../../src/images/img-noticias.jpg" alt=""></div>
          <h4 class="noticia__title">Toni Segarra: «No es momento para el marketing».</h4>
          <p class="noticia__description">“Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para actuar oportunamente y no oportunistamente”, sugiere Toni Segarra.</p>
          <div class="noticia__link display__desktop"><a class="link" href="#">Leer más</a></div>
        </div>
        <div class="noticia">
          <div><span class="etiqueta__entusiastas noticia__tag--bloq2"> Etiqueta 01</span><img class="noticia__img display__desktop" src="../../src/images/img-noticias.jpg" alt=""></div>
          <h4 class="noticia__title">Toni Segarra: «No es momento para el marketing».</h4>
          <p class="noticia__description">“Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para actuar oportunamente y no oportunistamente”, sugiere Toni Segarra.</p>
          <div class="noticia__link display__desktop"><a class="link" href="#">Leer más</a></div>
        </div>
        <div class="noticia">
          <div><span class="etiqueta__entusiastas noticia__tag--bloq2"> Etiqueta 01</span><img class="noticia__img display__desktop" src="../../src/images/img-noticias.jpg" alt=""></div>
          <h4 class="noticia__title">Toni Segarra: «No es momento para el marketing».</h4>
          <p class="noticia__description">“Es momento de hacer. De pasar del dicho al hecho. De rehuir del márketing y las falsas promesas para actuar oportunamente y no oportunistamente”, sugiere Toni Segarra.</p>
          <div class="noticia__link display__desktop"><a class="link" href="#">Leer más</a></div>
        </div>
      </section>
    </main>
  </body>
</html>