<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600&amp;family=League+Spartan:wght@300;400;500;700;800&amp;display=swap" rel="stylesheet">
  </head>
  <body> 
    <div class="submenu__container"> 
      <nav class="topbar"> 
        <ul> 
          <li class="topbar__subemnu"> <i class="topbar__submenu"></i><a class="topbar__submenu--link" href="">Accesos </a>
            <ul class="topbar__submenu--list"> 
              <li><a class="topbar__submenu--link" href="#">Submenú 1</a></li>
              <li><a class="topbar__submenu--link" href="#">Submenú 1</a></li>
              <li><a class="topbar__submenu--link" href="#">Submenú 1</a></li>
              <li><a class="topbar__submenu--link" href="#">Submenú 1</a></li>
            </ul>
          </li>
          <li> <a class="topbar__submenu--link" href="#">Contacto</a></li>
          <li> <a class="topbar__submenu--link" href="#">Tienda BCC</a></li>
          <li class="topbar__subemnu"> <i class="topbar__submenu"></i><a class="topbar__submenu--link" href="">ES</a>
            <ul class="topbar__submenu--list"> 
              <li><a class="topbar__submenu--link" href="#">FR</a></li>
              <li><a class="topbar__submenu--link" href="#">EN</a></li>
              <li><a class="topbar__submenu--link" href="#">CA</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <script src="tobpar.js"></script>
  </body>
</html>