include ../head/head.pug

        block content

            .submenu__container 
                nav.topbar 
                    ul 
                        li 
                            a(class="topbar__submenu--link" href="#") Inicio
                        li 
                            a(class="topbar__submenu--link" href="#") Tienda BCC
                        li.topbar__subemnu 
                            i.topbar__submenu
                            a(class="topbar__submenu--link" href="") Accesos 
                            ul.topbar__submenu--list 
                                li
                                    a(class="topbar__submenu--link" href="#") Submenú 1
                                li
                                    a(class="topbar__submenu--link" href="#") Submenú 1
                                li
                                    a(class="topbar__submenu--link" href="#") Submenú 1
                                li
                                    a(class="topbar__submenu--link" href="#") Submenú 1
            script(src="") 


