include ../head/head.pug

        block content

            .submenu__container 
                nav.topbar 
                    ul 
                        li.topbar__subemnu 
                            i.topbar__submenu
                            a(class="topbar__submenu--link" href="") Accesos 
                            ul.topbar__submenu--list 
                                li
                                    a(class="topbar__submenu--link" href="#") Submenú 1
                                li
                                    a(class="topbar__submenu--link" href="#") Submenú 1
                                li
                                    a(class="topbar__submenu--link" href="#") Submenú 1
                                li
                                    a(class="topbar__submenu--link" href="#") Submenú 1
                        li 
                            a(class="topbar__submenu--link" href="#") Contacto
                        li 
                            a(class="topbar__submenu--link" href="#") Tienda BCC
                        li.topbar__subemnu 
                            i.topbar__submenu
                            a(class="topbar__submenu--link" href="") ES
                            ul.topbar__submenu--list 
                                li
                                    a(class="topbar__submenu--link" href="#") FR
                                li
                                    a(class="topbar__submenu--link" href="#") EN
                                li
                                    a(class="topbar__submenu--link" href="#") CA
            script(src="tobpar.js")


