include ../components/column/component-target-info-event.pug
include ../components/column/component-target-garamond.pug
include ../components/column/component-target-garamond-complete.pug
include ../components/column/component-vertical-line.pug
include ../components/column/component-noticia-principal.pug
include ../components/column/component-noticia-target.pug
include ../components/column/component-title-link.pug
include ../components/column/component-title.pug
include ../components/column/component-mobile-card-img.pug
include ../components/column/component-column-icon.pug
include ../components/layout/head.pug
    block content
        main
            //- menu
            div.padding__bottom-x-large
                
                include ../components/menu/menu-section.pug
                include ../components/menu/menu-gradient.pug
                include ../components/menu/menu.pug
                include ../components/menu/topbar.pug
                +menu-gradient("gradient__innovation")
            //- layout
            .grid__c3.padding__bottom-x-large
                div
                    include ../components/layout/button.pug
                div
                    include ../components/layout/checkbox.pug
                    include ../components/layout/switch.pug
                div
                    include ../components/layout/filtro.pug
                    .padding__bottom-large
                        include ../components/layout/tag.pug
                    include ../components/layout/input.pug
            include ../components/layout/accordion.pug
            section.padding.content__center.content__max.grid__c5.padding__bottom-x-large
                +component-vertical-line("", "display__one")
                +component-vertical-line("", "display__one")
                +component-vertical-line("", "display__one")
                +component-vertical-line("", "display__one")
                +component-vertical-line("", "display__one")
            section.padding.content__center.content__max.grid__c5.padding__bottom-x-large
                +component-vertical-line("display__none", "")
                +component-vertical-line("display__none", "")
                +component-vertical-line("display__none", "")
                +component-vertical-line("display__none", "")
                +component-vertical-line("display__none", "")
            
            +component-title("", "", "")
            +component-noticia-principal("", "", "", "display__none", "")
            +component-noticia-principal("", "", "", "", "display__one")
            section.padding.box__background--innovation
                div.display__flex.gap.content__max.content__center
                    +component-noticia-target("", "box__tag", "", "", "", "", "display__none")
                    +component-noticia-target("", "", "box__tag--bloq2", "", "display__desktop", "", "display__none")
                    +component-noticia-target("", "", "box__tag--bloq2", "", "display__desktop", "", "display__none")
            //- Últimas noticias, columna de 2
            section.padding.box__background--innovation
                div.display__flex.gap.content__max.content__center
                    +component-noticia-target("", "box__tag", "", "", "", "", "display__none")
                    +component-noticia-target("", "box__tag", "", "", "", "", "display__none")
                
            //- tabs
            .padding__bottom-x-large.content__center.content__max
                include ../components/tabs/tabs.pug
            .grid__c3
                //- column
                include ../components/column/card-column.pug 
            
            //- mobile cambio color grado, máster...
            +component-mobile-card-img("card__color-entusiastas")
            +component-mobile-card-img("card__color-grado")
            +component-mobile-card-img("card__color-master")

            section.display__flex.gap.content__center.content__max
                +component-target-info-event("", "display__none", "")
                +component-target-info-event( "", "display__none", "")  
            //- innovation
            section.padding.box__background--innovation
                div.content__max.content__center
                    +component-title-link("", "")
                    +component-title-link("", "")
                    +component-title("", "")
                div.display__flex.gap.content__max.content__center
                        +component-target-info-event("box__icon--date-innovation", "", "display__one")
                        +component-target-info-event("box__icon--date-innovation", "", "display__one")
                        +component-target-info-event("box__icon--date-innovation", "", "display__one")
                        div.padding.display__mobile
                            a.btn__primary--small-color(href="#") ver más   
            section.gap.padding__bottom-x-large.content__center.content__max.display__flex
                +component-target-garamond("", "display__mobile", "", "display__one")
                +component-target-garamond("display__desktop", "display__mobile", "display__none", "")
                +component-target-garamond("display__desktop", "display__mobile", "display__none", "")
            section.padding__bottom-x-large.content__center.content__max.display__flex
                +component-target-garamond-complete("", "", "display__mobile", "", "display__one")
                +component-target-garamond-complete("", "display__desktop", "display__mobile", "display__none", "")
                +component-target-garamond-complete("", "display__desktop", "display__mobile", "display__none", "")
            //- column icon
            section.content__center.content__max
                +component-title("", "", "")
                div.display__flex.content__center.content__max
                    +component-column-icon()
                    +component-column-icon()
                    +component-column-icon()
            
            //- footer
            include ../components/layout/footer.pug

    script(src="../js/function.js")  
    script(src="../js/accordion.js")      
        

            
