include ../components/column/component-target-info-event.pug
include ../components/column/component-target-garamond.pug
include ../components/layout/head.pug
    block content
        main
            //- menu
            div.padding__bottom-x-large
                
                include ../components/menu/menu-section.pug
                include ../components/menu/menu-gradient.pug
                include ../components/menu/menu.pug
                include ../components/menu/topbar.pug
            //- layout
            .grid__c3.padding__bottom-x-large
                div
                    include ../components/layout/button.pug
                div
                    include ../components/layout/checkbox.pug
                    include ../components/layout/switch.pug
                div
                    include ../components/layout/filtro.pug
                    .padding__bottom-large
                        include ../components/layout/tag.pug
                    include ../components/layout/input.pug
            .padding__bottom-x-large
                include ../components/layout/accordion.pug
            .padding__bottom-x-large
                include ../components/layout/vertical-line-column.pug
            //- tabs
            .padding__bottom-x-large
                include ../components/tabs/tabs.pug
            .grid__c3
                //- column
                include ../components/column/card-column.pug 
            include ../components/column/component-mobile-card-img.pug
            include ../components/column/component-target-principal.pug
            //- añadimos las clases que convertirán este componente
            section.display__flex
                +component-target-info-event("", "", "display__none")
                +component-target-info-event("", "", "display__none")
            section.display__flex
                +component-target-info-event("box__background--innovation", "box__icon--date-innovation", "")
                +component-target-info-event("box__background--innovation", "box__icon--date-innovation", "")
            section.display__flex
                +component-target-info-event("", "")
                +component-target-info-event("", "")
            section.padding__bottom-x-large.center__content.display__flex
                +component-target-garamond("", "display__mobile", "", "display__one")
                +component-target-garamond("display__desktop", "display__mobile", "display__none", "")
                +component-target-garamond("display__desktop", "display__mobile", "display__none", "")

                

            
            .padding__bottom-x-large
            include ../components/column/column-3-innovation.pug 
            include ../components/column/column-icon.pug 
            .padding__bottom-x-large
                include ../components/column/noticia-bloq1.pug
            .padding__bottom-x-large
                include ../components/column/noticias-bloq2.pug 
            .padding__bottom-x-large
                include ../components/column/noticias-column-2.pug 
            
            //- footer
            include ../components/layout/footer.pug

    script(src="../js/function.js")  
    script(src="../js/accordion.js")      
        

            
