include ../head/head.pug
    main
        section.box__principal--margin
            div
                p.text-large Innovación
                h1.title__link.primaryfont__bold--800 Un motor de cambio
            div.box__bloque.grid
                div
                    img(class="box__img display__desktop" src="../../src/images/img-noticias.jpg", alt="")
                div.box__content.grid__c4
                    p.box__description.text-medium  Bcc Innovation es un Centro Tecnológico Sectorial en Gastronomía cuya misión es investigar y generar conocimiento</span> aplicado sobre gastronomía y experiencia culinaria. 
                    p.text-medium Este conocimiento es transferido a los profesionales de la alta cocina, a todos los agentes implicados en la cadena de valor de la alimentación y a la sociedad en su globalidad.
                    div.display__desktop
                        a.btn__primary--large-color(href="#")
                            p.text-small Acceder a innovación
        section.grid
            h3.primaryfont__bold--800 Líneas de investigación
            section.grid__c5
                div.card.card__border
                    img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
                    .card__details-investigacion
                        p.text-small.card__title Salud
                        p.text-small.card__description Definición de estrategias para la promoción de hábitos alimentarios saludables en diferentes colectivos.

                div.card.card__border
                    img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
                    .card__details-investigacion
                        p.text-small.card__title Análisis sensorial
                        p.text-small.card__description Desarrollo de estudios que conectan emociones y alimentos, de forma implícita  y explícita.

                div.card.card__border
                    img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
                    .card__details-investigacion
                        p.text-small.card__title Sostenibilidad
                        p.text-small.card__description Revalorización de co-productos a través de su inclusión en nuevos sistemas alimentarios de alto valor.

                div.card.card__border
                    img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
                    .card__details-investigacion
                        p.text-small.card__title Desarrollo de producto
                        p.text-small.card__description Diseño y desarrollo de nuevos productos alimentarios a nivel de laboratorio, y listos para su posterior escalado.

                div.card.card__border
                    img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
                    .card__details-investigacion
                        p.text-small.card__title Digitalización
                        p.text-small.card__description  Ayudamos a aplicar nuevos entornos digitales a negocios ligados al sector y mejorar procesos. 