include ../head/head.pug
    main
    section.card__desktop
        div.card.card__border
            img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
            .card__details-investigacion-title
                h3 Salud
                p Definición de estrategias para la promoción de hábitos alimentarios saludables en diferentes colectivos.

        div.card.card__border
            img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
            .card__details-investigacion-title
                h3 Análisis sensorial
                p Desarrollo de estudios que conectan emociones y alimentos, de forma implícita  y explícita.

        div.card.card__border
            img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
            .card__details-investigacion-title
                h3 Sostenibilidad
                p Revalorización de co-productos a través de su inclusión en nuevos sistemas alimentarios de alto valor.

        div.card.card__border
            img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
            .card__details-investigacion-title
                h3 Desarrollo de producto
                p Diseño y desarrollo de nuevos productos alimentarios a nivel de laboratorio, y listos para su posterior escalado.

        div.card.card__border
            img(class="card__img" src="https://unsplash.it/800/600?image=59", alt="")
            .card__details-investigacion-title
                h3 Digitalización
                p Ayudamos a aplicar nuevos entornos digitales a negocios ligados al sector y mejorar procesos.