include ../head/head.pug
    section.filter
        div.filter__text 
            p.text-small.primary-bold--800 Filtrar por:
        div
            span.tag__salud.filter__tag--item Todas
            span.tag__salud.filter__tag--item Salud
            span.tag__salud.filter__tag--item Análisis sensorial
            span.tag__salud.filter__tag--item Sostenibilidad
            span.tag__salud.filter__tag--item Desarrollo de producto
            span.tag__salud.filter__tag--item Digitalización