include ../head/head.pug
    footer.footer__background--home
        div 
            img(class="footer__logo" src="../../src/images/logo-BCC-footer.png", alt="")
            p.x-small.display__desktop Paseo Juan Avelino Barriola, 101,</br> 20009 Donostia-San Sebastián</br> (Gipuzkoa) </br>Tel.: +34 943 574 500 </br>email: info@bculinary.com

        div.footer__column
            nav.footer__menu
                ul.footer__list 
                    li
                        hr.display__mobile
                        a(class="footer__item text-medium primaryfont__bold-800" href="#") Área de prensa
                        hr.display__mobile
                    li
                        a(class="footer__item text-medium primaryfont__bold-800" href="#") Trabaja con nosotros
                        hr.display__mobile
                    li
                        a(class="footer__item text-medium primaryfont__bold-800" href="#") Contacto
                        hr.display__mobile
                    li
                        a(class="footer__item text-medium primaryfont__bold-800" href="#") Perfil del contratante
                        hr.display__mobile 
            div.footer__copyright 
                p.footer__copyright--text.text-medium Copyright © 2022 Basque Culinary Center. Todos los derechos reservados.
                p.footer__copyright--text.text-medium Política de privacidad  I  Uso de cookies  I  Condiciones de uso  I  Ventas y reembolsos  I  Avisos legales  I  Mapa del sitio
