<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
  </head>
  <body> 
  </body>
</html><span class="etiqueta__grado">Grado</span><span class="etiqueta__master">Máster</span><span class="etiqueta__doctorado">Doctorado</span><span class="etiqueta__profesionales">Curso para profesionales</span><span class="etiqueta__entusiastas">Curso para entusiastas</span><span class="etiqueta__card--producto">Producivity</span>