include ../head/head.pug

//- Etiquetas formación
span.etiqueta__grado Grado
span.etiqueta__master Máster
span.etiqueta__doctorado Doctorado
span.etiqueta__profesionales Curso para profesionales
span.etiqueta__entusiastas Curso para entusiastas

//- Etiquetas card-producto
span.etiqueta__card--producto Producivity
