<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@100;400;600;700;800&amp;family=League+Spartan:wght@400;800&amp;display=swap" rel="stylesheet">
  </head>
  <body> 
  </body>
</html><span class="tag__grado">Grado</span><span class="tag__master">Máster</span><span class="tag__doctorado">Doctorado</span><span class="tag__profesionales">Curso para profesionales</span><span class="tag__entusiastas">Curso para entusiastas</span><span class="tag__card--grey">Producivity</span><span class="tag__card--border">Producivity</span>