include ../head/head.pug

        block content
            //- home
            div.gradient__home
                p.text-small.gradient__text Ven a disfrutar de nuestra cocina  
                    a(class="primaryfont__bold--400" href="#") Restaurantes
            //- innovation
            div.gradient__innovation
                p.text-small.gradient__text BCC Innovation 
            