include ../head/head.pug

        block content
        
            div.gradient__home
                p.text-small.gradient__text Ven a disfrutar de nuestra cocina  
                    a(class="primaryfont__bold--400" href="#") Restaurantes

            