.accordion {
    width: 100%;
    border: none;
    color: #444;
    padding: $small;
    cursor: pointer;
    outline: none;
    text-align: left;
    text-transform: uppercase;
    font-size: clamp(1.1rem, -0.875rem + 8.333vw, 1.2rem);
    border-radius: $btnprimary-radius;
    font-family: $primary-font;
    &::after {
        content: url("../../src/iconos/accordion-open.svg");
        float: right;
    }
    &__item {
        margin-bottom: $regular;
    }
    &__background {
        background-color: $c-monocromo-200;
        &-innovation {
            background-color: rgba($c-marcas-bcc-innovation, 0.1);
        }
    }


}
.order {
    order: 1;
}
.active {
    &.accordion {
        border-radius: $btnprimary-radius $btnprimary-radius 0 0;
    }
    &::after{
        content: url("../../src/iconos/accordion-closed.svg");
        float: right;
    }
}
.panel {
    padding: 0 $small;
    display: none;
    height: auto;
    color: $c-monocromo-700;
    overflow: hidden;
    transition: all 0.2s ease-out;
    border-radius: 0 0 $btnprimary-radius $btnprimary-radius;
    &__background {
        background-color: $c-monocromo-200;
        &-innovation {
            background-color: rgba($c-marcas-bcc-innovation, 0.1);
        }
    }
}

.visible {
    display: block;
}