/*------------------------------------*\
    BOX
\*------------------------------------*/
.box {
    border-bottom: 1px solid $c-monocromo-900;
    @include respond-to(large) {
        border-bottom: 0;
    }
    &__background {
        background-color: $c-monocromo-100;
        &--innovation {
            background-color: rgba($c-marcas-bcc-innovation, .1);
        }
    }
    &__icon {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        &--date {
            @extend .box__icon;
            align-items: center;
            padding-right: $small;
            margin-bottom: 0.3rem;
            &-innovation{
                color: $c-marcas-bcc-innovation;
                padding-right: $x-small;
            }
            &-home{
                color: $c-primary-default;
                padding-right: $x-small;
            }
        }
    }
    &__bloque {
        padding-bottom: $x-regular;
        gap: 30px;
        @include respond-to(large) {
            display: flex;
        }
    }
    &__principal {
        @extend .box;
        gap: $regular;
        @include respond-to(large) {
            display: flex;
            margin-bottom: $x-large;
        }
        &--margin {
            padding-bottom: $regular;
            @include respond-to(large) {
                margin-bottom: $xx-large;
            }
        }
    }
    &__title {
        padding: $xx-small 0;
        @include respond-to(large) {
            order: 0;
        }
        &--date {
            margin: $small 0 $x-small 0;
        }
    }
    &__date {
        display: flex;
        padding-bottom: $x-regular;
        width: 100%;
        &--space {
            padding-right: $small;
        }
        &--width {
            width: 100%;
        }
    }
    &__description {
        margin: $x-small 0;
        &--date {
            margin: $x-small 0;
        }
    }
    &__tag {
        position: absolute;
        display: flex;
        margin-left: -4px;
        margin-top: -4px;
        color: $c-advertencia-bg;
        @include respond-to(large) {
            margin-left: -8px;
            margin-top: -8px;
        }
        &--bloq2 {
            display: inline;
            margin: $x-regular 0 0 0;
            @include respond-to(large) {
                position: absolute;
                display: flex;
                margin-left: -8px;
                margin-top: -8px;
            }
        }
        &--space {
            margin-right: 10px;
            margin-bottom: $x-small;
        }
    }
    &__img {
        width: 100%;
        padding-bottom: $x-small;
        border-radius: $x-small;
        object-fit: cover;
        object-position: center;
        &--bloq2 {
            border-radius: 20px 20px 0 0;
            height: 300px;
            width: 100%;
            object-fit: cover;
            object-position: center;
            margin-bottom: $xx-small;
            &-border {
                @extend .box__img--bloq2;
                border-radius: $x-small;
                
            }
        }
    }
    &__link {
        @include respond-to(large) {
            order: 1;
        }
    }
    &__content {
        @include respond-to(large) {
            width: 35%;
            flex-direction: column;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
        }
    }
}