/*------------------------------------*\
    BOX
\*------------------------------------*/
.box {
    border-bottom: 1px solid $c-monocromo-900;
    @include respond-to(large) {
        border-bottom: 0;
    }
    &__background {
        background-color: $c-monocromo-100;
        &--innovation {
            background-color: rgba($c-marcas-bcc-innovation, .1);
        }
        &--action {
            background-color: $c-marcas-culinary-action-light;
        }
        &--white {
            background-color: $c-white;
        }
    }
    &__icon {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        
        &--tag {
            @extend .box__icon;
            margin-top: $regular;
        }
        &--date {
            @extend .box__icon;
            padding-right: $small;
            &-innovation{
                color: $c-marcas-bcc-innovation;
                padding-right: $x-small;
            }
            &-home{
                color: $c-primary-default;
                padding-right: $x-small;
            }
        }
    }
    &__bloque {
        padding-bottom: $x-regular;
        gap: 30px;
        @include respond-to(large) {
            display: flex;
        }
    }
    &__principal {
        @extend .box;
        @include respond-to(large) {
            display: flex;
        }
        &--margin {
            padding-bottom: $regular;
            @include respond-to(large) {
                margin-bottom: $xx-large;
            }
        }
    }
    &__title {
        padding: $xx-small 0;
        @include respond-to(large) {
            order: 0;
        }
        &--date {
            margin: $small 0 $x-small 0;
        }
    }
    &__date {
        display: flex;
        width: 100%;
        // padding-bottom: $small;
        &--space {
            padding-right: $small;
        }
        &--width {
            width: 100%;
        }
    }
    &__description {
        margin: 0 0 $regular 0;
        &--date {
            margin: $x-small 0;
        }
    }
    &__tag {
        position: absolute;
        display: flex;
        margin-left: -4px;
        margin-top: -4px;
        @include respond-to(large) {
            margin-left: -8px;
            margin-top: -8px;
        }
        &--margin {
            @extend .box__tag;
            @include respond-to(large) {
                margin-left: 10px;
                margin-top: -8px;
            }
        }
        &--bloq2 {
            display: inline;
            margin: $x-regular 0 0 0;
            @include respond-to(large) {
                position: absolute;
                display: flex;
                margin-left: -8px;
                margin-top: -8px;
            }
        }
        &--space {
            margin-right: 10px;
            margin-bottom: $x-small;
        }
    }
    &__img {
        width: 100%;
        padding-bottom: $x-small;
        @include respond-to(large) {
            padding-bottom: 0;
        }
        border-radius: $small;
        object-fit: cover;
        object-position: center;
        &--bloq2 {
            border-radius: $small $small 0 0;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
        &--border {
            @extend .box__img;
            border-radius: $small $small 0 0;
            padding-bottom: 0;
            border-bottom: 5px solid $c-primary-darkmode;
        }
    }
    &__content {
        @include respond-to(large) {
            flex-direction: column;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
        }
        &--justify {
            @include respond-to(large) {
                flex-direction: column;
                display: flex;
                justify-content: space-between;
            }
        }
        &--right {
            @extend .box__content;
            @include respond-to(large) {
            order: 2;
            }
        }
    }
    &__color{
        &-home {
            color: $c-primary-default;
        }
    }
}