/* Experiences */
.bullet {
    margin: 0;
    &__none-margin {
        padding-left: 0;
    }
    &__line {
        list-style: none;
        position:relative; 
        margin-bottom: 0;
        padding-bottom: $large;
        &:before {
            content:"";
            position: absolute;
            border-left: 1px solid red;
            height: 100%;
            width: 1px;
        }
        &-home {
            @extend .bullet__line;
            &:before {
                content:"";
                position: absolute;
                border-left: 1px solid $c-primary-dark;
                height: 100%;
                width: 1px;
            }
        }
        &-innovation {
            @extend .bullet__line;
            &:before {
                content:"";
                position: absolute;
                border-left: 1px solid $c-marcas-bcc-innovation;
                height: 100%;
                width: 1px;
            }
        }
        &-action {
            @extend .bullet__line;
            &:before {
                content:"";
                position: absolute;
                border-left: 1px solid $c-marcas-culinary-action;
                height: 100%;
                width: 1px;
            }
        }
        &:first-child:before {
            top: 20px;
        }
        &:last-child:before {
            height: 6px;
        }
        &:after {
            margin-left: -8px;
            content: url('../src/iconos/bullet.svg');
            position: absolute;
            top: 5px;
            color: red;
        }
    }
    &__title {
        padding-left: $small;
    }
    &__description {
        display: block;
        padding-left: $small;
    }
}