/*------------------------------------*\
    BUTTONS
\*------------------------------------*/
.btn {
    text-transform: uppercase;
    text-decoration: none;
    align-items: baseline;
    text-align: center;
    width: 100%;
    appearance: button;
    cursor: pointer;
    &__primary {
        @extend .btn;
        border-radius: $btnprimary-radius;
            &--large-color {
                @extend .btn__primary;
                @include btn__primary ($background: color, $size : large);
                &-menu {
                    @extend .btn__primary;
                    padding: 20.5px 35.5px;
                    color: $c-monocromo-100;
                    background-color: $c-primary-default;
                    &:hover {
                        background-color: $c-button-primary;
                    }
                }
                &-width {
                    @extend .btn__primary--large-color;
                    width: auto;
                }
            }
            &--large-nocolor {
                @extend .btn__primary;
                @include btn__primary ($background: nocolor, $size : large);
                &-width {
                    @extend .btn__primary--large-nocolor;
                    width: auto;
                } 
            }
            &--medium-color {
                @extend .btn__primary;
                @include btn__primary ($background: color, $size : medium);
                &-width {
                    @extend .btn__primary--medium-color;
                    width: auto;
                    background-color: $c-primary-default;
                    border: 1px solid $c-primary-default;
                }
                &-menu {
                    @extend .btn__primary--medium-color;
                    color: $c-monocromo-100;
                    background-color: $c-primary-default;
                    &:hover {
                        background-color: $c-button-primary;
                    }
                }
            }
            &--medium-nocolor {
                @extend .btn__primary;
                @include btn__primary ($background: nocolor, $size : medium);
                &-width {
                    @extend .btn__primary--medium-nocolor;
                    width: auto;
                } 
            }
            &--small-color {
                @extend .btn__primary;
                @include btn__primary ($background: color, $size : small);
                &-width {
                    @extend .btn__primary--small-color;
                    width: auto;
                }
                &-menu {
                    @extend .btn__primary--small-color;
                    color: $c-monocromo-100;
                    background-color: $c-primary-default;
                    &:hover {
                        background-color: $c-button-primary;
                    }
                }
            }
            &--small-nocolor {
                @extend .btn__primary;
                @include btn__primary ($background: nocolor, $size : small);
                &-width {
                    @extend .btn__primary--small-nocolor;
                    width: auto;
                }
            }
            // button innovation
            &--medium-color-innovation {
                @extend .btn__primary;
                @include btn__primary ($background: innovationColor, $size : medium);
                font-weight: 400;
                &-width {
                    @extend .btn__primary--medium-color-innovation;
                    width: auto;
                }
            }
            &--medium-nocolor-innovation {
                @extend .btn__primary;
                @include btn__primary ($background: innovationNoColor, $size : medium);
                font-weight: 400;
                &-width {
                    @extend .btn__primary--medium-nocolor-innovation;
                    width: auto;
                }
            }
            &--small-color-innovation {
                @extend .btn__primary;
                @include btn__primary ($background: innovationColor, $size : small);
                font-weight: 400;
                &-width {
                    @extend .btn__primary--small-nocolor-innovation;
                    width: auto;
                }
            }
            &--small-nocolor-innovation {
                @extend .btn__primary;
                @include btn__primary ($background: innovationNoColor, $size : small);
                font-weight: 400;
                &-width {
                    @extend .btn__primary--small-nocolor-innovation;
                    width: auto;
                }
            }
            // button action
            &--medium-color-action {
                @extend .btn__primary;
                @include btn__primary ($background: actionColor, $size : medium);
                font-weight: 400;
                &-width {
                    @extend .btn__primary--medium-color-action;
                    width: auto;
                }
            }
            &--medium-nocolor-action {
                @extend .btn__primary;
                @include btn__primary ($background: actionNoColor, $size : medium);
                font-weight: 400;
                &-width {
                    @extend .btn__primary--medium-nocolor-action;
                    width: auto;
                }
            }
            &--small-color-action {
                @extend .btn__primary;
                @include btn__primary ($background: actionColor, $size : small);
                font-weight: 400;
                &-width {
                    @extend .btn__primary--small-nocolor-action;
                    width: auto;
                }
            }
            &--small-nocolor-action {
                @extend .btn__primary;
                @include btn__primary ($background: actionNoColor, $size : small);
                font-weight: 400;
                &-width {
                    @extend .btn__primary--small-nocolor-action;
                    width: auto;
                }
            }
            // button labe
            &--medium-color-labe {
                @extend .btn__primary;
                @include btn__primary ($background: labeColor, $size : medium);
                font-weight: 400;
                &-width {
                    @extend .btn__primary--medium-color-labe;
                    width: auto;
                }
            }

            &--small-color-labe {
                @extend .btn__primary;
                @include btn__primary ($background: labeColor, $size : small);
                font-weight: 400;
                &-width {
                    @extend .btn__primary--small-nocolor-action;
                    width: auto;
                }
            }
    }
    &__modal {
        @extend .btn;
        border-radius: $btnmodal-radius;
        align-items: baseline;
        appearance: button;
        @include btn__modal ($background: color, $size : large);
    }
}
