/*------------------------------------*\
    CARD
\*------------------------------------*/
.card {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    
    @include respond-to(large) {
        flex-direction: column;        
    }
    &__img {
        max-width: 30%;
        height: auto;
        object-fit: cover; 
        object-position: center;
        &--border {
            @extend .card__img;
            border-right: 5px solid $c-primary-dark;
            height: 100%;   
            &-grado {
                border-right: 5px solid $c-formacion-grado;
            }
            &-master {
                border-right: 5px solid $c-formacion-master;
            }
            &-doctorado {
                border-right: 5px solid $c-formacion-doctorado;
            }
            &-cursos {
                border-right: 5px solid $c-formacion-profesionales;
            }
            &-entusiastas {
                border-right: 5px solid $c-formacion-entusiastas;
            }
            &-formacion {
                border-right: 5px solid $c-marcas-bcc-corporate;
            }
        }
        &--mobile {
            height: 190px;
            width: 100%;
            border-radius: 8px;
            padding: 0 0 $small 0;
            object-fit: cover; 
            object-position: center;
        }
    }
    &__color {
        background-color: $c-monocromo-100;
        &-border {
            @extend .card__color;
            border-radius: $x-small;
        }
    }
    &__center {
        text-align: center;
    }
    &__border {
        border: 1px solid $c-monocromo-600;
        @include respond-to(large) {
            border: none;
        }
        &-radius {
            @extend .card__border;
            border-radius: $x-small;
        }
    }
    &__line {
        @include respond-to(large) {
            border-left: 3px solid $c-primary-dark;
            height: 100%;
            padding: 0;
            
        }
        &--none {
            @include respond-to(large) {
                border-left: 0;
            }
        }
        &--innovation {
            @extend .card__line;
            @include respond-to(large) {
                border-left: 3px solid $c-marcas-bcc-innovation;
            }

        }
    }
    &__description {
        margin-bottom: $small;
    }
    &__title {
        text-transform: uppercase;
        padding: $xx-small 0 ;
            @include respond-to(large) {
                padding: 0 0 $small 0;
            }
    }
    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--margin {
            @include respond-to(large) {
                padding-left: $small;
            }
        }
        &-formacion {
            @extend .card__details;
            color: $c-monocromo-900;
            margin-left: $x-regular;
        }
        &-investigacion {
            @extend .card__details;
            color: $c-monocromo-800;
            background-color: $c-monocromo-200;
            @include respond-to(medium) {
                background-color: $c-monocromo-100;
            }
        }
        h3 {
            margin-block-end: 0.09rem;
            margin-block-start: 1rem;
            text-transform: uppercase;
        }
        
        &-producto {
            @extend .card__details-investigacion;
            margin-block-start: 0.9rem;
            h3 { padding: 0;}
            display: inline-block;
            padding-top: 0.7rem;
        }
    }
}



