.card {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    @include respond-to(medium) {
        flex-direction: column;        
    }
    &__desktop {
        @include respond-to(medium) {
            display: flex;
            gap: 29px;
        }
    }
    &__img {
        max-width: 35%;
        height: auto;
        object-fit: cover; 
        object-position: center;
        @include respond-to(medium) {
            max-width: 100%;
            border-radius: 10px;
        }
    }
    &__border {
        border: 1px solid $c-monocromo-600;
        background-color: $c-monocromo-200;
        @include respond-to(medium) {
            border: none;
            background-color: $c-white;
        }
    }
    &__details {
        padding: 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include respond-to(medium) {
            padding: 0
        }
        &-formacion {
            @extend .card__details;
            font-size: 15px;
            color: $c-monocromo-100;
        }
        &-investigacion {
            @extend .card__details;
            color: $c-monocromo-800;
            background-color: $c-monocromo-200;
            @include respond-to(medium) {
                background-color: $c-white;
            }
            p {
                margin-block-start: 0.5rem;
            }
            &-title {
                @extend .card__details-investigacion;
                h3 {
                margin-block-end: 0.09rem;
                margin-block-start: 1rem;
                font-size: 15px;
                text-transform: uppercase;
                }
            }
        }
        &-producto {
            @extend .card__details-investigacion;
            margin-block-start: 0.9rem;
            h3 { padding: 0;}
            display: inline-block;
            padding-top: 0.7rem;
        }
        
    }
    &__color-grado {
        background-color: $c-formacion-grado;
    }
    &__color-master {
        background-color: $c-formacion-master;
    }
    &__color-doctorado {
        background-color: $c-formacion-doctorado;
    }
    &__color-cursos {
        background-color: $c-formacion-profesionales;
    }
    &__color-entusiastas {
        background-color: $c-formacion-entusiastas;
    }
}





