.card {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: $x-regular;
    @include respond-to(large) {
        flex-direction: column;        
    }
    &__img {
        max-width: 25%;
        height: auto;
        object-fit: cover; 
        object-position: center;
        @include respond-to(large) {
            max-width: 100%;
            border-radius: 10px;
        }
    }
    &__border {
        border: 1px solid $c-monocromo-600;
        background-color: $c-monocromo-200;
        @include respond-to(large) {
            border: none;
            background-color: $c-white;
        }
    }
    &__line {
        @include respond-to(large) {
            border-left: 3px solid $c-primary-dark;
            height: 180px;
        }
    }
    &__description {
        margin-bottom: $xx-small;
    }
    &__title {
        text-transform: none;
        &--color {
            color: $c-primary-dark;
            padding: $xx-small 0 ;
            @include respond-to(large) {
                padding-top: 0;
                padding-bottom: $large;
            }
        }
    }
    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include respond-to(medium) {
            padding: 0;
        }
        &-formacion {
            @extend .card__details;
            color: $c-monocromo-100;
            margin-left: $x-regular;
        }
        &-investigacion {
            @extend .card__details;
            color: $c-monocromo-800;
            background-color: $c-monocromo-200;
            @include respond-to(medium) {
                background-color: $c-white;
            }
        }
        h3 {
            margin-block-end: 0.09rem;
            margin-block-start: 1rem;
            text-transform: uppercase;
        }
        
        &-producto {
            @extend .card__details-investigacion;
            margin-block-start: 0.9rem;
            h3 { padding: 0;}
            display: inline-block;
            padding-top: 0.7rem;
        }
        
    }
    &__color-grado {
        background-color: $c-formacion-grado;
    }
    &__color-master {
        background-color: $c-formacion-master;
    }
    &__color-doctorado {
        background-color: $c-formacion-doctorado;
    }
    &__color-cursos {
        background-color: $c-formacion-profesionales;
    }
    &__color-entusiastas {
        background-color: $c-formacion-entusiastas;
    }
}



