/*------------------------------------*\
    CHECKBOX
\*------------------------------------*/
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
//Escondemos el checkbox del navegador
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
//Custom checkbox
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $c-monocromo-400;
    &__radio {
        @extend .checkmark;
        border-radius: 200px;
    }
}
//Mouse background color hover 
.container:hover input ~ .checkmark {
background-color: $c-primary-default;
    &:hover {
        background-color: $c-primary-default;
    }
}
//Mouse color background
.container input:checked ~ .checkmark {
background-color: $c-primary-default;
    &:hover {
        background-color: $c-primary-default;
    }
}
//Checkmark cuando todavía no está check
.checkmark:after {
content: "";
position: absolute;
display: none;
}
//Checkmark cuando está check
.container input:checked ~ .checkmark:after {
display: block;
}
//Custom checkmark
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid $c-monocromo-100;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}