/*------------------------------------*\
    COLUMN
\*------------------------------------*/
.column {
    display: flex;
    padding-bottom: $x-large;
    @include respond-to(large) {
        padding-bottom: 0;
    }
    &__icon {
        width: 250px;
        margin-right: $small;
    }
    &__title {
        padding-bottom: $xx-small;
    }
    &__text {
        padding-bottom: $x-large;
        &--icon {
            color: $c-primary-dark;
        }
        &--action {
            color: $c-marcas-culinary-action;
        }
    }
    &__desktop {
        @include respond-to(large) {
            display: flex;
            gap: $regular;
        }
    }
}