.etiqueta {
    padding: 3px 8px;
    text-align: center;
    color: $c-monocromo-100;
    letter-spacing: -0.23px;
    border-radius: 8px;
    appearance: button;
        // Etiquetas formación
        &__grado {
            @extend .etiqueta;
            background-color: $c-formacion-grado;
        }
        &__master {
            @extend .etiqueta;
            background-color: $c-formacion-master;
        }
        &__doctorado {
            @extend .etiqueta;
            background-color: $c-formacion-doctorado;
        }
        &__profesionales {
            @extend .etiqueta;
            background-color: $c-formacion-profesionales;
        }
        &__entusiastas {
            @extend .etiqueta;
            background-color: $c-formacion-entusiastas;
        }

        // Etiquetas card-producto
        &__card--producto {
            @extend .etiqueta;
            color: $c-suceso-default;
            border: 2px solid $c-suceso-default;
            background-color: $c-white;
        }
}