/*------------------------------------*\
    FILTER
\*------------------------------------*/
.filter {
    padding: 0 16px 16px 16px;
    &__text {
        padding: $small $x-small;
    }
    &__tag {
        gap: 30px;
        &--item {
            margin: $x-small;
            text-decoration: none;
            a {
                line-height: 0;
            }
        }
    }
}