.form {
    &__inputs{
        display: inline;
        width: 100%;
        @include respond-to(large) {
            display: inline-flex;
            width: 100%;
        }
    }
    &__policity {
        @include respond-to(large) {
            max-width: 100%;
        }
        &-text {
            padding-left: $large;
        }
    }
}