.form {
    &__inputs{
        display: inline;
        width: 100%;
        @include respond-to(large) {
            display: inline-flex;
            width: 100%;
        }
    }
    &__policity {
        @include respond-to(large) {
            max-width: 100%;
        }
        &-text {
            padding-left: $large;
        }
    }
}
.submit {
    &__desktop {
        @include respond-to(medium) {
            text-align: right;
        }
    }
}
@media all and (max-width: 700px) {
    .submit__desktop {
        display: none;
    }
}
@media all and (min-width: 701px) {
    .submit__mobile {
        display: none;
    }
}