/* form starting stylings ------------------------------- */
.group { 
    position:relative; 
    margin-bottom:45px; 
  }
.input {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    &__simple {
        @extend .input;
        border-bottom: 1px solid #757575;
    }
    &__background {
        @extend .input;
        background-color: $c-monocromo-300;
        border-radius: $btnprimary-radius;
        &:hover,
        &:active,
        &:focus {
            background-color: $c-monocromo-100;
            border: 2px solid $c-monocromo-900;
            outline:none;
        }
        &:invalid {
            background-color: $c-error-light;
            border: 2px solid $c-error-default;
        }
        &:valid {
            background-color: $c-suceso-light;
            border: 2px solid $c-suceso-default;
        }
    }

}
.input__simple:focus 		{ outline:none; }
// Label  
label {
    color: $c-monocromo-600; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
  }
  
// Activate state
input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:$c-monocromo-900;
}
// Bottom bar
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
content:'';
    height:2px; 
    width:0;
    position:absolute;
    background-color:$c-monocromo-900; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%; 
}
/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}