/*------------------------------------*\
    LINKS
\*------------------------------------*/
.link {
    text-transform: uppercase;
    text-decoration: none;
    color: $c-primary-dark;
    font-weight: 500;
    &:link,
    &:active {
        color: $c-primary-dark;
    }
    &:hover { 
        color: $c-primary-default;
    }
    &:focus { 
        color: $c-primary-dark ;
    } 
}