/*------------------------------------*\
    LINKS
\*------------------------------------*/
.link {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    &__color-home {
        @extend .link;
        color: $c-primary-default;
        &:link,
        &:active {
            color: $c-primary-dark;
        }
        &:hover { 
            color: $c-primary-default;
        }
        &:focus { 
            color: $c-primary-dark ;
        } 
    }
    &__color-innovation {
        @extend .link;
        color: $c-marcas-bcc-innovation;
        &:link,
        &:active {
            color: $c-marcas-bcc-innovation;
        }
        &:hover { 
            color: $c-marcas-bcc-innovation;
        }
        &:focus { 
            color: $c-marcas-bcc-innovation;
        } 
    }
    &__color-action {
        @extend .link;
        color: $c-marcas-culinary-action;
        &:link,
        &:active {
            color: $c-marcas-culinary-action;
        }
    }
}