/*------------------------------------*\
    MENÚ PRINCIPAL
\*------------------------------------*/
.menu {
    border-bottom: 1px solid grey;
    @include respond-to(large) {
        display: flex;
        padding: $regular $small;
    }
    &__toggle {
        cursor: pointer;
        position: absolute;
        margin: 0rem 1rem;
        right: 0;
        padding-top: $x-regular;
        @include respond-to(large) {
            top: 30%;
            display: none;
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;     
        padding-left: 0;
        &--link {
            color: $c-monocromo-900;
            text-transform: uppercase;
            display: flex;
            &:hover {
                color: $c-primary-default;
                @include respond-to(large) {
                    color: $c-monocromo-900;
                    font-weight: 600;
                }
            }
        }
        a {
            text-decoration: none;
            font-size: 13px;
            letter-spacing: 0.4px;
            font-weight: 500;
        }
        @include respond-to(large) {
            flex-direction: row;
            align-items: center;
            margin-left: auto;   
        }
    }
    &__logo {
        max-width: 80px;
        padding: $small $x-small 0 $x-small;
        @include respond-to(large) {
            max-width: 137px;
            padding: 0;
        }
    }
    &__item {
        &:nth-child(1) {
        margin-top: $small;
        }
        list-style: none;
        display: none;
        padding: $small $small;
        background-color: $c-monocromo-100;
        &:hover {
            background-color: $c-monocromo-200;
            @include respond-to(large) {
                background-color: transparent;
            }
        }
        @include respond-to(large) {
            display: block;
            background-color: transparent;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
        &--logo {
            list-style: none;
            display: flex;
            align-items: center;
        }
    }
}
.close,
    input[type="checkbox"] {
    display: none;
}
.hamburger {
    margin-top: 0.2rem;
}
// .menu__item:first-child {
//     margin-right: auto;
//     display: block;
// }
#menu__checkbox:checked ~ ul.menu__menu .menu__item {
    display: block;
}
#menu__checkbox:checked ~ label.menu__toggle .hamburger {
    display: none;
}
#menu__checkbox:checked ~ label.menu__toggle .close {
    display: block;
}
.color {
    background-color: $c-monocromo-100;
}