.section {
	padding: 7px 24px;
    &__home {
        @extend .gradient;
    }
    &__innovation {
        @extend .gradient;
        background-color: $c-marcas-bcc-innovation;
    }
    @include respond-to(large) {
        padding: 13.5px 24px;
    }
    &__text {
        color: $c-monocromo-100;
        a {
            color: $c-monocromo-100;
        }
    }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}