/*------------------------------------*\
    MENÚ SECCIÓN COLOR GRADIENT
\*------------------------------------*/
.migas {
    padding: 13px 24px;
    ul {
        margin: 0;
        padding: 0;
    }
    ul,
    li {
        list-style: none;
        display: inline;
    }
    &__innovation {
        background-color: $c-marcas-bcc-innovation;
    }
    &__text {
        line-height: 20px;
        color: $c-monocromo-100;
        text-decoration: none;
        a {
            
            color: $c-monocromo-100;
        }
    }
}
    
    