/*------------------------------------*\
    MENÚ PRINCIPAL
\*------------------------------------*/
.menu {
    height: 70px;
    border-bottom: 1px solid grey;
    @include respond-to(1250px) {
        display: flex;
        padding: $regular $small;
        height: 146px;
    }
    &__toggle {
        cursor: pointer;
        position: absolute;
        margin: 0rem 1rem;
        right: 0;
        padding-top: $x-regular;
        @include respond-to(1250px) {
            top: 30%;
            display: none;
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;     
        padding-left: 0;
        position: sticky;
        &--link {
            color: $c-monocromo-900;
            text-transform: uppercase;
            display: flex;
            padding: $small;
            &:hover {
                background-color: $c-monocromo-200;
                color: $c-primary-default;
                @include respond-to(1250px) {
                    color: $c-monocromo-900;
                    background-color: transparent;
                    font-weight: 600;
                }
            }
        }
        a {
            text-decoration: none;
            font-size: clamp(15px, -6.175rem + 8.333vw, 17px);
            letter-spacing: 0.4px;
            font-weight: 500;
        }
        @include respond-to(1250px) {
            flex-direction: row;
            align-items: center;
            margin-left: auto;   
        }
    }
    &__logo {
        margin-top: 10px;
        margin-left: 5px;
        max-width: 80px;
        @include respond-to(1250px) {
            max-width: 137px;
            padding: 0;
        }
    }
    &__item {
        &:nth-child(1) {
        margin-top: $small;
        }
        list-style: none;
        display: none;
        background-color: $c-monocromo-100;
        @include respond-to(1250px) {
            display: block;
            background-color: transparent;
            &:nth-child(1) {
                margin-top: 0;
            }
        }
        &--logo {
            list-style: none;
            display: flex;
            align-items: center;
        }
    }
    &__index {
        text-transform: none;
        background-color: $c-monocromo-100;
        &--panel {
            background-color: $c-monocromo-100;
        }
        &--list {
            list-style: none;
        }
        &--item {
            padding-bottom: $small;
        }
        &--link {
            color: $c-monocromo-900;
            font-size: 20px;
            line-height: 20px;
            text-decoration-line: underline;
        }
    }
}
.close,
    input[type="checkbox"] {
    display: none;
}
.hamburger {
    margin-top: 0.2rem;
}
// .menu__item:first-child {
//     margin-right: auto;
//     display: block;
// }
#menu__checkbox:checked ~ ul.menu__menu .menu__item {
    display: block;
}
#menu__checkbox:checked ~ label.menu__toggle .hamburger {
    display: none;
}
#menu__checkbox:checked ~ label.menu__toggle .close {
    display: block;
}
.color {
    background-color: $c-monocromo-100;
}