/*------------------------------------*\
    MENÚ SECCIÓN COLOR GRADIENT
\*------------------------------------*/
.migas {
    padding: 13px 24px;
    ul {
        margin: 0;
        padding: 0;
    }
    ul,
    li {
        list-style: none;
        display: inline;
        &:not(:last-child) {
            &:after {
                content: '/';
                margin-left: 8px;
                margin-right: 8px;
            }
        }

    }
    &__innovation {
        background-color: $c-marcas-bcc-innovation;
        
    }
    &__neutral {
        background-color: $c-white;
    }
    &__text {
        line-height: 20px;
        text-decoration: none;
        &-innovation {
            @extend .migas__text;
            color: $c-white;
        }
        &-neutral {
            @extend .migas__text;
            color: $c-monocromo-900;
        }
    }
}
    
    