/*------------------------------------*\
    SVG ICON
\*------------------------------------*/
.svg__icon {
    position: relative;
    top: .1rem;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    fill: currentColor;
    &--right {
        @extend .svg__icon;
        margin-left:$small;
    }
    &--left {
        @extend .svg__icon;
        margin-right: $small;
        float: left;
    }
    &--date {
        @extend .svg__icon;
        width: 27px;
    }
    &--margin {
        @extend .svg__icon;
        margin-right: $x-small;
        margin-bottom: 0.1rem;
    }
    &--menu {
        @extend .svg__icon;
        margin-left: auto;
        top: 0;
    }
}