.svg__icon {
    position: relative;
    top: .100rem;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    fill: currentColor;
    &--right {
        @extend .svg__icon;
        margin-left: 20px;
    }
    &--left {
        @extend .svg__icon;
        margin-right: 20px;
        float: left;
    }
}