/*------------------------------------*\
    SVG ICON
\*------------------------------------*/
.svg__icon {
    position: relative;
    flex-shrink: 0;
    fill: currentColor;
    &--right {
        @extend .svg__icon;
        margin-left: $x-small;
    }
    &--left {
        @extend .svg__icon;
        margin-right: $x-small;
        float: left;
    }
    &--link {
        vertical-align: middle;
        margin-bottom: 0.2rem;
    }
    &--date {
        @extend .svg__icon;
        width: 27px;
    }
    &--margin {
        @extend .svg__icon;
        margin-right: $x-small;
        &-top {
            @extend .svg__icon--margin;
            margin-top: -0.2rem;
        }
        &-bottom {
            margin: 0 8px -8px 0;
        }
    }
    &--menu {
        @extend .svg__icon;
        margin-left: auto;
        top: 0;
    }
}