.swiper {
    width: 100%;
    height: 100%;
    padding: 0 0 24px 0;
    @include respond-to(large) {
        padding: 0 0 40px 0px;
    }
    &__fullwidth {
        @include respond-to(large) {
            width: 100%;
        }
    }
}
.swiper3 {
    overflow: hidden;
    width: 100%;
    z-index: 0;
    padding: 32px 32px 24px 24px;
    @include respond-to(large) {
        padding: 0 0 40px 0;
    }
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    &-board {
        @extend .swiper-slide;
        flex-direction: column;
        align-items: flex-start;
    }
    &-background {
        background-image: url(../src/images/img-cabecera.jpg);
    }
    // &-img3{
    //     @extend .swiper-slide;
    //     width: 40%;
    //     img {
    //         display: block;
    //         width: 100%;
    //         height: 100%;
    //         object-fit: cover;
    //     }
    // }
}
.swiper-pagination{

    &__two-column {
    position: relative;
    padding-top: $small;
    bottom: 10px;
    @include respond-to(large) {
        bottom: 20px;
    }
    }
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 16px;
    height: 16px;
    @include respond-to(large) {
        width: 24px;
        height: 24px;
    }
    background: $c-primary-default;
}
span.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    @include respond-to(large) {
        width: 24px;
        height: 24px;
    }
    border: 1px solid $c-primary-default;
    opacity: 1;
    background: $c-white;
}
.swiper-button-next, 
.swiper-button-prev {
    position: relative;
    top:50%;
    width: var(--swiper-navigation-size);
    height: var(--swiper-navigation-size);
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $c-white;
    background-color: $c-primary-darkmode;
    padding: 20px;
    border-radius: 50%;
}
:root {
    --swiper-navigation-size: 24px;
}