.tabs {
  &__link {
    text-transform: uppercase;
    cursor: pointer;
    margin-right: $x-large;
    font-size: clamp(1rem, -5.875rem + 8.333vw, 1.5rem);
  }
  &__active {
    border-bottom: solid 2px $c-primary-default;
    color: $c-primary-default;
    font-weight: 600;
  }
}
