.tag {
    padding: 3px 8px;
    text-align: center;
    color: $c-monocromo-100;
    letter-spacing: -0.23px;
    border-radius: 8px;
    appearance: button;
        // Tag formación
        &__grado {
            @extend .tag;
            background-color: $c-formacion-grado;
            border: 2px solid $c-formacion-grado;
        }
        &__master {
            @extend .tag;
            background-color: $c-formacion-master;
            border: 2px solid $c-formacion-master;
        }
        &__doctorado {
            @extend .tag;
            background-color: $c-formacion-doctorado;
            border: 2px solid $c-formacion-doctorado;
        }
        &__profesionales {
            @extend .tag;
            background-color: $c-formacion-profesionales;
            border: 2px solid $c-formacion-profesionales;
        }
        &__entusiastas {
            @extend .tag;
            background-color: $c-formacion-entusiastas;
            border: 2px solid $c-formacion-entusiastas;
        }
        // Tag grey
        &__card--grey{
            @extend .tag;
            color: $c-monocromo-900;
            border: 2px solid $c-monocromo-200;
            background-color: $c-monocromo-200;
        }
        // Tag card-producto
        &__card--border {
            @extend .tag;
            color: $c-suceso-default;
            border: 2px solid $c-suceso-default;
            background-color: $c-white;
        }
}