/*------------------------------------*\
    CARD
\*------------------------------------*/
.tag {
    padding: 5px 8px;
    text-align: center;
    color: $c-monocromo-100;
    border-radius: 8px;
    appearance: button;
    font-family: $primary-font;
    display: inline;
        // Tag formación
        &__grado {
            @extend .tag;
            background-color: $c-formacion-grado;
            border: 2px solid $c-formacion-grado;
        }
        &__master {
            @extend .tag;
            background-color: $c-formacion-master;
            border: 2px solid $c-formacion-master;
        }
        &__doctorado {
            @extend .tag;
            background-color: $c-formacion-doctorado;
            border: 2px solid $c-formacion-doctorado;
        }
        &__profesionales {
            @extend .tag;
            background-color: $c-formacion-profesionales;
            border: 2px solid $c-formacion-profesionales;
        }
        &__entusiastas {
            @extend .tag;
            background-color: $c-formacion-entusiastas;
            border: 2px solid $c-formacion-entusiastas;
        }
        &__innovation-dark {
            @extend .tag;
            background-color: $c-marcas-bcc-innovation;
            border: 2px solid $c-marcas-bcc-innovation;
        }
        &__innovation {
            @extend .tag;
            color: $c-monocromo-100;
            background-color: $c-marcas-bcc-innovation-light;
            border: 2px solid $c-marcas-bcc-innovation-light;
            &:link {
                background-color: $c-marcas-bcc-innovation-light;
                border: 2px solid $c-marcas-bcc-innovation-light;
            }
            &:active {
                color: $c-monocromo-100;
                background-color: $c-marcas-bcc-innovation;
                border: 2px solid $c-marcas-bcc-innovation;
            }
            &:hover {
                color: $c-monocromo-100;
                background-color: $c-marcas-bcc-innovation;
                border: 2px solid $c-marcas-bcc-innovation;
            }
        }
        &__primary {
            @extend .tag;
            background-color: $c-primary-darkmode;
            border: 2px solid $c-primary-darkmode;
            color: $c-primary-dark;
        }
        &__empresas {
            @extend .tag;
            color: $c-monocromo-900;
            background-color: $c-monocromo-200;
            border: 2px solid $c-monocromo-200;
            &:hover,
            &:active {
                background-color: $c-marcas-bcc-corporate;
                border: 2px solid $c-marcas-bcc-corporate;
            }
        }
        &__empresas-dark {
            @extend .tag;
            color: $c-monocromo-900;
            background-color: $c-marcas-bcc-corporate;
            border: 2px solid $c-marcas-bcc-corporate;
        }
        // Tag grey
        &__card{
            &--grey {
                @extend .tag;
                color: $c-monocromo-900;
                border: 2px solid $c-monocromo-200;
                background-color: $c-monocromo-200;
            }
            // Tag card-producto
            &--border {
                @extend .tag;
                color: $c-suceso-default;
                border: 2px solid $c-suceso-default;
                background-color: $c-white;
                &-actualidad {
                    @extend .tag__card--border;
                    color: $c-monocromo-800;
                    border: 2px solid $c-monocromo-800;
                }
            }
        }
        
}