include ../head/head.pug
    block content 
        include ../menu/menu.pug
        include ../column-icon/column-icon.pug
        include ../eventos/eventos.pug
        include ../formacion-mobile/formacion.pug
        include ../vertical-line/vertical-line-column.pug
        
        