include ../head/head.pug
    block content 
        main 
            include ../menu/menu.pug
            include ../column-icon/column-icon.pug
            include ../eventos/eventos.pug
            include ../noticias-destacados/noticias-column-2.pug
            include ../tabs/tabs.pug
            include ../formacion-mobile/formacion.pug
            include ../vertical-line/vertical-line-column.pug
            include ../ramas-investigacion/card-principal.pug
            include ../tabs/tabs.pug
            include ../vertical-line/vertical-line-column.pug
            include ../noticias-destacados/noticia-bloq1.pug
            include ../column-2-date/column-2-date.pug
            include ../footer/footer.pug
