include ../head/head.pug
    block content 
        include ../menu/menu.pug
        div.padding     
            h1.primaryfont__bold  Proyectos
            p.text-small Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.
        include ../filtro-tag/filtro.pug
        include ../innovation/card.pug
        include ../footer/footer.pug