<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <link link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600&amp;family=League+Spartan:wght@300;400;500;700;800&amp;display=swap" rel="stylesheet">
  </head>
  <body> 
    <section class="padding">
      <div class="padding__top-x-large">
        <div>
          <p class="text-large">Restaurantes</p>
          <h1 class="primaryfont__bold">Dos conceptos distintos</h1>
        </div>
      </div>
      <section class="padding__bottom-x-large grid__c2">
        <div>
          <div><img class="box__img--bloq2-border" src="../../src/images/img-noticias.jpg" alt="">
            <p class="text-small">Restaurante BCC</p>
            <h4 class="box__title primaryfont__bold">Cita GO-ON</h4>
          </div>
          <div class="box__date">
            <div>
              <div class="box__icon--date">
                <svg class="svg__icon--margin">
                  <use xlink:href="../../src/iconos/calendar.svg#calen"></use>
                </svg><span class="box__icon--date-innovation">
                  <p class="text-small">Fecha de publicación: </p></span>
                <p class="text-small"> 04/02/2022</p>
              </div>
              <div class="box__icon--date">
                <svg class="svg__icon--margin">
                  <use xlink:href="../../src/iconos/watch.svg#watch"></use>
                </svg><span class="box__icon--date-innovation">
                  <p class="text-small">Horario: </p></span>
                <p class="text-small"> 100€</p>
              </div>
              <div class="box__icon--date">
                <svg class="svg__icon--margin">
                  <use xlink:href="../../src/iconos/users.svg#users"></use>
                </svg><span class="box__icon--date-innovation">
                  <p class="text-small">Autor: </p></span>
                <p class="text-small"> BCC Innovation</p>
              </div>
            </div>
          </div>
          <p class="text-small">Nuestros alumnos del Máster de Perfeccionamiento en Cocina han diseñado un menú inspirados en la historia del hombre a través de la alimentación, del Homo sapiens hasta nuestros días.</p>
          <div><a class="btn__primary--large-color-width" href="#">Reserbar en restaurante BCC</a></div>
        </div>
        <div>
          <div><img class="box__img--bloq2-border" src="../../src/images/img-noticias.jpg" alt="">
            <p class="text-small">Restaurante LABe</p>
            <h4 class="box__title primaryfont__bold">Producto local y de temporada</h4>
          </div>
          <div class="box__date">
            <div>
              <div class="box__icon--date">
                <svg class="svg__icon--margin">
                  <use xlink:href="../../src/iconos/calendar.svg#calen"></use>
                </svg><span class="box__icon--date-innovation">
                  <p class="text-small">Fecha de publicación: </p></span>
                <p class="text-small"> 04/02/2022</p>
              </div>
              <div class="box__icon--date">
                <svg class="svg__icon--margin">
                  <use xlink:href="../../src/iconos/watch.svg#watch"></use>
                </svg><span class="box__icon--date-innovation">
                  <p class="text-small">Horario: </p></span>
                <p class="text-small"> 100€</p>
              </div>
              <div class="box__icon--date">
                <svg class="svg__icon--margin">
                  <use xlink:href="../../src/iconos/users.svg#users"></use>
                </svg><span class="box__icon--date-innovation">
                  <p class="text-small">Autor: </p></span>
                <p class="text-small"> BCC Innovation</p>
              </div>
            </div>
          </div>
          <p class="text-small">Nuestros alumnos del Máster de Perfeccionamiento en Cocina han diseñado un menú inspirados en la historia del hombre a través de la alimentación, del Homo sapiens hasta nuestros días.</p>
          <div><a class="btn__primary--large-color-width" href="#">Reserbar en LABe</a></div>
        </div>
      </section>
    </section>
  </body>
</html>