mixin menu-section(colorColor="migas__innovation", colorBackground= "migas__innovation", colorText="migas__text-innovation")
    div.display__desktop.migas(class= colorBackground)
        ul  
            li(class= colorColor)
                a.text-small(class= colorText)(href="www") Home
            li(class= colorColor)
                a.text-small(class= colorText)(href="www") Innovación
            li(class= colorColor)
                a.text-small(class= colorText)(href="www") Líneas de investigación

