mixin menu-index()   
    section.padding.accordion__section
        div.accordion__item
            button.accordion Accordion 1
            .panel 
                nav 
                    ul
                        li.menu__item   
                            a(class="menu__menu--link primaryfont__bold" href="#") Sobre BCC
                        li.menu__item   
                            a(class="menu__menu--link" href="#") Formación 
                        li.menu__item   
                            a(class="menu__menu--link" href="#") Innovación 
                        li.menu__item   
                            a(class="menu__menu--link" href="#") Empresas 
                        li.menu__item   
                            a(class="menu__menu--link" href="#") Iniciativas 
                        li.menu__item   
                            a(class="menu__menu--link" href="#") Restaurantes 
                        li.menu__item   
                            a(class="menu__menu--link" href="#") Actualidad 
                