mixin menu()   
    div
        nav.menu
            //- icono burger/close
            input(type="checkbox" id="menu__checkbox" class="menu__checkbox")
            label(for="menu__checkbox" class="menu__toggle") 
                img(src="../../src/images/burger.png" class="hamburger")
                img(src="../../src/images/closed.png" class="close")
            //- logo
            .menu__item--logo
                a(class="menu__menu" href="#")
                    img(class="menu__logo" src="../../src/images/logo-bcc.png", alt="") 
            //- enlaces
            ul.menu__menu
                li.menu__item   
                    a(class="menu__menu--link primaryfont__bold" href="#") Sobre BCC
                        img(class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
                li.menu__item   
                    a(class="menu__menu--link" href="#") Formaci贸n 
                        img(class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
                li.menu__item   
                    a(class="menu__menu--link" href="#") Innovaci贸n 
                        img(class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
                li.menu__item   
                    a(class="menu__menu--link" href="#") Empresas 
                        img(class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
                li.menu__item   
                    a(class="menu__menu--link" href="#") Iniciativas 
                        img(class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
                li.menu__item   
                    a(class="menu__menu--link" href="#") Restaurantes 
                        img(class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
                li.menu__item   
                    a(class="menu__menu--link" href="#") Actualidad 
                        img(class="svg__icon--menu display__mobile" src="../src/iconos/arrow-link.svg#arrow-link" type="img/svg")
            //- button desktop
            .menu__item.display__desktop
                a.btn__primary--large-color-menu.display__desktop(href="asdsadsad") Encuentra tu formaci贸n
    //- button mobile
    div.padding.padding__top-regular.display__mobile
        a.btn__primary--medium-color-menu(href="www") Encuentra tu formaci贸n
        

            