mixin menu-gradient(backgroundColor="gradient__innovation")
    div(class= backgroundColor)
        p.text-small.gradient__text Conoce los nuevos proyectos de
            a(class="primaryfont__bold" href="#")  BCC Innovation