<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="menu.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
  </head>
  <body> 
    <nav> 
      <ul class="menu"> 
        <li class="logo"> <a href=""><img src="../../src/images/logo-bcc.png" alt=""></a></li>
        <li class="item"><a href="">Inicio </a></li>
        <li class="item"> <a href="">Contacto</a></li>
        <li class="item has-submenu"><a href="" tabindex="0">Services</a>
          <ul class="submenu">
            <li class="subitem"> <a href="">Página </a></li>
            <li class="subitem"> <a href="">Página </a></li>
            <li class="subitem"> <a href="">Página</a></li>
            <li class="subitem"> <a href="">Página</a></li>
          </ul>
        </li>
        <li class="item has-submenu"><a href="" tabindex="0">Services</a>
          <ul class="submenu">
            <li class="subitem"> <a href="">Página </a></li>
            <li class="subitem"> <a href="">Página </a></li>
            <li class="subitem"> <a href="">Página</a></li>
            <li class="subitem"> <a href="">Página</a></li>
          </ul>
        </li>
        <li class="item button"> <a href="">Formación </a></li>
        <li class="toggle"> <img class="burger" src="../../src/images/burger.png" alt=""><img class="closed" src="../../src/images/closed.png" alt=""></li>
      </ul>
    </nav>
    <script src="../menu/menu.js"></script>
  </body>
</html>