mixin menu-index()   
    section.display__mobile
        div.accordion__item
        button.menu__index.accordion ÍNDICE Innovación
        .panel.menu__index--panel 
            div
                nav 
                    ul.menu__index--list
                        li.menu__index--item   
                            a(class="menu__index--link" href="#") Sobre BCC
                        li.menu__index--item      
                            a(class="menu__index--link" href="#") Formación 
                        li.menu__index--item      
                            a(class="menu__index--link" href="#") Innovación 
                        li.menu__index--item      
                            a(class="menu__index--link" href="#") Empresas 
                        li.menu__index--item      
                            a(class="menu__index--link" href="#") Iniciativas 
                        li.menu__index--item      
                            a(class="menu__index--link" href="#") Restaurantes 
                        li.menu__index--item      
                            a(class="menu__index--link" href="#") Actualidad