mixin menu-section(colorBackground= "migas__innovation", colorText="migas__text-innovation")
    div.display__desktop.migas(class= colorBackground)
        ul  
            li
                a.text-small(class= colorText)(href="www") Home
                    ul  
                        li 
                            a.text-small(class= colorText)(href="www") Innovación
                                ul  
                                    li 
                                        a.text-small(class= colorText)(href="www") Líneas de investigación


