mixin menu-gradient(backgroundColor="gradient__innovation")
    div.gradient__home(class= backgroundColor)
        p.text-small.gradient__text Ven a disfrutar de nuestra cocina  
            a(class="primaryfont__bold" href="#") Restaurantes