<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;0,800;1,600&amp;family=League+Spartan:wght@300;400;500;700;800&amp;display=swap" rel="stylesheet">
  </head>
  <body> 
    <nav class="topbar">
      <ul class="topbar__list">
        <li class="topbar__list--item"><a class=".topbar__list--item--link" href="#">ACCESOS</a>
          <ul class="topbar__list--submenu">
            <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site 1</a></li>
            <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site 2</a></li>
            <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site 3</a></li>
            <li class="topbar__list--submenu--item"><a class="topbar__list--submenu--item--link" href="#">Acceso Site 3</a></li>
          </ul>
        </li>
        <li class="topbar__list--item"><a class=".topbar__list--item--link" href="#">Enlace 1</a></li>
        <li class="topbar__list--item"><a class=".topbar__list--item--link" href="#">Enlace 1</a></li>
        <li class="topbar__list--item"><a class=".topbar__list--item--link" href="#">Enlace 1</a></li>
      </ul>
    </nav>
  </body>
</html>