div 
    nav.topbar
        ul.topbar__list
            li.topbar__list--item
                a(class="topbar__list--item--link" href="#") ACCESOS
                ul.topbar__list--submenu
                    li.topbar__list--submenu--item
                        a(class="topbar__list--submenu--item--link" href="#") Acceso Site
                    li.topbar__list--submenu--item
                        a(class="topbar__list--submenu--item--link" href="#") Acceso Site
                    li.topbar__list--submenu--item
                        a(class="topbar__list--submenu--item--link" href="#") Acceso Site
                    li.topbar__list--submenu--item
                        a(class="topbar__list--submenu--item--link" href="#") Acceso Site
            li.topbar__list--item
                a(class="topbar__list--item--link" href="#") CONTACTO
            li.topbar__list--item
                a(class="topbar__list--item--link" href="#") TIENDA BCC
            li.topbar__list--item
                a(class="topbar__list--item--link" href="#") SÍGUENOS
            li.topbar__list--item
                a(class="topbar__list--item--link" href="#") ES
                ul.topbar__list--submenu
                    li.topbar__list--submenu--item
                        a(class="topbar__list--submenu--item--link" href="#") EN
                    li.topbar__list--submenu--item
                        a(class="topbar__list--submenu--item--link" href="#") FR
                    li.topbar__list--submenu--item
                        a(class="topbar__list--submenu--item--link" href="#") CA

